<div class="container-fluid">
  <h2>Dettaglio di {{ data?.anagrafica?.nome | titlecase  }} {{ data?.anagrafica?.cognome | titlecase  }}   <button class="btn btn-primary" (click)=" modificaAnagrafica()" matTooltip="Modifica anagrafica" > <i class="fa fa-pencil"></i> </button> </h2>
  <div class="row">
    <div class="col-md-6">
      <h4>Anagrafica</h4>
      <ul>
        <li><strong>Nome:</strong> {{ data?.anagrafica?.nome ? data.anagrafica.nome : 'Dato non inserito' | titlecase  }}</li>
        <li><strong>Cognome:</strong> {{ data?.anagrafica?.cognome ? data.anagrafica.cognome : 'Dato non inserito' | titlecase }}</li>
        <li><strong>Codice Fiscale:</strong> {{ data?.anagrafica?.codiceFiscale  ? data.anagrafica.codiceFiscale : 'Dato non inserito' | uppercase  }}</li>
        <li><strong>Azienda:</strong> {{ data?.anagrafica?.aziendaTipo ? data.anagrafica.aziendaTipo : 'Dato non inserito' | titlecase }}</li>
        <li><strong>Attivo:</strong> {{ data?.anagrafica?.attivo ? 'Sì' : 'No' }}</li>
        <li><strong>Mail Aziendale:</strong> {{ data?.anagrafica?.mailAziendale ? data.anagrafica.mailAziendale : 'Dato non inserito' }}</li>
        <li><strong>Mail PEC:</strong> {{ data?.anagrafica?.mailPec ? data.anagrafica.mailPec : 'Dato non inserito' }}</li>
        <li><strong>Titoli di Studio:</strong> {{ data?.anagrafica?.titoliDiStudio ? data.anagrafica.titoliDiStudio : 'Dato non inserito' | titlecase }}</li>
        <li><strong>Altri Titoli:</strong> {{ data?.anagrafica?.altriTitoli ? data.anagrafica.altriTitoli : 'Dato non inserito'  | titlecase  }}</li>
        <li><strong>Coniugato:</strong> {{ data?.anagrafica?.coniugato  ? 'Sì' : 'No' }}</li>
        <li><strong>Figli a Carico:</strong> {{ data?.anagrafica?.figliACarico  ? 'Sì' : 'No' }}</li>
      </ul>

      <h4>Storici</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Storico contratti</th>
            <th>Storico commesse</th>
          </tr>
        </thead>

       <tbody>
        <tr>
          <td>
            <div class="col-md-3">
              <button class="btn btn-success" (click)="getStoricoContratti(data?.anagrafica.id)">Storico contratti</button>
          </div>
          </td>
          <td>
            <div class="col-md-3">
              <button class="btn btn-success" [disabled]="data?.commesse.length===0" (click)="getStoricoCommessa(data?.anagrafica.id)">Storico Commesse</button>
          </div>
          </td>
        </tr>
       </tbody>
      </table>

      <h4>Ruolo</h4>
      <ul>
        <li><strong>Nome:</strong> {{ data?.ruolo?.nome ? data.ruolo.nome : 'Dato non inserito'  }}</li>
        <li><strong>Descrizione:</strong> {{ data?.ruolo?.descrizione ? data.ruolo.descrizione : 'Dato non inserito'  }}</li>
      </ul>

    </div>





    <div class="col-md-6">
      <h4>Contratto</h4>
      <ul>
        <li><strong>Tipo Contratto:</strong> {{ data?.contratto?.tipoContratto?.descrizione  }}</li>
        <li><strong>Livello Contratto:</strong> {{ data?.contratto?.livelloContratto?.livello }}</li>
        <li><strong>Tipo Azienda:</strong> {{ data?.contratto?.tipoAzienda?.descrizione }}</li>
        <li><strong>Tipo CCNL:</strong> {{ data?.contratto?.tipoCcnl?.descrizione }}</li>
        <li><strong>Attivo:</strong> {{ data?.contratto?.attivo ? 'Sì' : 'No' }}</li>
        <li><strong>Sede Assunzione:</strong> {{ data?.contratto?.sedeAssunzione }}</li>
        <li><strong>Qualifica:</strong> {{ data?.contratto?.qualifica }}</li>
        <li><strong>Data Assunzione:</strong> {{ data?.contratto?.dataAssunzione | date: 'dd/MM/yyyy' }}</li>
        <li><strong>Data Inizio Prova:</strong> {{ data?.contratto?.dataInizioProva | date: 'dd/MM/yyyy' }}</li>
        <li><strong>Data Fine Prova:</strong> {{ data?.contratto?.dataFineProva | date: 'dd/MM/yyyy' }}</li>
        <li><strong>Data Fine Rapporto:</strong> {{ data?.contratto?.dataFineRapporto | date: 'dd/MM/yyyy' }}</li>
        <li><strong>Mesi Durata:</strong> {{ data?.contratto?.mesiDurata }}</li>
        <li><strong>Livello Attuale:</strong> {{ data?.contratto?.livelloAttuale }}</li>
        <li><strong>Livello Finale:</strong> {{ data?.contratto?.livelloFinale }}</li>
        <li><strong>Dimissioni:</strong> {{ data?.contratto?.dimissioni }}</li>
        <li><strong>Part Time:</strong> {{ data?.contratto?.partTime }}</li>
        <li><strong>Part Time A:</strong> {{ data?.contratto?.partTimeA }}</li>
        <li><strong>Retribuzione Mensile Lorda:</strong> {{ data?.contratto?.retribuzioneMensileLorda }}</li>
        <li><strong>Superminimo Mensile:</strong> {{ data?.contratto?.superminimoMensile }}</li>
        <li><strong>RAL Annuale:</strong> {{ data?.contratto?.ralAnnua }}</li>
        <li><strong>Superminimo RAL:</strong> {{ data?.contratto?.superminimoRal }}</li>
        <li><strong>Diaria Mese:</strong> {{ data?.contratto?.diariaMese }}</li>
        <li><strong>Diaria Giorno:</strong> {{ data?.contratto?.diariaGg }}</li>
        <li><strong>Ticket:</strong> {{ data?.contratto?.ticket }}</li>
        <li><strong>Valore Ticket:</strong> {{ data?.contratto?.valoreTicket }}</li>
        <li><strong>Categoria Protetta:</strong> {{ data?.contratto?.categoriaProtetta }}</li>
        <li><strong>Tutor:</strong> {{ data?.contratto?.tutor }}</li>
        <li><strong>PFI:</strong> {{ data?.contratto?.pfi }}</li>
        <li><strong>Assicurazione Obbligatoria:</strong> {{ data?.contratto?.assicurazioneObbligatoria }}</li>
        <li><strong>Corso Sicurezza:</strong> {{ data?.contratto?.corsoSicurezza }}</li>
        <li><strong>Motivazione Fine Rapporto:</strong> {{ data?.contratto?.motivazioneFineRapporto }}</li>
        <li><strong>PC:</strong> {{ data?.contratto?.pc }}</li>
        <li><strong>Scatti Anzianità:</strong> {{ data?.contratto?.scattiAnzianita }}</li>
        <li><strong>Tariffa Partita IVA:</strong> {{ data?.contratto?.tariffaPartitaIva }}</li>
        <li><strong>Canale Reclutamento:</strong> {{ data?.contratto?.canaleReclutamento }}</li>
      </ul>

    </div>
  </div>

  <h4>Commessa</h4>

  <p *ngIf="data?.commesse.length==0" >Commesse non presenti.</p>

  <div class="table-responsive" *ngIf="data?.commesse.length!=0" >
    <table id="commessaTable" class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Cliente</th>
          <th scope="col">Cliente Finale</th>
          <th scope="col">Titolo Posizione</th>
          <th scope="col">Distacco</th>
          <th scope="col">Data Inizio</th>
          <th scope="col">Data Fine</th>
          <th scope="col">Costo Mese</th>
          <th scope="col">Tariffa Giornaliera</th>
          <th scope="col">Nominativo</th>
          <th scope="col">Azienda</th>
          <th scope="col">Azienda di Fatturazione Interna</th>
          <th scope="col">Stato</th>
          <th scope="col">Attesa Lavori</th>
          <th>Modifica</th>
          <th>Elimina</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let commessa of data?.commesse ; let i = index">
          <td>{{ commessa.cliente }}</td>
          <td>{{ commessa.clienteFinale }}</td>
          <td>{{ commessa.titoloPosizione }}</td>
          <td>{{ commessa.distacco }}</td>
          <td>{{ commessa.dataInizio | date: 'dd/MM/yyyy' }}</td>
          <td>{{ commessa.dataFine | date: 'dd/MM/yyyy' }}</td>
          <td>{{ commessa.costoMese }}</td>
          <td>{{ commessa.tariffaGiornaliera }}</td>
          <td>{{ commessa.nominativo }}</td>
          <td>{{ commessa.azienda }}</td>
          <td>{{ commessa.aziendaDiFatturazioneInterna }}</td>
          <td>{{ commessa.stato ? 'Attiva' : 'Inattiva' }}</td>
          <td>{{ commessa.attesaLavori ? 'Sì' : 'No' }}</td>
          <td>
            <button class="btn btn-warning" (click)="modificaCommessa()" > <i class="fa fa-pencil"></i> </button>

         </td>
         <td>
          <button class="btn btn-danger" (click)="rimuoviCommessa(i)" >
            <i class="fa fa-trash" ></i>
           </button>
         </td>
        </tr>
      </tbody>
    </table>
  </div>


</div>


