.not-found-container {
  text-align: center;
  padding: 50px;
}

h1 {
  font-size: 3rem;
  color: #f00; /* Colore rosso per il titolo */
}

p {
  font-size: 1.2rem;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: #007bff; /* Colore blu per i link */
  font-weight: bold;
}
