<html>

<body>
    <button [routerLink]="['../nuova-anagrafica']">Inserisci Nuova Anagrafica</button>
    <table id="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Codice Fiscale</th>
                <th>Dettaglio</th>
                <th>--------------</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of lista">
                <td>{{ data.nome }}</td>
                <td>{{ data.cognome }}</td>
                <td>{{ data.codiceFiscale }}</td>
                <td>
                    <a [routerLink]="['/anagrafica', data.id]"><img src="../../../../assets/images/dettagli.png"
                            height="30px" width="45px"></a>
                </td>
                <td>
                    <button (click)="delete(data?.id)">Elimina</button>
                </td>
            </tr>
        </tbody>

    </table>
</body>

</html>