<html>

<body>
    <form [formGroup]="form" (ngSubmit)="inserisci()">

        <fieldset>
            <legend>Dati Generali</legend>
            <div>
                <label for="cliente">Cliente</label>
                <input type="text" placeholder="Inserisci il cliente" id="cliente" formControlName="cliente">
            </div>
            <div>
                <label for="clienteFinale">Cliente Finale</label>
                <input type="text" placeholder="Inserisci il cliente finale" id="clienteFinale"
                    formControlName="clienteFinale">
            </div>
            <div>
                <label for="titoloPosizione">Titolo Posizione</label>
                <input type="text" placeholder="Inserisci titolo posizione" id="titoloPosizione"
                    formControlName="titoloPosizione">
            </div>
            <div>
                <label for="distacco">Distacco</label>
                <input type="text" placeholder="Inserisci il distacco" id="distacco" formControlName="distacco">
            </div>
            <div>
                <label for="dataInizio">Data inizio</label>
                <mat-form-field appearance="outline">
                    <input matInput [matDatepicker]="picker" formControlName="dataInizio">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

            </div>
            <div>
                <label for="dataFine">Data fine</label>
                <mat-form-field appearance="outline">
                    <input matInput [matDatepicker]="picker2" formControlName="dataFine">

                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>
        </fieldset>
        <fieldset>
            <legend>Specifiche</legend>
            <div>
                <label for="costoMese">Costo mese</label>
                <input type="text" placeholder="Inserisci il costo mensile" id="costoMese" formControlName="costoMese">
            </div>
            <div>
                <label for="tariffaGiornaliera">Tariffa giornaliera</label>
                <input type="text" placeholder="Inserisci il tariffa giornaliera" id="tariffaGiornaliera"
                    formControlName="tariffaGiornaliera">
            </div>
            <div>
                <label for="nominativo">Nominativo</label>
                <input type="text" placeholder="Inserisci il nominativo" id="nominativo" formControlName="nominativo">
            </div>
            <div>
                <label for="azienda">Azienda</label>
                <input type="text" placeholder="Inserisci il azienda" id="azienda" formControlName="azienda">
            </div>
            <div>
                <label for="aziendaDiFatturazioneInterna">Azienda di fatturazione interna</label>
                <input type="text" placeholder="Inserisci il domicilio" id="aziendaDiFatturazioneInterna"
                    formControlName="aziendaDiFatturazioneInterna">
            </div>
            <div>
                <label for="stato">Stato</label>
                <input id="checkbox" type="checkbox" formControlName="stato">
            </div>
            <div>
                <label for="attesaLavori">Attesa lavori</label>
                <input type="text" placeholder="Inserisci attesa lavori" id="attesaLavori"
                    formControlName="attesaLavori">
            </div>
            <div>
                <button type="submit">Salva</button>
                <button [routerLink]="['../lista-commesse']">Annulla e torna indietro</button>
            </div>
        </fieldset>
    </form>

</body>

</html>