/* Stile per la mat-card */
.custom-card {
  width: 400px;
  /* Imposta la larghezza desiderata */
  margin: auto;
  /* Centra orizzontalmente */
  margin-top: 50px;
  /* Aggiungi uno spazio sopra la card (se desiderato) */
}





.footer {
  width: 100%;
  background-color: #333;
  // position: fixed;
  bottom: 0;
  left: 0;
  // z-index: 1000;
}
.dark-mode .footer{
  border: 1px solid white;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  padding: 20px;
}
.footer .col h2 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 17px;
  padding: 10px 0;
  color: #007bff;
  text-transform: uppercase;
}
.footer .col ul {
  list-style-type: none;
  padding: 0;
}
.footer .col ul li {
  color: white;
  font-size: 12px;
  padding: 5px 0px;
}
.address ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  cursor: pointer;
  color: lightgray;
  font-weight: bold;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .address {
    width: 1000px;
    display: block;
  }
  .address h2 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h2 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h2 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}

.social-icon {
  color: #fff;
  font-size: 1.5em;
  margin-right: 10px;
  text-decoration: none;
}



//navbar

#toolbar {
  background-color: #333;
  color: #f2f2f2;
}

.container-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px;
}

.logo-link {
  margin-right: 10px;
}

.logo-image {
  border-radius: 100%;
}

.toolbar-menu {
  display: flex;
  gap: 10px;
}

.toolbar-link {
  color: white;
  text-decoration: none;
}

.form-switch {
  margin-right: 10px;
}

:root {
  --primary-color: #333;
  --text-color: white;
}

@media screen and (max-width: 830px) {
  .hamburger-menu {
    cursor: pointer;
    color: var(--text-color);
    font-size: 20px;
  }

  .toolbar-link {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }
}

@media screen and (min-width: 831px) {
  .hamburger-menu {
    display: none;
  }

  .toolbar-link {
    display: flex;
  }
}
