/* Stile per la mat-card */
.custom-card {
  width: 400px; /* Imposta la larghezza desiderata */
  margin: auto; /* Centra orizzontalmente */
  margin-top: 50px; /* Aggiungi uno spazio sopra la card (se desiderato) */
}
