<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <header>
          <h1>Cambio password</h1>
        </header>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <main>
          <label>Inserisci la vecchia password</label>
          <input type="text" class="form-control" placeholder="Inserisci la vecchia password" >
          <label>Inserisci la nuova password</label>
          <input type="text" class="form-control" placeholder="Inserisci la nuova password" >
          <label>Ripeti la nuova password</label>
          <input type="text" class="form-control" placeholder="Ripeti la nuova password" >
          <button class="btn btn-success">
            Cambia password
          </button> &nbsp;
          <button class="btn btn-info" [routerLink]="['/profile-box']">
           Annulla
          </button>
        </main>
      </div>
    </div>
  </div>
</body>
</html>
