<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <main class="d-flex justify-content-center align-items-center" style="height: 100vh;">
          <mat-card class="custom-card">
            <mat-card-header>
              <mat-card-title>Cambio password</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
                <div>
                  <label for="oldPassword">Vecchia Password</label>
                  <input class="form-control" type="password" formControlName="oldPassword">
                  <div class="text-danger" *ngIf="hasError('oldPassword', 'required')">
                    Vecchia Password è un campo obbligatorio.
                  </div>
                </div>
                <br>
                <div>
                  <label for="newPassword">Nuova Password</label>
                  <input class="form-control" type="password" formControlName="newPassword">
                  <div class="text-danger" *ngIf="hasError('newPassword', 'required')">
                    Nuova Password è un campo obbligatorio.
                  </div>
                  <div class="text-danger" *ngIf="hasError('newPassword', 'minlength')">
                    Nuova Password deve essere lunga almeno 6 caratteri.
                  </div>
                </div>
                <br>
                <div>
                  <label for="confirmPassword">Ripeti Nuova Password</label>
                  <input class="form-control" type="password" formControlName="confirmPassword">
                  <div class="text-danger" *ngIf="hasError('confirmPassword', 'required')">
                    Ripeti Nuova Password è un campo obbligatorio.
                  </div>
                  <div class="text-danger" *ngIf="hasMismatchError()">
                    Le password non coincidono.
                  </div>
                </div>
                <br>
                <button class="btn btn-success" type="submit" [disabled]="!passwordForm.valid">Cambia Password</button> &nbsp;
                <button class="btn btn-info" [routerLink]="['/profile-box']" >Annulla</button>
              </form>
            </mat-card-content>
          </mat-card>
        </main>
      </div>
    </div>
  </div>
</body>
</html>
