<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body [class.dark-mode]="themeService.isDarkModeEnabled()">

  <div id="inizioPagina"></div>

  <div class="container-toolbar" *ngIf="!mobile && jsonData?.list">
    <div class="row align-items-center">
      <div class="col-auto">
        <a [routerLink]="['/home']" class="logo-link">
          <img class="logo-image" width="40" height="40" src="../../../../assets/images/logo.jpeg" alt="Logo">
        </a>
      </div>

      <div class="col-auto">
        <button  *ngIf="getWindowWidth() < 830" mat-icon-button [matMenuTriggerFor]="hamburgerMenu" (click)="toggleHamburgerMenu()" class="hamburger-icon">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <div class="col-auto">
        <mat-menu #hamburgerMenu="matMenu" class="hamburger-menu">
          <button id="menu-voice" mat-menu-item *ngFor="let menuItem of jsonData.list" (click)="navigateTo(menuItem.percorso)">
            {{ menuItem.nome }}
          </button>
        </mat-menu>

        <div class="toolbar-menu" *ngIf="jsonData && jsonData.list && !isHamburgerMenuOpen">
          <a (click)="getPermissions(menuItem.id)" style="color: white;" class="toolbar-link"
            *ngFor="let menuItem of jsonData.list" [routerLink]="[menuItem.percorso]">
            {{ menuItem.nome }}
          </a>
        </div>
      </div>

      <div class="col-auto" *ngIf="jsonData && jsonData.list && !isHamburgerMenuOpen">
        <a style="color:white; cursor: pointer;" (click)="vaiAlRapportino()">Rapportino</a>
      </div>

      <div class="col-auto">
        <div class="form-check form-switch" matTooltip="{{ themeService.isDarkModeEnabled() ? 'Light mode' : 'Dark Mode' }}">
          <input class="form-check-input" [checked]="themeService.isDarkModeEnabled()" (click)="toggleDarkMode()" type="checkbox" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault" matTooltip="{{ themeService.isDarkModeEnabled() ? 'Light mode' : 'Dark Mode' }}"></label>
        </div>
      </div>

      <div class="col-auto">
        <div style="cursor: pointer;" mat-icon-button [routerLink]="['/profile-box']" class="user-icon">
          <small *ngIf="userRoleNav===false">{{userLoggedName}} {{userLoggedSurname}} (Admin) &nbsp;</small>
          <small *ngIf="userRoleNav===true">{{userLoggedName}} {{userLoggedSurname}} (Dipendente) &nbsp;</small>
          <i class="fa fa-user"></i>
        </div>
      </div>

      <div class="col-auto">
        <div style="cursor: pointer;" mat-icon-button (click)="logout()" class="logout-icon">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>

 <div class="container-toolbar" [hidden]="tokenProvvisorio != null && tokenProvvisorio == null">
    <mat-toolbar id="toolbar" *ngIf="token && mobile  && jsonData?.list">
      <a [routerLink]="['/home']" class="logo-link">
        <img class="logo-image" width="40" height="40" src="../../../../assets/images/logo.jpeg" alt="Logo">
      </a>
      <button style="background-color:#333;color:white;margin-left:-10px;margin-right:3px;border-radius:1px;padding:5px;"
        mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <ng-template matMenuContent>
          <button  mat-menu-item *ngFor="let menuItem of jsonData.list"
            [routerLink]="[menuItem.percorso]" (click)="getPermissions(menuItem.id)">
            {{ menuItem.nome }}
          </button>
          <button mat-menu-item  (click)="vaiAlRapportino()">
            Rapportino
          </button>
        </ng-template>
      </mat-menu>

      <span style="cursor: pointer;" mat-icon-button [routerLink]="['/profile-box']" class="user-icon">
        <small *ngIf="userRoleNav===false">{{userLoggedName}} {{userLoggedSurname}} (Admin) &nbsp;</small>
        <small *ngIf="userRoleNav===true">{{userLoggedName}} {{userLoggedSurname}} (Dipendente) &nbsp;</small>
        <i class="fa fa-user"></i>
      </span> &nbsp;&nbsp;
      <span style="cursor: pointer;" mat-icon-button (click)="logout()" class="logout-icon">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
      </span>
    </mat-toolbar>
  </div>
<div class="container-fluid"  *ngIf="ruolo==='ADMIN'" >
  <div class="row">
    <div class="col-12">
      <br>
      <mat-card style="text-align: center;">
        <h1><img src="../../../../assets/images/logoSincronoCompleto.png" alt="Logo Sincrono"></h1>
        <h1>Verifica rapportino</h1>
      </mat-card>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <!-- <legend>Dati anagrafici</legend> -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nominativo</th>
            <th>Codice fiscale</th>
            <th>Mese</th>
            <th>Anno</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> {{nome}} {{cognome}} <i class="fa fa-info-circle" [routerLink]="['/dettaglio-anagrafica/',id]" ></i> </td>
            <td>{{codiceFiscale}}</td>
            <td>{{mese}}</td>
            <td>{{anno}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <legend>Richieste accettate</legend>
      <table class="table table-striped" *ngIf="elencoRichiesteAccettate.length>0" >
        <thead>
          <tr>
            <!-- <th>ID</th> -->
            <th>Giorni</th>
            <th>Mese</th>
            <th>Anno</th>
            <!-- <th>Codice Fiscale</th> -->
            <!-- <th>Note</th> -->
            <th>Tipo Richiesta</th>
            <th>Dalle ore</th>
            <th>Alle ore</th>
            <!-- <th>Stato</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let richiesta of elencoRichiesteAccettate">
            <td>
              <span *ngFor="let item of richiesta.list">{{ item.nGiorno }} </span>
            </td>
            <td>{{ getMonthName(richiesta.mese) }}</td>
            <td>{{ richiesta.anno }}</td>
            <td>
              <span *ngIf="richiesta.list[0].ferie">Ferie</span>
              <span *ngIf="richiesta.list[0].permessi">Permessi</span>
              <span *ngIf="!richiesta.list[0].ferie && !richiesta.list[0].permessi">N/A</span>
            </td>
            <td>
              <span *ngFor="let item of richiesta.list">{{ item.daOra }} </span>
            </td>
            <td>
              <span *ngFor="let item of richiesta.list">{{ item.aOra }} </span>
            </td>
          </tr>
        </tbody>
      </table>
      <mat-card *ngIf="elencoRichiesteAccettate.length==0" >
        <mat-card-content>
          <p> <i class="fa fa-info-circle" ></i> Non ci sono richieste accettate al momento.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <!-- <legend>Rapportino</legend> -->
    </div>
  </div>
  <div class="row" >
    <div class="col-2" *ngFor="let giorno of rapportinoDto; let i = index;  trackBy: trackByFn"  >
      <mat-card  [ngStyle]="{'background-color': (giorno.nomeGiorno === 'sabato' || giorno.nomeGiorno === 'domenica') ? 'aliceblue' : (giorno.festivitaNazionale ? 'rgb(238, 64, 64)' : 'rgb(214, 234, 251)')}" >
        <mat-card-title style="text-align: center;">
          <p> <button mat-fab color color="primary" >{{giorno.numeroGiorno}}</button> {{giorno.nomeGiorno |titlecase }}</p>
        </mat-card-title>
     <div *ngFor="let duplicazione of giorno.duplicazioniGiornoDto; let j = index;  trackBy: trackByFn">
      <mat-card-content>
        <div class="row">
          <div class="col-8">
            <div class="form-group">
              <label for="cliente-{{ i }}{{j}}">Cliente</label>
              <input type="text" id="cliente-{{ i }}{{j}}" class="form-control" name="cliente-{{ i }}{{j}}" [(ngModel)]="duplicazione.cliente" disabled>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label for="ore-ordinarie-{{ i }}{{j}}">Ore</label>
                <input disabled
                type="text" class="form-control"
                id="ore-ordinarie-{{ i }}{{j}}" name="ore-ordinarie-{{ i }}{{j}}"
                [(ngModel)]="duplicazione.oreOrdinarie">
            </div>
          </div>
        </div>
        <div class="straordinari" id="straordinari"  >
         <div class="row" >

          <div class="col-4">
           <div class="form-group">
            <label for="fascia1-{{ i }}{{j}}">18-20</label>
            <input disabled
            type="text" class="form-control"
            id="fascia1-{{ i }}{{j}}" name="fascia1-{{ i }}{{j}}"
            [(ngModel)]="duplicazione.fascia1">
           </div>
          </div>
          <div class="col-4" >
           <div class="form-group">
            <label for="fascia2-{{ i }}{{j}}">20-22</label>
            <input disabled
            type="text" class="form-control"
            id="fascia2-{{ i }}" name="fascia2-{{ i }}{{j}}"
            [(ngModel)]="duplicazione.fascia2">
           </div>
          </div>
          <div class="col-4"  >
            <div class="form-group">
              <label for="fascia3-{{ i }}{{j}}">22-09</label>
              <input disabled
              type="text" class="form-control"
              id="fascia3-{{ i }}{{j}}" name="fascia3-{{ i }}{{j}}"
              [(ngModel)]="duplicazione.fascia3">
            </div>
          </div>
         </div>
        </div>
      </mat-card-content>
     </div>
     <div class="row" style="margin: unset;">
      <div class="col-4" >
       <div class="form-group">
        <label for="permessi-{{ i }}">Permessi</label>
        <input disabled
        type="text" class="form-control"
        id="permessi-{{ i }}" name="permessi-{{ i }}"
        [(ngModel)]="giorno.permessi">
       </div>
      </div>
      <div class="col-4" >
        <div class="form-group">
         <label for="permessiRole-{{ i }}">Role</label>
         <input disabled
         type="text" class="form-control form-control-sm"
         step="0.5" min="0" max="8" pattern="[0-8](\.[05])?"
         id="permessiRole-{{ i }}" name="permessiRole-{{ i }}"
         [(ngModel)]="giorno.permessiRole">
        </div>
       </div>
       <div class="col-4"  >
        <div class="form-group">
         <label for="permessiExfestivita-{{ i }}">Festivitá</label>
         <input disabled
         type="text" class="form-control form-control-sm"
         step="0.5" min="0" max="8" pattern="[0-8](\.[05])?"
         id="permessiExfestivita-{{ i }}" name="permessiExfestivita-{{ i }}"
         [(ngModel)]="giorno.permessiExfestivita">
        </div>
       </div>
    </div>

    <div class="row">
      <div class="col-4" >
        <div class="form-group">
         <label for="ferie-{{ i }}">Ferie</label> <br>
         <input disabled class="form-check-input" id="ferie-{{ i }}" name="ferie-{{ i }}" [(ngModel)]="giorno.ferie">
        </div>
       </div>
       <div class="col-4">
       <div class="form-group">
         <label for="malattie-{{i}}">Malattia</label><br>
         <input disabled class="form-check-input" id="malattie-{{ i }}" name="malattie-{{ i }}" [(ngModel)]="giorno.malattie">
       </div>
       </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label for="onSite-{{i}}">On site</label><br>
            <input  [checked]="giorno.checkOnSite" disabled
            class="form-check-input" type="checkbox" id="onSite-{{i}}">
        </div>
      </div>
      <div class="col-4" >
        <div class="form-group">
          <label for="smartworking-{{i}}">Smartworking</label><br>
            <input [checked]="giorno.checkSmartWorking" disabled
            class="form-check-input" type="checkbox" id="smartworking-{{i}}">
        </div>
      </div>
    </div>
    <div class="row" >
      <div class="col-12">
      <div class="form-group">
        <label for="note-{{ i }}">Note  </label>
        <input disabled type="text" class="form-control" id="note-{{ i }}"  name="note-{{ i }}" [(ngModel)]="giorno.note" maxlength="64">
      </div>
      </div>
    </div>
    </mat-card>
    <br>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="note">Note:</label>
        <textarea name="note" class="form-control" placeholder="Inserisci eventuali note" [(ngModel)]="note" id="note" cols="15" rows="5"  ></textarea> <br>
        <button class="btn btn-warning" (click)="aggiungiNote()" >Rispedisci al dipendente<i class="fa fa-save" ></i> </button> &nbsp; <!--[disabled]="note==null"-->
        <button class="btn btn-info" (click)="resetNote()" >Cancella note<i class="fa fa-undo" ></i> </button> <br>
      </div>
    </div>
    <div class="col-6">
      <label for="calcoli"></label>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Tot giorni ferie</th>
            <th>Tot ore permesso</th>
            <th>Tot giorni malattia</th>
            <th>Tot ore lavorate</th>
            <th>Tot ore straordinari</th>
            <th>Tot giorni lavorati</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{totaleFerie}}</td>
            <td>{{totaleOrePermessi}}</td>
            <td>{{totaleMalattia}}</td>
          <td > {{totaleOreLavorate}}</td>
          <td>{{totaleStraordinari}}</td>
          <td >{{giorniLavorati}} / {{giorniUtili}} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-12" style="margin: auto; text-align:center;" >
      <button style="margin: auto; text-align:center;" mat-flat-button color="primary" [routerLink]="['/lista-rapportini']" >Torna alla lista dei rapportini</button>
    </div>
  </div>
  <br><br><br><br>
  <div id="finePagina"></div>
</div>
<div class="container-fluid" *ngIf="ruolo==='DIPENDENTE'">
  <div class="row">
    <div class="col-12">
      <br>
      <mat-card style="text-align: center;">
        <h1><img src="../../../../assets/images/danger.png" alt="Logo Sincrono"></h1>
        <h1>Non hai i permessi per accedere a questa sezione.</h1>
         <a mat-stroked-button [routerLink]="['/home']" target="_blank">Vai alla home.</a>
      </mat-card>
    </div>
  </div>
</div>
<footer>
  <div class="footer">
    <div class="contain">
    <div class="col">
      <h2>Sito web</h2>
      <ul>
        <li> <a href="https://www.sincrono.it/" target="_blank"> <img class="logo-image" width="40" height="40" src="../../../../assets/images/logo.jpeg" alt="Logo"></a> </li>
      </ul>
    </div>
    <div class="col">
      <h2>Social</h2>
      <ul>
        <li>
          <a href="https://www.linkedin.com/company/gruppo-sincrono/mycompany/" target="_blank" class="social-icon"><i class="fab fa-linkedin"></i></a>
          <a href="https://www.facebook.com/g.sincrono" class="social-icon" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="https://www.instagram.com/grupposincrono?igshid=OGQ5ZDc2ODk2ZA==" class="social-icon" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.sincrono.it/#pinterest" class="social-icon" target="_blank"><i class="fab fa-pinterest"></i></a>
        </li>
      </ul>
    </div>

    <div class="col">
      <h2>Contatti</h2>
      <ul>
        <li> <b>Tel:</b> 06 7101227</li>
        <li> <b>Fax:</b> 06 89716493</li>
        <li> <b>P.IVA:</b> 14651701006</li>
        <li matTooltip="Invia il tuo CV" > <b>Lavora con noi: </b><span [innerHTML]="'cv@sincrono.it'"></span> </li>
      </ul>
    </div>
    <div class="col address">
      <h2>Indirizzo </h2>
      <ul>
        <li> <b>Indirizzo:</b> Via Vinicio Cortese 147/F - 00128 Roma (RM) - Lazio, Italia</li>
        <li> <b>Sede legale:</b> Via Isole del Capoverde 310, 00121 (Roma) (RM) - Lazio, Italia</li>
    </ul>
    </div>
    <div class="col">
      <h2>Tutti i diritti riservati</h2>
    </div>
    <div class="col">
      <h2>Tempo di sessione:</h2>
      <ul>
        <li><p>{{ formatTime(tokenExpirationTime) }}</p></li>
      </ul>
    </div>
  <div class="clearfix"></div>
  </div>
  </div>
  </footer>
</body>
</html>
