<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body style="overflow-y: hidden;">

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <mat-card style="text-align: center;">
          <h1><img src="../../../../assets/images/logoSincronoCompleto.png" alt="Logo Sincrono"></h1>
          <h1>Sincrono CRM</h1>
        </mat-card>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h3 class="text-center">Login</h3>
          </div>
          <div class="card-body">
            <!-- Form di login -->
            <div *ngIf="!recuperoPasswordInCorso">
              <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div>
                  <label for="username">Username:</label>
                  <input class="form-control" type="text" placeholder="Inserisci la mail" id="username" formControlName="username" required>
                  <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
                    La mail è obbligatoria.
                  </div>
                </div>
                <div>
                  <label for="password">Password:</label>
                  <div class="input-with-icon">
                    <input
                      class="form-control"
                      [type]="passwordVisible ? 'text' : 'password'"
                      placeholder="Inserisci la password."
                      id="password"
                      formControlName="password"
                      required
                    />
                    <span
                      class="toggle-password"
                      (click)="togglePasswordVisibility()"
                      [class.active]="passwordVisible"
                    >
                      <i class="fa" [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
                    </span>
                  </div>
                  <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                    La password è obbligatoria.
                  </div>
                </div>


                <br>
                <div class="col-3">
                  <button mat-flat-button class="btn btn success" type="submit" [disabled]="loginForm.invalid">Login</button>
                  <!-- <button mat-flat-button class="btn btn info" (click)="reset()" [disabled]="loginForm==null">Annulla</button> -->
                </div>
              </form>
              <!-- Link per avviare il recupero password -->
              <div class="row">
                <div class="col-6">
                  <a style="color: blue; cursor: pointer;" (click)="avviaRecuperoPassword()">Password dimenticata?</a>
                </div>
              </div>
            </div>

            <!-- Form di recupero password -->
            <ng-container *ngIf="recuperoPasswordInCorso">
              <app-recupero-password (annullaRecuperoPassword)="annullaRecuperoPassword()"></app-recupero-password>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
