<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>

<body style="padding-top: 70px;">

    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Login</h3>
                    </div>
                    <div class="card-body">
                      <div>
                        <div>
                          <h2>Login</h2>
                          <form [formGroup]="loginForm" (ngSubmit)="login()">
                            <div>
                              <label for="username">Username:</label>
                              <input class="form-control" type="text" id="username" formControlName="username" required>
                              <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
                                Username is required.
                              </div>
                            </div>
                            <div>
                              <label for="password">Password:</label>
                              <input class="form-control" type="password" id="password" formControlName="password" required>
                              <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                                Password is required.
                              </div>
                            </div>
                            <button mat-flat-button class="btn btn success" type="submit" [disabled]="loginForm.invalid">Login</button>
                          </form>
                        </div>

                      </div>



                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>
