<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>

<body style="padding-top: 70px;">

    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Login</h3>
                    </div>
                    <div class="card-body">
                      <form (ngSubmit)="login()">
                        <div>
                          <label>Username:</label>
                          <input class="form-control" type="text" [(ngModel)]="username" name="username">
                        </div>
                        <div>
                          <label>Password:</label>
                          <input type="password" class="form-control" [(ngModel)]="password" name="password">
                        </div>
                        <button mat-flat-button type="submit">Login</button>
                      </form>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>
