<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container-fluid">
    <!-- <div class="alert alert-danger" *ngIf="showErrorAlert">
      Alcuni campi obbligatori non sono stati compilati correttamente:
      <ul>
        <li *ngFor="let field of missingFields">{{ field }}</li>
      </ul>
    </div> -->
    <form [formGroup]="AnagraficaDto" (ngSubmit)="inserisci()">
      <!-- Step 1: Anagrafica -->
      <div *ngIf="currentStep === 1">
        <div class="row">
          <div class="col-12">

            <mat-stepper #stepper [selectedIndex]="currentStep - 1">
              <mat-step>
                <ng-template matStepLabel>Anagrafica</ng-template>
                <mat-card>
                  <mat-card-content>
                    <div class="row">
                      <div class="col-12">
                        <strong>
                          <h1 style="text-align: center;">Anagrafica</h1>
                        </strong>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <div class="ruolo" formGroupName="ruolo">
                          <label for="filter-ruoli">Ruolo *</label>
                          <select class="form-control" formControlName="id" type="number">
                            <option value="">--nessuna selezione--</option>
                            <option *ngFor="let ruolo of ruoli" value="{{ ruolo.id }}">
                              {{ ruolo.nome }}
                            </option>
                          </select>
                          <div *ngIf="AnagraficaDto.get('ruolo.id')?.invalid && AnagraficaDto.get('ruolo.id')?.touched"
                            class="text-danger">
                            Il campo ruolo è obbligatorio.
                          </div>
                        </div>
                      </div>

                      <br>
                    </div>
                    <div formGroupName="anagrafica">

                      <div class="row" id="nominativo">
                        <legend>Dati personali</legend>
                        <div class="col-md-3">
                          <label for="nome">Nome* </label>
                          <div class="form-group">
                            <input id="anagrafica.nome" type="text" class="form-control" placeholder="Inserire il nome."
                              formControlName="nome" />
                            <div
                              *ngIf="AnagraficaDto.get('anagrafica.nome')?.invalid && AnagraficaDto.get('anagrafica.nome')?.touched"
                              class="text-danger">
                              Il campo nome è obbligatorio.
                            </div>

                          </div>
                        </div>
                        <div class="col-md-3">
                          <label>Cognome* </label>
                          <div class="form-group">
                            <input id="anagrafica.cognome" type="text" class="form-control"
                              placeholder="Inserire il cognome." formControlName="cognome" />
                            <div
                              *ngIf="AnagraficaDto.get('anagrafica.cognome')?.invalid && AnagraficaDto.get('anagrafica.cognome')?.touched"
                              class="text-danger">
                              Il campo cognome è obbligatorio.
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <label>Codice Fiscale* </label>
                          <div class="form-group">
                            <input id="anagrafica.codiceFiscale" type="text" class="form-control"
                              placeholder="Inserire il codice fiscale." formControlName="codiceFiscale" />
                            <div
                              *ngIf="AnagraficaDto.get('anagrafica.codiceFiscale')?.invalid && AnagraficaDto.get('anagrafica.codiceFiscale')?.touched"
                              class="text-danger">
                              Il campo codice fiscale è obbligatorio e deve essere lungo 16 caratteri.
                            </div>
                          </div>
                        </div>

                        <div class="col-3">
                          <label for="filter-Tipo Azienda">Tipo Azienda*</label>
                          <div class="form-group" formGroupName="tipoAzienda">
                              <select class="form-control" id="anagrafica.tipoAzienda.id" formControlName="id" type="number">
                                <option value="" selected>--nessuna selezione--</option>
                                <option *ngFor="let tipoAzienda of tipiAziende" [value]="tipoAzienda.id">
                                  {{ tipoAzienda.descrizione }}
                                </option>
                              </select>
                          </div>
                        </div>
                        <br>
                      </div>

                      <br>
                      <legend>Recapiti</legend>
                      <div class="row">
                        <div class="col-md-3">
                          <label>Cellulare Privato </label>
                          <div class="form-group">
                            <input type="text" class="form-control" formControlName="cellularePrivato"
                              placeholder="Inserire cellulare privato." />
                              <div *ngIf="AnagraficaDto.get('anagrafica.cellularePrivato')?.hasError('pattern')"
                              class="text-danger">
                              Il formato cellulare privato non é valido: 10 caratteri consentiti.
                            </div>
                              <div *ngIf="AnagraficaDto.get('anagrafica.cellularePrivato')?.hasError('minLength')"
                              class="text-danger">
                             10 caratteri massimi consentiti.
                            </div>
                              <div *ngIf="AnagraficaDto.get('anagrafica.cellularePrivato')?.hasError('maxLength')"
                              class="text-danger">
                             10 caratteri minimi consentiti.
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <label>Cellulare Aziendale </label>
                          <div class="form-group">
                            <input type="text" class="form-control" formControlName="cellulareAziendale"
                              placeholder="Inserire cellulare aziendale." />
                              <div *ngIf="AnagraficaDto.get('anagrafica.cellulareAziendale')?.hasError('pattern')"
                              class="text-danger">
                              Il formato cellulare aziendale non é valido:10 caratteri consentiti.
                            </div>
                          </div>
                        </div>

                        <div class="col-md-3">
                          <label>Email Privata </label>
                          <div class="form-group">
                            <input type="text" class="form-control" formControlName="mailPrivata"
                              placeholder="Inserire mail privata." />
                              <div *ngIf="AnagraficaDto.get('anagrafica.mailPrivata')?.hasError('pattern')"
                              class="text-danger">
                              Il formato della mail privata non è valido.
                            </div>
                          </div>

                        </div>

                        <div class="col-md-3">
                          <label>Email Aziendale* </label>
                          <div class="form-group">
                            <input id="anagrafica.mailAziendale" type="text" class="form-control" formControlName="mailAziendale" placeholder="Inserire mail aziendale." />
                            <div *ngIf="AnagraficaDto.get('anagrafica.mailAziendale')?.hasError('required') && AnagraficaDto.get('anagrafica.mailAziendale')?.hasError('touched')"
                             class="text-danger">
                              Il campo mail aziendale è obbligatorio.
                            </div>
                            <div *ngIf="AnagraficaDto.get('anagrafica.mailAziendale')?.hasError('pattern')"
                              class="text-danger">
                              Il formato della mail aziendale non è valido.
                            </div>
                          </div>
                        </div>

                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <label>Email Pec </label>
                        <div class="form-group">
                          <input type="text" class="form-control" formControlName="mailPec"
                            placeholder="Inserire PEC." />
                            <div *ngIf="AnagraficaDto.get('anagrafica.mailPec')?.hasError('pattern')"
                            class="text-danger">
                            Il formato della PEC non è valido.
                          </div>
                        </div>
                        </div>

                      </div>
                      <br>
                      <legend>Competenze</legend>
                      <div class="row">
                        <div class="col-md-3">
                          <label>Titoli di Studio: </label>
                          <div class="form-group">
                            <input type="text" class="form-control" formControlName="titoliDiStudio"
                              placeholder="Inserire titolo di studio." />
                          </div>
                        </div>
                        <div class="col-md-3">
                          <label>Altri Titoli </label>
                          <div class="form-group">
                            <input type="text" class="form-control" formControlName="altriTitoli"
                              placeholder="Inserire altri titoli conseguiti." />
                          </div>
                        </div>
                      </div>

                      <legend>Info Extra</legend>
                      <div class="row">
                        <div class="col-md-3">
                          <label>Comune di Nascita </label>
                          <div class="form-group">
                            <input type="text" class="form-control" formControlName="comuneDiNascita"
                              placeholder="Inserire comune di nascita." />
                          </div>
                        </div>
                        <div class="col-md-3">
                          <label>Residenza </label>
                          <div class="form-group">
                            <input type="text" class="form-control" formControlName="residenza"
                              placeholder="Inserire residenza." />
                          </div>
                        </div>
                        <div class="col-md-3">
                          <label>Domicilio </label>
                          <div class="form-group">
                            <input type="text" class="form-control" formControlName="domicilio"
                              placeholder="Inserire domicilio." />
                          </div>
                        </div>

                        <div class="col-md-3">
                          <label>Data di Nascita </label>
                          <div class="form-group">
                            <input type="date" placeholder="Data di nascita (Anno-mese-giorno)" class="form-control"
                              formControlName="dataDiNascita" />
                          </div>
                        </div>

                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Coniugato </label>
                            <input style="border-color: black;" class="form-check-input" type="checkbox" (change)="onConiugatoChange($event)"
                              formControlName="coniugato" />
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Figli a Carico</label>
                            <input style="border-color: black" class="form-check-input" type="checkbox" (change)="onFigliACaricoChange($event)"
                              formControlName="figliACarico" />
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Attesa lavori</label>
                            <input style="border-color: black" class="form-check-input" type="checkbox" (change)="onAttesaLavoriChange($event)"
                              formControlName="attesaLavori" />
                          </div>
                        </div>
                      </div>
                      <!-- <br> -->
                      <!-- <div class="row">
                        <div class="col-6" style="text-align: end;">
                          <button  hidden mat-button matStepperPrevious>« </button>
                        </div>
                        <div class="col-6" style="text-align: start;">
                          <button matTooltip="Avanti" mat-button matStepperNext> »</button>
                        </div>
                      </div> -->
                      <br>
                      <!-- <div class="row">
                        <div class="col-6" style="text-align: end;">

                          <button class="btn btn-info" matTooltip="Annulla la creazione dell'anagrafica e torna alla lista." [routerLink]="['/lista-anagrafica']">
                            Annulla
                          </button>

                        </div>
                        <div class="col-6" style="text-align: start;">
                          <button class="btn btn-success" (click)="inserisci()" [disabled]="AnagraficaDto.invalid" >
                            Salva
                          </button>
                        </div>

                      </div> -->
                      <br>
                    </div>
                  </mat-card-content>
                </mat-card>



              </mat-step>

              <mat-step>
                <ng-template matStepLabel>Contratto</ng-template>
                <div>

                  <div formGroupName="contratto">
                    <strong>
                      <h1 style="text-align: center;"> Contratto</h1>
                    </strong>
                    <legend>Dati Tipologici</legend>
                    <div class="row">
                      <div class="col-md-3" formGroupName="tipoAzienda">
                        <label for="tipoAzienda">Tipo Azienda:</label>
                        <select class="form-control" id="contratto.tipoAzienda.id" formControlName="id" type="number">
                          <option value="">--nessuna selezione--</option>
                          <option *ngFor="let tipoAzienda of tipiAziende" [value]="tipoAzienda.id">
                            {{ tipoAzienda.descrizione }}
                          </option>
                        </select>

                      </div>

 <!-- <div *ngIf="AnagraficaDto.get('contratto.tipoAzienda.id')?.hasError('required') && AnagraficaDto.get('contratto.tipoAzienda.id')?.touched" class="text-danger">
                          Il campo Tipo azienda è obbligatorio.
                        </div> -->
                      <div class="col-md-3">
                        <div formGroupName="tipoContratto">
                          <label for="filter-TipoContratto">Tipo Contratto:</label>
                          <select class="form-control" id="contratto.tipoContratto.id" formControlName="id" (change)="onTipoContrattoChange($event)">
                            <option value="">--nessuna selezione--</option>
                            <option *ngFor="let tipoContratto of tipiContratti" [value]="tipoContratto.id">
                              {{ tipoContratto.descrizione }}
                            </option>
                          </select>
                        </div>

                      </div>

                      <div class="col-md-3" >
                        <label>Mesi Durata </label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="mesiDurata"
                            placeholder="Inserire mesi durata"
                          />
                          <div
                          *ngIf="AnagraficaDto.get('contratto.mesiDurata')?.hasError('required') && AnagraficaDto.get('contratto.mesiDurata')?.touched"
                          class="text-danger"
                        >
                          Il campo mesi durata è obbligatorio.
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div formGroupName="tipoLivelloContratto">
                          <label for="filter-LivelloContratto">Tipo livello Contratto:</label>
                          <select class="form-control" id="contratto.tipoLivelloContratto.id" formControlName="id">
                            <option value="">--nessuna selezione--</option>
                            <option
                              *ngFor="let tipoLivelloContratto of livelliContratti"
                              [value]="tipoLivelloContratto.id"
                            >
                              {{ tipoLivelloContratto.livello }}
                            </option>
                          </select>
                          <!-- <div
                            *ngIf="AnagraficaDto.get('contratto.tipoLivelloContratto.id')?.hasError('required') && AnagraficaDto.get('contratto.tipoLivelloContratto.id')?.touched"
                            class="text-danger"
                          >
                            Il campo tipo livello contratto è obbligatorio.
                          </div> -->
                        </div>
                      </div>

                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-3">
                        <div formGroupName="tipoCcnl">
                          <label for="tipoCcnl">CCNL:</label>
                          <select
                            class="form-control"
                            id="contratto.tipoCcnl.id"
                            formControlName="id"
                          >
                            <option value="">--nessuna selezione--</option>
                            <option
                              *ngFor="let contrattiNazionale of contrattiNazionali"
                              [value]="contrattiNazionale.id"
                            >
                              {{ contrattiNazionale.descrizione }}
                            </option>
                          </select>
                          <!-- <div
                            *ngIf="AnagraficaDto.get('contratto.tipoCcnl.id')?.hasError('required') && AnagraficaDto.get('contratto.tipoCcnl.id')?.touched"
                            class="text-danger"
                          >
                            Il campo Tipo Contratto nazionale è obbligatorio.
                          </div> -->
                        </div>
                      </div>
                    </div>
                    <br>
                    <legend>Dettagli e date </legend>
                    <div class="row">
                      <div class="col-md-3">
                        <label>Qualifica: </label>
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Inserire qualifica" formControlName="qualifica" />
                        </div>
                      </div>

                      <div class="col-md-3">
                        <label>Sede Assunzione: </label>
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control" placeholder="Inserire la sede di assunzione"
                            formControlName="sedeAssunzione"
                          />

                        </div>
                      </div>
                      <div class="col-md-3">
                          <div class="form-group">
                            <label for="dataAssunzione">Data Assunzione*</label>
                            <input
                              type="date"
                              class="form-control"
                              name="dataInput"
                              formControlName="dataAssunzione"
                              placeholder="Inserire data assunzione"
                            />
                            <div
                            *ngIf="AnagraficaDto.get('contratto.dataAssunzione')?.hasError('required') && AnagraficaDto.get('contratto.dataAssunzione')?.touched"
                            class="text-danger"
                          >
                            Il campo Data assunzione è obbligatorio.
                          </div>
                          </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="dataInizoProva">Data Inzio prova</label>
                          <input type="date" class="form-control" name="dataInput" formControlName="dataInizioProva" />
                        </div>
                      </div>

                    </div>
                    <br>
                    <div class="row">

                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="dataInizoProva">Data Fine prova</label>
                          <input type="date" class="form-control" name="dataInput" formControlName="dataFineProva" />
                        </div>
                      </div>
                      <div class="col-md-3" *ngIf="inseritoContrattoIndeterminato" >
                        <div class="form-group">
                          <label for="dataFineRapporto">data Fine Rapporto</label>
                          <input type="date" class="form-control" name="dataInput"  formControlName="dataFineRapporto" /> <!--[disabled]="AnagraficaDto.get('contratto.tipoContratto.id')?.value === '4'"-->
                        </div>
                      </div>

                      <div class="col-md-3" formGroupName="tipoCanaleReclutamento">
                        <div class="form-group">
                          <label for="filter-tipoCanaleReclutamento">Canale reclutamento*</label>
                          <select class="form-control" id="contratto.tipoCanaleReclutamento.id" formControlName="id" type="number">
                            <option value="">--nessuna selezione--</option>
                            <option *ngFor="let tipoCanaleReclutamento of tipologicaCanaliReclutamento" [value]="tipoCanaleReclutamento.id">
                              {{ tipoCanaleReclutamento.descrizione }}
                            </option>
                          </select>
                        </div>

                      </div>
                    </div>

                    <br>
                    <legend>Livello Dipendente</legend>

                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label>Livello attuale: </label>
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Inserire livello attuale" formControlName="livelloAttuale" />
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label>Livello finale: </label>
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Inserire livello finale" formControlName="livelloFinale" />
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- <div class="row"> -->
                      <!-- <div class="col-md-3">
                        <label class="form-check-label">Dimissioni: </label>
                        <div class="form-check">
                          <input style="border-color: black" class="form-check-input" type="checkbox"
                            formControlName="dimissioni" />
                        </div>
                      </div> -->
                      <!-- <div class="col-md-3">
                        <label class="form-check-label">Part Time: </label>
                        <div class="form-check">
                          <input style="border-color: black" class="form-check-input" type="checkbox"
                            formControlName="partTime" />
                        </div>
                      </div>
                      <div class="col-md-3">
                        <label class="form-check-label">% Part time : </label>
                        <div class="form-check">
                          <input class="form-control" type="number" placeholder="Inserire % part time" formControlName="percentualePartTime" />
                        </div>
                      </div>
                      <div class="col-md-3">
                        <label class="form-check-label">RAL Part time : </label>
                        <div class="form-check">
                          <input class="form-control" type="number" placeholder="Inserire % part time" formControlName="ralPartTime" />
                        </div>
                      </div> -->
                    <!-- </div> -->


                    <div class="container-dati-economici">
                      <div class="row">
                        <div class="col-12">
                          <legend>Dati economici <i class="fa fa-euro-sign" ></i></legend>
                        </div>
                      </div>

                      <legend>Retribuzione </legend>

                      <div class="row">
                        <div class="col-md-3">
                          <label>Retribuzione Mensile Lorda: </label>
                          <div class="form-group">
                            <input type="number" class="form-control" placeholder="Inserire retribuzione lorda" min="0" step="0.01" formControlName="retribuzioneMensileLorda" />
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="retribuzioneNettaMensile">Retribuzione netta mensile</label>
                            <input type="number" formControlName="retribuzioneNettaMensile"  placeholder="Inserire retribuzione netta mensile" min="0" step="0.01" class="form-control" >
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="retribuzioneNettaGiornaliera">Retribuzione netta giornaliera</label>
                            <input type="number" formControlName="retribuzioneNettaGiornaliera"  placeholder="Inserire retribuzione netta giornaliera" min="0" step="0.01" class="form-control" >
                          </div>
                        </div>
                        <div class="col-md-3">
                          <label>Superminimo Mensile: </label>
                          <div class="form-group">
                            <input type="number" class="form-control"  placeholder="Inserire superminimo mensile" min="0" step="0.01" formControlName="superminimoMensile" />
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <legend>RAL</legend>
                        <div class="col-6">
                          <label>RAL Annua: </label>
                          <div class="form-group">
                            <input type="number" class="form-control"  placeholder="Inserire RAL annua" min="0" step="0.01" formControlName="ralAnnua" />
                          </div>
                        </div>
                        <div class="col-6">
                          <label>Superminimo RAL: </label>
                          <div class="form-group">
                            <input type="number" class="form-control"  placeholder="Inserire superminimo RAL" min="0" step="0.01" formControlName="superminimoRal" />
                          </div>
                        </div>
                      </div>
                        <br>
                        <div class="row">
                          <legend>Diaria</legend>
                          <div class="col-md-3">
                            <label>Diaria Mensile: </label>
                            <div class="form-group">
                              <input type="text" class="form-control"  placeholder="Inserire diaria mensile" min="0" step="0.01" formControlName="diariaMensile" />
                            </div>
                          </div>
                          <div class="col-md-3">
                            <label>Diaria Giornaliera: </label>
                            <div class="form-group">
                              <input type="text" class="form-control"  placeholder="Inserire diaria giornaliera" min="0" step="0.01" formControlName="diariaGiornaliera" />
                            </div>
                          </div>
                        </div>
                    </div>

                    <div class="row">
                      <legend>Part time</legend>
                      <div class="col-3">
                        <label for="partTime">Part time:</label> <br>
                        <label class="toggle-switch">

                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              style="border-color: black"
                              [checked]="data?.contratto?.partTime === true"
                              (change)="onPartTimeChange($event)"
                              formControlName="partTime"
                            />
                            <span class="slider"></span>
                          </div>
                        </label>
                      </div>
                      <div class="col-md-3">
                        <label class="form-check-label">% Part time: </label>
                        <div class="form-group">
                          <input
                          class="form-control"
                          type="number"
                          formControlName="percentualePartTime"
                          placeholder="Percentuale part time (da 40% a 80%)"
                          (input)="calculateRalPartTime()"
                        />
                        </div>
                      </div>
                      <div class="col-3">
                        <label for="ral part time">RAL Part time</label>
                        <input type="text" class="form-control" formControlName="ralPartTime" [(ngModel)]="percentualePartTimeValue" >
                      </div>
                    </div>
                    <br>
                    <legend>Ticket e Aggevolazioni</legend>
                    <div class="row">
                      <div class="col-md-3">
                        <label>Ticket: </label>
                        <div class="form-group">
                          <input style="border-color: black" type="checkbox" class="form-check-input" formControlName="ticket" />
                        </div>
                      </div>
                      <div class="col-md-3">
                        <label>Valore Ticket: </label>
                        <div class="form-group">
                          <input type="number" placeholder="Inserire valore ticket" min="0"  step="0.01" class="form-control" formControlName="valoreTicket" />
                        </div>
                      </div>

                      <div class="col-md-3">
                        <label id="contratto.categoriaProtetta" class="form-check-label">Categoria Protetta:
                        </label>
                        <div class="form-check">
                          <input style="border-color: black" class="form-check-input" type="checkbox"
                            formControlName="categoriaProtetta" />
                        </div>
                      </div>
                    </div>
                    <legend>Altro</legend>
                    <div class="row">
                      <div class="col-md-3">
                        <label>Tutor: </label>
                        <div class="form-group">
                          <input type="text" class="form-control" formControlName="tutor" />
                        </div>
                      </div>
                      <div class="col-md-3">
                        <label>PFI: </label>
                        <div class="form-group">
                          <input type="checkbox" style="border-color: black" class="form-check-input" [checked]="variabileGenerica?.contratto?.pfi" formControlName="pfi" />
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <div class="form-group">
                            <label>Corso di Sicurezza: </label>
                            <input type="checkbox" style="border-color: black" class="form-check-input" [checked]="variabileGenerica?.contratto?.corsoSicurezza" name="corsoSicurezza" formControlName="corsoSicurezza" />
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <div class="form-group">
                            <label>Data corso di Sicurezza: </label>
                            <input type="date" class="form-control" name="dataCorsoSicurezza" formControlName="dataCorsoSicurezza" />
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3">
                        <label>Scatti Anzianita: </label>
                        <div class="form-group">
                          <input type="number" class="form-control" formControlName="scattiAnzianita" />
                        </div>
                      </div>
                      <div class="col-md-3">
                        <label>PC: </label>
                        <div class="form-group">
                          <input style="border-color: black" class="form-check-input" type="checkbox"
                            formControlName="pc" />
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label>Tariffa Partita IVA: </label>
                          <input type="number" class="form-control" formControlName="tariffaPartitaIva" />
                        </div>
                      </div>


                    </div>
                    <div class="row">
                      <div class="col-12">
                        <h3>Dati medici</h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <label>Visita medica: </label>
                      <div class="form-group">
                        <input style="border-color: black"  class="form-check-input" type="checkbox" [checked]="variabileGenerica?.contratto?.visitaMedica"
                          formControlName="visitaMedica" /> <!--[checked]="AnagraficaDto.contratto.visitaMedica"-->
                      </div>
                      </div>
                    </div>
                    <div class="row">
                    <div class="col-md-3">
                      <label for="dataVisitaMedica">Data visita medica</label>
                      <div class="form-group">
                        <input type="date" class="form-control" formControlName="dataVisitaMedica">
                      </div>
                    </div>
                    </div>
                  </div>
                  <br>
                  <!-- <div class="row">
                    <div class="col-6" style="text-align: end; ">
                      <button mat-button matStepperPrevious>«</button>
                    </div>
                    <div class="col-6" style="text-align: start;">
                      <button matTooltip="Avanti" mat-button matStepperNext> »</button>
                    </div>
                  </div> -->

                  </div>
              </mat-step>


              <mat-step>
                <ng-template matStepLabel>Commessa</ng-template>
                <div class="row">
                  <div class="col-12">
                    <mat-card>
                      <mat-card-content>
                        <!-- Utilizzo del formArrayName per le commesse -->
                        <div formArrayName="commesse">

                          <div class="row" style="margin:auto; text-align:center;">
                            <div class="col-12">
                              <h3>Commessa</h3>
                              <button mat-flat-button color="primary" (click)="aggiungiCommessa()" id="button-duplica"
                                *ngIf="commesse.length === 0">Aggiungi Commessa</button> &nbsp;

                            </div>
                          </div>
                          <!-- Loop attraverso le commesse esistenti -->
                          <div class="row" *ngFor="let commessa of commesse.controls; let i = index"
                            [formGroupName]="i">
                            <div class="col-12">
                              <strong>
                                <h1 style="text-align: center;"> Commessa {{ i + 1 }}</h1>
                              </strong>
                            </div>
                            <!-- Inserimento dei campi delle commesse -->
                            <div class="col-md-3">
                              <label>Azienda cliente: </label>
                              <div class="form-group">
                                <input
                                [ngStyle]="{
                                  'border': commessa.get('aziendaCliente')?.value.trim() === '' ? '1px solid red' : ''}"
                                type="text" class="form-control" placeholder="Inserire azienda cliente" formControlName="aziendaCliente"
                              />
                              </div>
                            </div>
                            <div class="col-md-3">
                              <label>Cliente Finale: </label>
                              <div class="form-group">
                                <input type="text" [ngStyle]="{'border': commessa.get('clienteFinale')?.value.trim() === '' ? '1px solid red' : ''}"
                                  class="form-control" placeholder="Inserire cliente finale" formControlName="clienteFinale" />
                              </div>
                            </div>
                            <!-- Aggiungere gli altri campi della commessa simile a quanto fatto sopra -->
                            <div class="col-md-3">
                              <label>Titolo Posizione: </label>
                              <div class="form-group">
                                <input placeholder="Inserire titolo posizione" [ngStyle]="{'border': commessa.get('titoloPosizione')?.value.trim() === '' ? '1px solid red' : ''}"
                                 type="text" class="form-control" formControlName="titoloPosizione" />
                              </div>
                            </div>
                            <div class="col-md-3">
                              <label>Distacco: </label>
                              <div class="form-group">
                                <!-- <input type="text" class="form-control" formControlName="distacco" /> -->
                                <input  style="border-color: black" class="form-check-input" type="checkbox"
                                formControlName="distacco" /> <!--[checked]="commessa.get('distacco')?.value==true"-->
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="distaccoAzienda">Distacco azienda</label>
                                <input type="text" class="form-control" formControlName="distaccoAzienda" placeholder="Inserire distacco azienda."> <!--[disabled]="!commessa.get('distacco')?.value==false"-->

                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="distaccoData">Data distacco</label>
                                <input type="date" class="form-control" formControlName="distaccoData" placeholder="Inserire data distacco.">
                              </div>
                            </div>
                            <!-- <div class="col-md-3">
                              <label>Costo mese: </label>
                              <div class="form-group">
                                <input type="text" class="form-control" formControlName="costoMese" />
                              </div>
                            </div> -->
                            <div class="col-md-3">
                              <label>Data Inizio: </label>
                              <div class="form-group">
                                <input type="date" class="form-control" formControlName="dataInizio" />
                              </div>
                            </div>
                            <div class="col-md-3">
                              <label>Data Fine: </label>
                              <div class="form-group">
                                <input type="date" class="form-control" formControlName="dataFine" />
                              </div>
                            </div>
                            <div class="col-md-3">
                              <label>Tariffa giornaliera: </label>
                              <div class="form-group">
                                <input type="text" class="form-control" formControlName="tariffaGiornaliera" />
                              </div>
                            </div>
                            <!-- <div class="col-md-3">
                              <label>Nominativo: </label>
                              <div class="form-group">
                                <input type="text" class="form-control" formControlName="nominativo" />
                              </div>
                            </div> -->
                            <div class="col-md-3">
                              <!-- <label>Azienda: </label>
                              <div class="form-group">
                                <input type="text" class="form-control" formControlName="azienda" />
                              </div> -->
                              <label>Azienda di fatturazione interna: </label>
                              <div class="form-group">
                                <input type="text" class="form-control"
                                  formControlName="aziendaDiFatturazioneInterna" />
                              </div>
                            </div>
                            <!-- <div class="col-md-3">
                              <label>Stato</label>
                              <div class="form-group">
                                <div class="form-check">
                                  <input style="border-color: black" class="form-check-input" type="checkbox"
                                    formControlName="attivo" />
                                </div>
                              </div>
                              se la commessa ha l id vuol dire che esisteva gia e puo essere storicizzata
                            </div> -->
                            <!-- <div class="col-md-3">
                              <label>Attesa lavori: </label>
                              <div class="form-group">
                                <div class="form-check">
                                  <input style="border-color: black" class="form-check-input" type="checkbox"
                                    formControlName="attesaLavori" />
                                </div>

                              </div>

                              <br>
                            </div> -->
                            <br>
                            <div class="row">
                              <div class="col-12" style="text-align: center; margin: auto;">
                                <button mat-flat-button color="primary" (click)="aggiungiCommessa()" id="button-duplica"
                                  *ngIf="commesse.length != 0">Aggiungi Commessa</button> &nbsp;
                                <button mat-flat-button color="accent" (click)="rimuoviCommessa(i)"
                                  [matTooltip]="i === 0 ? 'La commessa uno non può essere eliminata' : ''">Rimuovi
                                  Commessa</button>
                              </div>

                            </div>

                          </div>
                        </div>
                        <br>
                        <!-- <div class="row">
                          <div class="col-6" style="text-align: end;">
                            <button mat-button matStepperPrevious>« </button>
                          </div>
                          <div class="col-6" style="text-align: start;">
                            <button hidden mat-button matStepperNext>»</button>
                          </div>
                        </div> -->
                      </mat-card-content>
                    </mat-card>
                  </div>
                </div>
              </mat-step>



            </mat-stepper>
            <div class="row">
              <div class="col-6" style="text-align: end;">
                <button class="btn btn-info" type="submit" [routerLink]="['/lista-anagrafica']">
                  Annulla
                </button>
              </div>
              <div class="col-6" style="text-align: start;">
                <button class="btn btn-success" [disabled]="AnagraficaDto.invalid" >
                  Salva
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </form>
  </div>
</body>

</html>
