<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>


<body [class.dark-mode]="themeService.isDarkModeEnabled()">
  <div id="inizioPagina"></div>
  <div class="container-toolbar" *ngIf="!mobile">
    <div class="row align-items-center">
      <div class="col-auto">
        <a [routerLink]="['/home']" class="logo-link">
          <img class="logo-image" width="40" height="40" src="../../../../assets/images/logo.jpeg" alt="Logo">
        </a>
      </div>

      <div class="col-auto">
        <button  *ngIf="getWindowWidth() < 830" mat-icon-button [matMenuTriggerFor]="hamburgerMenu" (click)="toggleHamburgerMenu()" class="hamburger-icon">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <div class="col-auto">
        <mat-menu #hamburgerMenu="matMenu" class="hamburger-menu">
          <button id="menu-voice" mat-menu-item *ngFor="let menuItem of jsonData.list" (click)="navigateTo(menuItem.percorso)">
            {{ menuItem.nome }}
          </button>
        </mat-menu>

        <div class="toolbar-menu" *ngIf="jsonData && jsonData.list && !isHamburgerMenuOpen">
          <a (click)="getPermissions(menuItem.id)" style="color: white;" class="toolbar-link"
            *ngFor="let menuItem of jsonData.list" [routerLink]="[menuItem.percorso]">
            {{ menuItem.nome }}
          </a>
        </div>
      </div>

      <div class="col-auto">
        <div class="form-check form-switch" matTooltip="{{ themeService.isDarkModeEnabled() ? 'Light mode' : 'Dark Mode' }}">
          <input class="form-check-input" [checked]="themeService.isDarkModeEnabled()" (click)="toggleDarkMode()" type="checkbox" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault" matTooltip="{{ themeService.isDarkModeEnabled() ? 'Light mode' : 'Dark Mode' }}"></label>
        </div>
      </div>

      <div class="col-auto">
        <div style="cursor: pointer;" mat-icon-button [routerLink]="['/profile-box']" class="user-icon">
          <small *ngIf="userRoleNav===false">{{userLoggedName}} {{userLoggedSurname}} (Admin) &nbsp;</small>
          <small *ngIf="userRoleNav===true">{{userLoggedName}} {{userLoggedSurname}} (Dipendente) &nbsp;</small>
          <i class="fa fa-user"></i>
        </div>
      </div>

      <div class="col-auto">
        <div style="cursor: pointer;" mat-icon-button (click)="logout()" class="logout-icon">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="container-toolbar" [hidden]="tokenProvvisorio != null && tokenProvvisorio == null">
    <mat-toolbar id="toolbar" *ngIf="token && mobile">
      <a [routerLink]="['/home']" class="logo-link">
        <img class="logo-image" width="40" height="40" src="../../../../assets/images/logo.jpeg" alt="Logo">
      </a>
      <button style="background-color:#333;color:white;margin-left:-10px;margin-right:3px;border-radius:1px;padding:5px;"
        mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <ng-template matMenuContent>
          <button style="background-color:#333;color:white" mat-menu-item *ngFor="let menuItem of jsonData.list"
            [routerLink]="[menuItem.percorso]" (click)="getPermissions(menuItem.id)">
            {{ menuItem.nome }}
          </button>
        </ng-template>
      </mat-menu>
      <span style="cursor: pointer;" mat-icon-button [routerLink]="['/profile-box']" class="user-icon">
        <small *ngIf="userRoleNav===false">{{userLoggedName}} {{userLoggedSurname}} (Admin) &nbsp;</small>
        <small *ngIf="userRoleNav===true">{{userLoggedName}} {{userLoggedSurname}} (Dipendente) &nbsp;</small>
        <i class="fa fa-user"></i>
      </span> &nbsp;&nbsp;
      <span style="cursor: pointer;" mat-icon-button (click)="logout()" class="logout-icon">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
      </span>
    </mat-toolbar>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <br>
        <mat-card style="text-align: center;">
          <h1><img src="../../../../assets/images/logoSincronoCompleto.png" alt="Logo Sincrono"></h1>
          <h1>Risultati Organico</h1>
        </mat-card>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12">
        <mat-card>
          <mat-card-title>
            <ul>
              <li [hidden]="tipoContrattoFilter==null" >
                <b>Tipo contratto: </b>
                <span>{{tipoContrattoFilter ? tipoContrattoFilter : ''}}</span>
              </li>
              <li>
                <b>Azienda: </b>
                <span>{{tipoAziendaFilter ? tipoAziendaFilter : ''}}</span>
              </li>
              <li>
                <b>Numero dipendenti: </b>
                <span>{{pageData.length}}</span>
              </li>
            </ul>
          </mat-card-title>
          <mat-card-content>
            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <table class="table table-bordered" id="table-organico">
                    <thead>
                      <tr>
                        <th scope="col">Ruolo</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Cognome</th>
                        <th scope="col">Codice Fiscale</th>
                        <th scope="col">Nome azienda</th>
                        <th scope="col">Mail aziendale</th>
                        <th scope="col">Cell privato</th>
                        <th scope="col">Attesa lavori</th>
                        <th scope="col">Dettaglio</th>
                        <th scope="col">Modifica</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let element of pageData; let i=index">
                        <td><i *ngIf="element.ruolo.descrizione==='ADMIN'" matTooltip="{{element.ruolo.descrizione}}"
                            style="color: green;" class="fa-solid fa-user"></i><i
                            *ngIf="element.ruolo.descrizione==='DIPENDENTE'" style="color: orangered;"
                            matTooltip="{{element.ruolo.descrizione}}" class="fa-solid fa-user"></i></td>
                        <td>{{ element.anagrafica?.nome |titlecase }} </td>
                        <td>{{element.anagrafica?.cognome |titlecase }}</td>
                        <td>{{ element.anagrafica?.codiceFiscale |uppercase }}</td>
                        <td>{{ element.anagrafica?.tipoAzienda?.descrizione |titlecase }}</td>
                        <td>{{ element.anagrafica?.mailAziendale }}</td>
                        <td>{{ element.anagrafica?.cellularePrivato ? element.anagrafica.cellularePrivato: 'Non inserito' }}
                        </td>
                        <td><label class="switch">
                            <input type="checkbox" disabled [checked]="element.anagrafica.attesaLavori">
                            <span class="slider"></span>
                          </label></td>
                          <td (click)="dettaglioAnagrafica(element.anagrafica?.id)"> <button mat-mini-fab color="primary"><i
                            class="fa fa-info"></i></button> </td>
                            <td (click)="vaiAModificaAnagrafica(element.anagrafica?.id)"><button mat-mini-fab color="accent"><i
                              class="fa fa-pencil"></i></button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <br><br><br><br><br>
    <div id="finePagina"></div>
  </div>
</body>

</html>
