<head>
    <title>Organico</title>
</head>
<style>
  .sidebar {
    width: 250px;
    background-color: #333;
    color: #ffffff;
    height: 200vh;
    position: inherit;
  }

  /* Stile delle voci di menu nella sidebar */
  .sidebar-item {
    padding: 10px 20px;
    border-bottom: 1px solid #ffffff;
  }

  .sidebar-item:last-child {
    border-bottom: none;
  }

  .sidebar-link {
    text-decoration: none;
    color: #ffffff;
  }

  .sidebar-link:hover {
    color: #d8d8d8;
  }

  .content {
    flex: 1;
    padding: 20px;
  }

  .navbar {
    padding: 10px 20px;
  }

  .navbar-brand {
    font-weight: bold;
  }

  .navbar-nav {
    margin-left: auto;
  }

  .nav-link {
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px;
  }

  .nav-link:hover {
    color: #d8d8d8;
  }

  .login-page .sidebar {
    display: none;
  }

  .example-container {
   width: 100%;
    height: 100%;
  }

  .spacer {
    flex: 1 1 auto;
  }

  mat-drawer{
    background-color: #333;
  }

  p{
    cursor: pointer;
  }

  mat-icon-button:hover{
  background-color: none;
  }

  mat-toolbar{
    background-color: #333;
    color: white;
  }


  </style>
<body> <!--style="padding-top: 50px;"-->

  <script>

    userlogged = localStorage.getItem('userLogged');

      const userLogged = localStorage.getItem('userLogged');
      if (userLogged) {
        this.userlogged = userLogged;
    }
  </script>


  <mat-toolbar>
    <a [routerLink]="['/home']" style="margin:5px; text-align: center;" > <img style="margin:5px; text-align: center;" width="40" height="40" src="../../../../assets/images/logo.jpeg" alt="Logo"> </a>
    <span> Sincrono CRM <button (click)="drawer.toggle()" mat-flat-button style="background-color: transparent; color: black;" > <mat-icon style="color: #ffffff;" >menu</mat-icon> </button> </span>
    <span class="spacer"></span>
    <span style="cursor: pointer;" id="icona" mat-icon-button [routerLink]="['/login']" (click)="logout()">
      <mat-icon (click)="logout()">logout</mat-icon>
    </span>
  </mat-toolbar>
  <mat-drawer-container autosize class="example-container" >
    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
      <div class="profile-box" (click)="profile()" style="text-align: center;
      color: white;
      font-weight: 400;
      border-bottom: 1px solid #f2f2f2; margin:auto;">
        <mat-icon>account_circle</mat-icon> <br>
        <p>{{userlogged}}</p>
          </div>
      <nav>
        <ul class="list-unstyled">
          <li class="sidebar-item">
            <p class="sidebar-link" [routerLink]="['/lista-anagrafica']">Lista anagrafiche</p>
          </li>
          <mat-divider></mat-divider>
          <li class="sidebar-item" [hidden]="role==='dipendente'|| role==='risorseumane'">
            <p class="sidebar-link" [routerLink]="['/dashboard']" >Dashboard</p>
          </li>
          <mat-divider></mat-divider>
          <li class="sidebar-item">
            <p class="sidebar-link" [routerLink]="['/organico']">Organico</p>
          </li>
          <mat-divider></mat-divider>
        </ul>
      </nav>
    </mat-drawer>
    <mat-drawer-content>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h1>Organico</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                  <thead class="thead-dark">
                      <tr>
                          <th scope="col">Azienda</th>
                          <th scope="col">Numero <br>dipendenti</th>
                          <th scope="col">Indeterminati</th>
                          <th scope="col">Determinati</th>
                          <th scope="col">Apprendistato</th>
                          <th scope="col">Consulenza</th>
                          <th scope="col">Stage</th>
                          <th scope="col">Partita<br> Iva</th>
                          <th scope="col">Potenziale<br> stage</th>
                          <th scope="col">Slot<br> stage</th>
                          <th scope="col">Potenziale<br> apprendistato</th>
                          <th scope="col">Slot<br> apprendistato</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let element of lista">
                          <td>{{ element?.azienda }}</td>
                          <td>
                              <div *ngIf="element.numeroDipendenti === 0;else elseBlock1">
                                  {{ element.numeroDipendenti }}
                              </div>
                              <ng-template #elseBlock1>
                                  <button (click)="filter('',element?.azienda)" class="btn btn-link">
                                      {{ element.numeroDipendenti }}
                                  </button>
                              </ng-template>
                          <td>
                              <div *ngIf="element.indeterminati === 0;else elseBlock2">
                                  {{ element.indeterminati }}
                              </div>
                              <ng-template #elseBlock2>
                                  <button (click)="filter('Indeterminato',element?.azienda)" class="btn btn-link">
                                      {{ element.indeterminati }}
                                  </button>
                              </ng-template>
                          </td>
                          <td>
                              <div *ngIf="element.determinati === 0;else elseBlock3">
                                  {{ element.determinati}}
                              </div>
                              <ng-template #elseBlock3>
                                  <button (click)="filter('Determinato',element?.azienda)" class="btn btn-link">
                                      {{ element.determinati}}
                                  </button>
                              </ng-template>
                          </td>
                          <td>
                              <div *ngIf="element.apprendistato === 0;else elseBlock4">
                                  {{ element.apprendistato }}
                              </div>
                              <ng-template #elseBlock4>
                                  <button (click)="filter('Apprendistato',element?.azienda)" class="btn btn-link">
                                      {{ element.apprendistato }}
                                  </button>
                              </ng-template>
                          </td>
                          <td>
                              <div *ngIf="element.consulenza === 0;else elseBlock5">
                                  {{ element.consulenza }}
                              </div>
                              <ng-template #elseBlock5>
                                  <button (click)="filter('Consulenza',element?.azienda)" class="btn btn-link">
                                      {{ element.consulenza }}
                                  </button>
                              </ng-template>
                          </td>
                          <td>
                              <div *ngIf="element.stage === 0;else elseBlock6">
                                  {{ element.stage }}
                              </div>
                              <ng-template #elseBlock6>
                                  <button (click)="filter('Stage',element?.azienda)" class="btn btn-link">
                                      {{ element.stage }}
                                  </button>
                              </ng-template>
                          </td>
                          <td>
                              <div *ngIf="element.partitaIva === 0;else elseBlock7">
                                  {{ element.partitaIva }}
                              </div>
                              <ng-template #elseBlock7>
                                  <button (click)="filter('PartitaIva',element?.azienda)" class="btn btn-link">
                                      {{ element.partitaIva }}
                                  </button>
                              </ng-template>
                          </td>
                          <td>{{ element.potenzialeStage }}</td>
                          <td>{{ element.slotStage }}</td>
                          <td>{{ element.potenzialeApprendistato}}</td>
                          <td>{{ element.slotApprendistato }}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
          </div>
        </div>

      </div>



    </mat-drawer-content>

  </mat-drawer-container>



</body>
