<head>
    <title>Organico</title>
</head>
<title>Organico</title>
<body>
    <div class="table-container">
        <button [routerLink]="['/home']">Home</button>
        <div class="table-horizontal-container">
            <table class="unfixed-table">
                <thead>
                    <tr>
                        <th>Azienda</th>
                        <th>Numero dipendenti</th>
                        <th>Indeterminati</th>
                        <th>Determinati</th>
                        <th>Apprendistato</th>
                        <th>Consulenza</th>
                        <th>Stage</th>
                        <th>PartitaIva</th>
                        <th>Potenziale stage</th>
                        <th>Slot stage</th>
                        <th>Potenziale apprendistato</th>
                        <th>Slot apprendistato</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of lista">
                        <td>{{ data?.azienda }}</td>
                        <td><a href="">{{ data.numeroDipendenti }}</a></td>
                        <td><a href="">{{ data.indeterminati }}</a></td>
                        <td><a href="">{{ data.determinati}}</a></td>
                        <td><a href="">{{ data.apprendistato }}</a></td>
                        <td><a href="">{{ data.consulenza }}</a></td>
                        <td><a href="">{{ data.stage }}</a></td>
                        <td><a href="">{{ data.partitaIva }}</a></td>
                        <td><a href="">{{ data.potenzialeStage }}</a></td>
                        <td><a href="">{{ data.slotStage }}</a></td>
                        <td><a href="">{{ data.potenzialeApprendistato}}</a></td>
                        <td><a href="">{{ data.slotApprendistato }}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>