body{
  background-color: aliceblue;
}

.container-fluid {
  background-color: aliceblue;
}

table,
th,
td {
  font-size: 12px;
}

.table-responsive {
  overflow-x: auto;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

@media (max-width: 575.98px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 1.5rem;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dee2e6;
    -webkit-overflow-scrolling: touch;
  }

  .table {
    position: relative;
    background-color: transparent;
    border-collapse: collapse;
  }

  .table-bordered {
    border: 0;
  }

  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dee2e6;
  }
}



/* styles.css o nel tuo componente-specifico.css */
.dark-mode *{
  background-color: #333;
  color: #fff;
}

.dark-mode input::placeholder {
  color: #ddd; /* Colore del placeholder nei temi scuri */
}

.dark-mode mat-card {
  background-color: #333;
  color: #fff;
  border: 1px solid #f1f1f1;
}

/* Stili specifici per dark mode */
.dark-mode input {
  background-color: #333; /* Colore di sfondo scuro per gli input */
  color: #fff; /* Colore del testo chiaro per gli input */
}

.dark-mode table {
  border-color: #fff;
}

.dark-mode th, .dark-mode td {
  border-color: #777;
  background-color: #333;
  color: #fff;
}

.dark-mode button, .dark-mode .btn {
  background-color: #333;
  color: #fff;
}


/* Stili specifici per dark mode */
.dark-mode button.toggle-button {
  background-color: #333;
  color: #fff;
  /* Altri stili specifici per il dark mode per il bottone di toggle */
}
.dark-mode #toolbar {
  color: #ffffff;
  /* Testo bianco */
  display: flex;
  background-color: #333;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #f3f3f3;

}
