<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body [class.dark-mode]="themeService.isDarkModeEnabled()">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <header>
            <h1>
              Commesse di {{ data.anagraficaDto?.anagrafica?.nome }} {{ data.anagraficaDto?.anagrafica?.cognome }}
              <button (click)="closeDialog()" style="float: right;" mat-flat-button>
                <i class="fa fa-close" (click)="closeDialog()"></i>
              </button>
            </h1>
          </header>

        </div>
      </div>
      <div class="row">
        <div class="col-12">

          <table class="table table-bordered" id="table-commesse">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Codice fiscale</th>
                <th>Mail aziendale</th>
                <th>Anagrafica</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ data.anagraficaDto.anagrafica.nome }}</td>
                <td>{{ data.anagraficaDto.anagrafica.cognome }}</td>
                <td>{{ data.anagraficaDto.anagrafica.codiceFiscale | uppercase }}  <i  style="cursor: pointer;" matTooltip="Copia" class="fa-solid fa-copy" (click)="copy(data.anagraficaDto.anagrafica.codiceFiscale)"></i></td>
                <td>{{data.anagraficaDto.anagrafica.mailAziendale}}  <i  style="cursor: pointer;" matTooltip="Copia" class="fa-solid fa-copy" (click)="copy(data.anagraficaDto.anagrafica.mailAziendale)"></i></td>
                <td> <button mat-mini-fab color="primary" (click)="dettaglioAnagrafica(data.anagraficaDto.anagrafica.id)"> <i class="fa fa-info" ></i> </button> </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-12">
          <table class="table table-bordered"  id="table-commesse">
            <thead>
              <tr>
                <th>Azienda cliente</th>
                <th>Cliente finale</th>
                <th>Titolo posizione</th>
                <th>Distacco</th>
                <th>Distacco azienda</th>
                <th>Distacco data</th>
                <th>Data inizio</th>
                <th>Data fine</th>
                <th>Tariffa giornaliera</th>
                <th>Azienda fatturazione Interna</th>
                <th>Azioni</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let commessa of data.anagraficaDto.commesse; let i=index;">
                <td *ngIf="commessa.tipoAziendaCliente.descrizione!=null" >{{ commessa.tipoAziendaCliente.descrizione }}</td>
                <td style="color: red;" *ngIf="commessa.tipoAziendaCliente.descrizione==null" >Dato non inserito.</td>

                <td *ngIf="commessa.clienteFinale!=null" >{{ commessa.clienteFinale }}</td>
                <td style="color: red;" *ngIf="commessa.clienteFinale==null" >Dato non inserito.</td>

                <td *ngIf="commessa.titoloPosizione!=null" >{{ commessa.titoloPosizione }}</td>
                <td  style="color: red;" *ngIf="commessa.titoloPosizione==null" >Dato non inserito.</td>

                <td>
                  <label class="switch" >
                    <input type="checkbox" disabled [checked]="commessa.distacco">
                    <span class="slider"></span>
                  </label>
                </td>

                <td *ngIf="commessa.distaccoAzienda" >{{ commessa.distaccoAzienda }}</td>
                <td style="color: red;"  *ngIf="!commessa.distaccoAzienda" >Dato non inserito.</td>


                <td *ngIf="commessa.distaccoData">{{ commessa.distaccoData | date: 'dd/MM/yyyy' }}</td>
                <td style="color: red;" *ngIf="!commessa.distaccoData">Dato non inserito.</td>

                <td *ngIf="commessa.dataInizio!=null" >{{ commessa.dataInizio | date: 'dd/MM/yyyy' }}</td>
                <td style="color: red;" *ngIf="commessa.dataInizio==null" >Dato non inserito.</td>

                <td *ngIf="commessa.dataFine !=null" >{{ commessa.dataFine | date: 'dd/MM/yyyy' }}</td>
                <td style="color: red;" *ngIf="commessa.dataFine ==null" >Dato non inserito.</td>

                <td *ngIf="commessa.tariffaGiornaliera !=null" >{{ commessa.tariffaGiornaliera }}<i class="fa fa-euro-sign" ></i> </td>
                <td style="color: red;" *ngIf="commessa.tariffaGiornaliera ==null">Dato non inserito.</td>


                <td *ngIf=" commessa.aziendaDiFatturazioneInterna !=null" >{{ commessa.aziendaDiFatturazioneInterna }} </td>
                <td style="color: red;" *ngIf=" commessa.aziendaDiFatturazioneInterna==null " >Dato non inserito.</td>

                <td >
                   <button mat-mini-fab color="accent" matTooltip="Modifica commessa" (click)="modificaCommessa(data.anagraficaDto.anagrafica.id)" > <i class="fa fa-pencil"></i> </button>
                   <button mat-mini-fab color="warn" matTooltip="Archivia commessa" (click)="storicizza( i)"><i class="fa fa-archive"></i> </button>
                </td>

              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </body>
</html>
