<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body *ngIf="ruolo==='ADMIN'">
  <div id="inizioPagina"></div>
  <div class="container-toolbar" [hidden]="tokenProvvisorio != null && tokenProvvisorio == null">
    <mat-toolbar id="toolbar" *ngIf="token && !mobile">
      <a [routerLink]="['/home']" class="logo-link">
        <img class="logo-image" width="40" height="40" src="../../../../assets/images/logo.jpeg" alt="Logo">
      </a>
      <div class="toolbar-menu" *ngIf="jsonData && jsonData.list">
        <a (click)="getPermissions(menuItem.id)" style="color: white;" class="toolbar-link"
          *ngFor="let menuItem of jsonData.list" [routerLink]="[menuItem.percorso]">
          {{ menuItem.nome }}
        </a>
      </div>
      <span>
        <div class="form-check form-switch" matTooltip="{{ themeService.isDarkModeEnabled() ? 'Light mode' : 'Dark Mode' }}">
          <input class="form-check-input" [checked]="themeService.isDarkModeEnabled()" (click)="toggleDarkMode()" type="checkbox" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault" matTooltip="{{ themeService.isDarkModeEnabled() ? 'Light mode' : 'Dark Mode' }}"></label>
        </div>

      </span>
      <span style="cursor: pointer;" mat-icon-button [routerLink]="['/profile-box']" class="user-icon">
        <small *ngIf="userRoleNav===false">{{userLoggedName}} {{userLoggedSurname}} (Admin) &nbsp;</small>
        <small *ngIf="userRoleNav===true">{{userLoggedName}} {{userLoggedSurname}} (Dipendente) &nbsp;</small> <i
          class="fa fa-user"></i>
      </span> &nbsp;&nbsp;
      <span style="cursor: pointer;" mat-icon-button (click)="logout()" class="logout-icon">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
      </span>
    </mat-toolbar>
  </div>

  <div class="container-toolbar" [hidden]="tokenProvvisorio != null && tokenProvvisorio == null">
    <mat-toolbar id="toolbar" *ngIf="token && mobile">
      <a [routerLink]="['/home']" class="logo-link">
        <img class="logo-image" width="40" height="40" src="../../../../assets/images/logo.jpeg" alt="Logo">
      </a>
      <button style=" background-color:white;color:black;margin-right: 10px;" mat-button [matMenuTriggerFor]="menu">
        Menu
      </button>
      <mat-menu #menu="matMenu">
        <button style="background-color:white;color:black" mat-menu-item *ngFor="let menuItem of jsonData.list"
          [routerLink]="[menuItem.percorso]" (click)="getPermissions(menuItem.id)">
          {{ menuItem.nome }}
        </button>
      </mat-menu>
      <span style="cursor: pointer;" mat-icon-button [routerLink]="['/profile-box']" class="user-icon">
        <small *ngIf="userRoleNav===false">{{userLoggedName}} {{userLoggedSurname}} (Admin) &nbsp;</small>
        <small *ngIf="userRoleNav===true">{{userLoggedName}} {{userLoggedSurname}} (Dipendente) &nbsp;</small>
        <i class="fa fa-user"></i>
      </span> &nbsp;&nbsp;
      <span style="cursor: pointer;" mat-icon-button (click)="logout()" class="logout-icon">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
      </span>
    </mat-toolbar>
  </div>
  <div class="row">
    <div class="col-12">
      <br>
      <mat-card style="text-align: center;">
        <h1><img src="../../../../assets/images/logoSincronoCompleto.png" alt="Logo Sincrono"></h1>
        <h1> Dettaglio richiesta <i class="fa fa-envelope" ></i>  </h1>
      </mat-card>
    </div>
  </div>
  <br>
  <div class="container-fluid">

<div *ngIf="data && data.length > 0">
  <div *ngFor="let item of data">
    <ng-container *ngIf="item.ferie; else permessiTemplate">
      <!-- Mostra i dettagli per richiesta di ferie -->
      <p>Richiesta di Ferie:</p>
      <p>Numero Giorni: {{ item.nGiorno }}</p>
    </ng-container>

    <ng-template #permessiTemplate>
      <!-- Mostra i dettagli per richiesta di permessi -->
      <p>Richiesta di Permessi:</p>
      <p>Giorni richiesti: {{ item.nGiorno }}</p>
      <p>Ora Inizio: {{ item.daOra }}</p>
      <p>Ora Fine: {{ item.aOra }}</p>
    </ng-template>
  </div>
</div>

<div *ngIf="!data || data.length === 0">
  <p>Nessun dato disponibile.</p>
</div>
  </div>
  <div id="finePagina"></div>
</body>
</html>
