<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="inizioPagina"></div>
  <div class="container-toolbar" *ngIf="!mobile && jsonData?.list">
    <div class="row align-items-center">
      <div class="col-auto">
        <a [routerLink]="['/home']" class="logo-link">
          <img class="logo-image" width="40" height="40" src="../../../../assets/images/logo.jpeg" alt="Logo">
        </a>
      </div>

      <div class="col-auto">
        <button  *ngIf="getWindowWidth() < 830" mat-icon-button [matMenuTriggerFor]="hamburgerMenu" (click)="toggleHamburgerMenu()" class="hamburger-icon">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <div class="col-auto">
        <mat-menu #hamburgerMenu="matMenu" class="hamburger-menu">
          <button id="menu-voice" mat-menu-item *ngFor="let menuItem of jsonData.list" (click)="navigateTo(menuItem.percorso)">
            {{ menuItem.nome }}
          </button>
        </mat-menu>

        <div class="toolbar-menu" *ngIf="jsonData && jsonData.list && !isHamburgerMenuOpen">
          <a (click)="getPermissions(menuItem.id)" style="color: white;" class="toolbar-link"
            *ngFor="let menuItem of jsonData.list" [routerLink]="[menuItem.percorso]">
            {{ menuItem.nome }}
          </a>
        </div>
      </div>

      <div class="col-auto" *ngIf="jsonData && jsonData.list && !isHamburgerMenuOpen">
        <a style="color:white; cursor: pointer;" (click)="vaiAlRapportino()">Rapportino</a>
      </div>

      <div class="col-auto">
        <div class="form-check form-switch" matTooltip="{{ themeService.isDarkModeEnabled() ? 'Light mode' : 'Dark Mode' }}">
          <input class="form-check-input" [checked]="themeService.isDarkModeEnabled()" (click)="toggleDarkMode()" type="checkbox" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault" matTooltip="{{ themeService.isDarkModeEnabled() ? 'Light mode' : 'Dark Mode' }}"></label>
        </div>
      </div>

      <div class="col-auto">
        <div style="cursor: pointer;" mat-icon-button [routerLink]="['/profile-box']" class="user-icon">
          <small *ngIf="userRoleNav===false">{{userLoggedName}} {{userLoggedSurname}} (Admin) &nbsp;</small>
          <small *ngIf="userRoleNav===true">{{userLoggedName}} {{userLoggedSurname}} (Dipendente) &nbsp;</small>
          <i class="fa fa-user"></i>
        </div>
      </div>

      <div class="col-auto">
        <div style="cursor: pointer;" mat-icon-button (click)="logout()" class="logout-icon">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>

 <div class="container-toolbar" [hidden]="tokenProvvisorio != null && tokenProvvisorio == null">
    <mat-toolbar id="toolbar" *ngIf="token && mobile  && jsonData?.list">
      <a [routerLink]="['/home']" class="logo-link">
        <img class="logo-image" width="40" height="40" src="../../../../assets/images/logo.jpeg" alt="Logo">
      </a>
      <button style="background-color:#333;color:white;margin-left:-10px;margin-right:3px;border-radius:1px;padding:5px;"
        mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <ng-template matMenuContent>
          <button  mat-menu-item *ngFor="let menuItem of jsonData.list"
            [routerLink]="[menuItem.percorso]" (click)="getPermissions(menuItem.id)">
            {{ menuItem.nome }}
          </button>
          <button mat-menu-item  (click)="vaiAlRapportino()">
            Rapportino
          </button>
        </ng-template>
      </mat-menu>

      <span style="cursor: pointer;" mat-icon-button [routerLink]="['/profile-box']" class="user-icon">
        <small *ngIf="userRoleNav===false">{{userLoggedName}} {{userLoggedSurname}} (Admin) &nbsp;</small>
        <small *ngIf="userRoleNav===true">{{userLoggedName}} {{userLoggedSurname}} (Dipendente) &nbsp;</small>
        <i class="fa fa-user"></i>
      </span> &nbsp;&nbsp;
      <span style="cursor: pointer;" mat-icon-button (click)="logout()" class="logout-icon">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
      </span>
    </mat-toolbar>
  </div>

  <div class="container-fluid" *ngIf="ruolo==='ADMIN'">
    <div class="row" *ngIf="ruolo==='ADMIN'">
      <div class="col-12">
        <br>
        <mat-card style="text-align: center;">
          <h1><img src="../../../../assets/images/logoSincronoCompleto.png" alt="Logo Sincrono"></h1>
          <h1> Dettaglio richiesta <i class="fa fa-envelope" ></i></h1>
        </mat-card>
      </div>
    </div>
    <br>
<div class="row">
  <div class="col-12" style="text-align: center;" *ngIf="data">
      <p><strong>Anno:</strong> {{ data.anno }}</p>
      <p><strong>Mese:</strong> {{ getNomeMese(data.mese) }}</p>
      <p><strong>Codice Fiscale:</strong> {{ data.codiceFiscale }}</p>

      <div *ngIf="data.list && data.list.length > 0">
        <p><strong>Tipologia richiesta:</strong>{{ getTitle() }}</p>
        <div *ngFor="let item of data.list">
          <ng-container *ngIf="item.ferie; else permessiTemplate">
            <p>{{ item.nGiorno }} </p>
          </ng-container>

          <ng-template #permessiTemplate>
            <p> <strong>Giorno richiesto:</strong> {{ item.nGiorno }}</p>
            <p> <strong>Ora Inizio: </strong>{{ item.daOra || 'Non specificato' }}</p>
            <p> <strong>Ora Fine:</strong> {{ item.aOra || 'Non specificato' }}</p>
          </ng-template>
        </div>

        <div class="buttons-container">
          <button mat-flat-button color="primary" (click)="accetta()">Accetta</button> &nbsp;
          <button mat-flat-button color="warn" (click)="rifiutaECompilaNote()">Rifiuta</button>
        </div>
        <br>
        <div class="col-6" *ngIf="compilaNote" >
         <div class="form-group">
          <label for="noteRifiuto">Specifica la motivazione del rifiuto (facoltativo)</label>
          <textarea name="noteRifiuto" id="noteRifiuto" cols="10" rows="10" class="form-control" [(ngModel)]="note" ></textarea> <br>
          <button class="btn btn-warning" (click)="inviaNoteEConfermaRifiuto()" >Conferma rifiuto</button>
         </div>
        </div>
      </div>
      <p *ngIf="!data.list || data.list.length === 0">Nessun dettaglio disponibile.</p>
  </div>
</div>
  </div>

  <div class="container-fluid" *ngIf="userRoleNav === 'DIPENDENTE'">
    <div class="row">
      <div class="col-12">
        <img src="../../../../assets/images/danger.png" alt="Logo Sincrono" />
        <h1>Attenzione:</h1>
        <br />
        <h3>Non hai i permessi per accedere a questa pagina.</h3>
        <br />
        <a [routerLink]="['/home']">Torna alla home.</a>
      </div>
    </div>
  </div>
  <div id="finePagina"></div>
  <footer>
    <div class="footer">
      <div class="contain">
      <div class="col">
        <h2>Sito web</h2>
        <ul>
          <li> <a href="https://www.sincrono.it/" target="_blank"> <img class="logo-image" width="40" height="40" src="../../../../assets/images/logo.jpeg" alt="Logo"></a> </li>
        </ul>
      </div>
      <div class="col">
        <h2>Social</h2>
        <ul>
          <li>
            <a href="https://www.linkedin.com/company/gruppo-sincrono/mycompany/" target="_blank" class="social-icon"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.facebook.com/g.sincrono" class="social-icon" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/grupposincrono?igshid=OGQ5ZDc2ODk2ZA==" class="social-icon" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.sincrono.it/#pinterest" class="social-icon" target="_blank"><i class="fab fa-pinterest"></i></a>
          </li>
        </ul>
      </div>

      <div class="col">
        <h2>Contatti</h2>
        <ul>
          <li> <b>Tel:</b> 06 7101227</li>
          <li> <b>Fax:</b> 06 89716493</li>
          <li> <b>P.IVA:</b> 14651701006</li>
          <li matTooltip="Invia il tuo CV" > <b>Lavora con noi: </b><span [innerHTML]="'cv@sincrono.it'"></span> </li>
        </ul>
      </div>
      <div class="col address">
        <h2>Indirizzo </h2>
        <ul>
          <li> <b>Indirizzo:</b> Via Vinicio Cortese 147/F - 00128 Roma (RM) - Lazio, Italia</li>
          <li> <b>Sede legale:</b> Via Isole del Capoverde 310, 00121 (Roma) (RM) - Lazio, Italia</li>
      </ul>
      </div>
      <div class="col">
        <h2>Tutti i diritti riservati</h2>
      </div>
      <div class="col">
        <h2>Tempo di sessione:</h2>
        <ul>
          <li><p>{{ formatTime(tokenExpirationTime) }}</p></li>
        </ul>
      </div>
    <div class="clearfix"></div>
    </div>
    </div>
    </footer>
</body>
</html>
