<div>
    <form [formGroup]="modificaCommessa" (ngSubmit)="inserisci()">
        <div>
            <div></div>
            <fieldset>
                <legend>Dati commessa:</legend>

                <div>
                    <label for="id">id</label>
                    <input type="text" id="id" formControlName="id" hidden />
                </div>
                <div>
                    <label for="cliente">Cliente</label>
                    <input type="text" id="cliente" formControlName="cliente" placeholder="{{ data?.cliente }}" />
                </div>
                <div>
                    <label for="clienteFinale">Cliente Finale</label>
                    <input type="text" id="clienteFinale" formControlName="clienteFinale"
                        placeholder="{{ data?.clienteFinale }}" />
                </div>
                <div>
                    <label for="titoloPosizione">Titolo Posizione</label>
                    <input type="text" id="titoloPosizione" formControlName="titoloPosizione"
                        placeholder="{{ data?.titoloPosizione }}" />
                </div>
                <div>
                    <label for="distacco">Distacco</label>
                    <input type="text" id="distacco" formControlName="distacco" placeholder="{{ data?.distacco }}" />
                </div>
                <div>
                    <label for="dataInizio">Data inizio</label>
                    <mat-form-field appearance="outline">
                        <input matInput [matDatepicker]="picker" formControlName="dataInizio"
                            placeholder="{{ this.transformDate(data?.dataInizio) }}" />

                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div>
                    <label for="dataFine">Data fine</label>
                    <mat-form-field appearance="outline">
                        <input matInput [matDatepicker]="picker2" formControlName="dataFine"
                            placeholder="{{ this.transformDate(data?.dataFine) }}" />
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
                <div>
                    <label for="costoMese">Costo mese</label>
                    <input type="text" id="costoMese" formControlName="costoMese" placeholder="{{ data?.costoMese }}" />
                </div>
                <div>
                    <label for="tariffaGiornaliera">Tariffa giornaliera</label>
                    <input type="text" id="tariffaGiornaliera" formControlName="tariffaGiornaliera"
                        placeholder="{{ data?.tariffaGiornaliera }}" />
                </div>
                <div>
                    <label for="nominativo">Nominativo</label>
                    <input type="text" id="nominativo" formControlName="nominativo"
                        placeholder="{{ data?.nominativo }}" />
                </div>
                <div>
                    <label for="azienda">Azienda</label>
                    <input stype="text" id="azienda" formControlName="azienda" placeholder="{{ data?.azienda }}" />
                </div>
                <div>
                    <label for="aziendaDiFatturazioneInterna">Azienda di fatturazione interna</label>
                    <input type="text" id="aziendaDiFatturazioneInterna" formControlName="aziendaDiFatturazioneInterna"
                        placeholder="{{ data?.aziendaDiFatturazioneInterna }}" />
                </div>
                <div>
                    <label for="stato">Stato</label>
                    <div>
                        <input type="checkbox" formControlName="stato" id="inlineCheckbox1" formControlName="stato"
                            [checked]="data?.stato" />
                        <label for="inlineCheckbox1">Attivo</label>
                    </div>
                </div>
                <div>
                    <label for="attesaLavori">Attesa lavori</label>
                    <input type="text" id="attesaLavori" formControlName="attesaLavori"
                        placeholder="{{ data?.attesaLavori }}" />
                </div>
            </fieldset>
        </div>
        <div>
            <button type="submit">Salva</button>
            <button [routerLink]="['/dettaglio-commessa',data?.id]">Annulla e torna indietro</button>
        </div>
    </form>
</div>