<div>
    <form [formGroup]="modificaCommessa" (ngSubmit)="inserisci()">
        <div>
            <div></div>
            <fieldset>
                <legend>Dati commessa:</legend>

                <div hidden>
                    <div formGroupName="id">
                        <label for="id">id</label>
                        <input type="text" id="id" name="id" />
                    </div>
                </div>

                <div>
                    <div formGroupName="cliente">
                        <label for="cliente">Cliente</label>
                        <input type="text" id="cliente" name="cliente" placeholder="{{ data2?.cliente }}" />
                    </div>
                </div>

                <div>
                    <div formGroupName="clienteFinale">
                        <label for="clienteFinale">Cliente Finale</label>
                        <input type="text" id="clienteFinale" name="clienteFinale"
                            placeholder="{{ data2?.clienteFinale }}" />
                    </div>
                </div>

                <div>
                    <div formGroupName="titoloPosizione">
                        <label for="titoloPosizione">Titolo Posizione</label>
                        <input type="text" id="titoloPosizione" name="titoloPosizione"
                            placeholder="{{ data2?.titoloPosizione }}" />
                    </div>
                </div>

                <div>
                    <div formGroupName="distacco">
                        <label for="distacco">Distacco</label>
                        <input type="text" id="distacco" name="distacco" placeholder="{{ data2?.distacco }}" />
                    </div>
                </div>

                <div>
                    <div>
                        <label for="dataInizio" style="width: 100%">Data inizio</label>
                        <mat-form-field appearance="outline">
                            <input matInput [matDatepicker]="picker" formControlName="dataInizio"
                                placeholder="{{ this.transformDate(data2?.dataInizio) }}" />

                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>


                <div>
                    <div>
                        <label for="dataFine" style="width: 100%">Data fine</label>
                        <mat-form-field appearance="outline">
                            <input matInput [matDatepicker]="picker2" formControlName="dataFine"
                                placeholder="{{ this.transformDate(data2?.dataFine) }}" />
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>

                <div>
                    <div formGroupName="costoMese">
                        <label for="costoMese">Costo mese</label>
                        <input type="text" id="costoMese" name="costoMese" placeholder="{{ data2?.costoMese }}" />
                    </div>
                </div>

                <div>
                    <div formGroupName="tariffaGiornaliera">
                        <label for="tariffaGiornaliera">Tariffa giornaliera</label>
                        <input type="text" id="tariffaGiornaliera" name="tariffaGiornaliera"
                            placeholder="{{ data2?.tariffaGiornaliera }}" />
                    </div>
                </div>

                <div>
                    <div formGroupName="nominativo">
                        <label for="nominativo">Nominativo</label>
                        <input type="text" id="nominativo" name="nominativo" placeholder="{{ data2?.nominativo }}" />
                    </div>
                </div>

                <div>
                    <div formGroupName="azienda">
                        <label for="azienda">Azienda</label>
                        <input stype="text" id="azienda" name="azienda" placeholder="{{ data2?.azienda }}" />
                    </div>
                </div>

                <div>
                    <div formGroupName="aziendaDiFatturazioneInterna">
                        <label for="aziendaDiFatturazioneInterna">Azienda di fatturazione interna</label>
                        <input type="text" id="aziendaDiFatturazioneInterna" name="aziendaDiFatturazioneInterna"
                            placeholder="{{ data2?.aziendaDiFatturazioneInterna }}" />
                    </div>
                </div>

                <div>
                    <div>
                        <label for="stato" style="width: 100%">Stato</label>
                        <div>
                            <input type="checkbox" name="stato" id="inlineCheckbox1" formControlName="stato"
                                [checked]="data2?.stato" />
                            <label for="inlineCheckbox1">Attivo</label>
                        </div>
                    </div>
                </div>

                <div>
                    <div formGroupName="attesaLavori">
                        <label for="attesaLavori">Attesa lavori</label>
                        <input type="text" id="attesaLavori" name="attesaLavori"
                            placeholder="{{ data2?.attesaLavori }}" />
                    </div>
                </div>
            </fieldset>
        </div>
        <div>
            <button type="submit">Salva</button>
            <button [routerLink]="['/lista-commesse']">Annulla e torna indietro</button>
        </div>
    </form>
</div>