<div>
   <form [formGroup]="modificaCommessa" (ngSubmit)="inserisci()">
        <div class="card-body">
            <div class="row"></div>
            <fieldset class="border p-2">
                <legend class="w-auto">Dati commessa:</legend>
                
                 <div class="col-md-4" hidden>
                    <div formGroupName="id">
                        <label for="id">id</label>
                        <input class="form-control" type="text" id="id" name="id">
                    </div>
                 </div>

                    <div class="col-md-4">
                        <div formGroupName="cliente">
                            <label for="cliente">Cliente</label>
                            <input class="form-control" type="text" id="cliente" name="cliente">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div formGroupName="cliente_finale">
                            <label for="cliente_finale">Cliente Finale</label>
                            <input class="form-control" type="text" id="cliente_finale" name="cliente_finale">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div formGroupName="titolo_posizione">
                            <label for="titolo_posizione">Titolo Posizione</label>
                            <input class="form-control" type="text" id="titolo_posizione" name="titolo_posizione">
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div formGroupName="distacco">
                            <label for="distacco">Distacco</label>
                            <input class="form-control" type="text" id="distacco" name="distacco">
                        </div>
                    </div>
                   
                
                    <div class="form-group">
                        <div class="mat-form-field">  
                            <label for="data_inizio" style="width: 100%;">Data inizio</label>
                            <mat-form-field appearance="outline">
                                <input  matInput [matDatepicker]="picker" formControlName="data_inizio">
                                
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>

                        </div>
                    </div>

                                   
                    <div class="form-group">
                        <div class="mat-form-field">
                            <label for="data_fine" style="width: 100%;">Data fine</label>
                            <mat-form-field appearance="outline">
                                <input  matInput [matDatepicker]="picker2" formControlName="data_fine">
                                
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div formGroupName="costo_mese">
                            <label for="costo_mese">Costo mese</label>
                            <input class="form-control" type="text" id="costo_mese" name="costo_mese">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div formGroupName="tariffa_giornaliera">
                            <label for="tariffa_giornaliera">Tariffa giornaliera</label>
                            <input class="form-control" type="text" id="tariffa_giornaliera" name="tariffa_giornaliera">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div formGroupName="nominativo">
                            <label for="nominativo">Nominativo</label>
                            <input class="form-control" type="text" id="nominativo" name="nominativo">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div formGroupName="azienda">
                            <label for="azienda">Azienda</label>
                            <input  class="form-control" stype="text" id="azienda" name="azienda">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div formGroupName="azienda_di_fatturazione_interna">
                            <label for="azienda_di_fatturazione_interna">Azienda di fatturazione interna</label>
                            <input class="form-control" type="text" id="azienda_di_fatturazione_interna" name="azienda_di_fatturazione_interna">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="stato" style="width: 100%;">Stato</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="stato" id="inlineRadio1" value=true
                                    formControlName="stato">
                                <label class="form-check-label" for="inlineRadio1">Attivo</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="stato" id="inlineRadio2" value=false
                                    formControlName="stato">
                                <label class="form-check-label" for="inlineRadio2">Non Attivo</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div formGroupName="attesaLavori">
                            <label for="attesaLavori">Attesa lavori</label>
                            <input class="form-control" type="text" id="attesaLavori" name="attesaLavori">
                        </div>
                    </div>
                   
           </fieldset>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
