<html>

<head>
  <title>Dashboard</title>
  <style>
    #toolbar {
      background-color: #007bff;
      /* Colore blu aziendale */
      color: #ffffff;
      /* Testo bianco */
      display: flex;
      background-color: #333;
      justify-content: space-between;
      /* Allinea gli elementi a sinistra e a destra */
      align-items: center;
      /* Allinea verticalmente gli elementi al centro */
    }

    .logo-link {
      margin-right: 10px;
    }

    .toolbar-menu {
      display: flex;
      gap: 10px;
      background-color: #333;
      margin-right: auto;
    }

    .toolbar-link {
      text-decoration: none;
      color: #ffffff;
      /* padding: 10px; */
    }

    a {
      color: white;
    }

    .toolbar-link:hover {
      color: #d8d8d8;
    }

    .user-icon,
    .logout-icon {
      color: #ffffff;
      cursor: pointer;
    }


    #toolbar {
      background-color: #007bff;
      /* Colore blu aziendale */
      color: #ffffff;
      /* Testo bianco */
      display: flex;
      background-color: #333;
      justify-content: space-between;
      /* Allinea gli elementi a sinistra e a destra */
      align-items: center;
      /* Allinea verticalmente gli elementi al centro */
    }

    .logo-link {
      margin-right: 10px;
    }

    .toolbar-menu {
      display: flex;
      gap: 10px;
      background-color: #333;
      margin-right: auto;
    }

    .toolbar-link {
      text-decoration: none;
      color: #ffffff;
      /* padding: 10px; */
    }

    a {
      color: white;
    }

    .toolbar-link:hover {
      color: #d8d8d8;
    }

    .user-icon,
    .logout-icon {
      color: #ffffff;
      cursor: pointer;
    }
  </style>
</head>

<body [class.dark-mode]="themeService.isDarkModeEnabled()">
  <div class="container-toolbar" *ngIf="!mobile">
    <div class="row align-items-center">
      <div class="col-auto">
        <a [routerLink]="['/home']" class="logo-link">
          <img class="logo-image" width="40" height="40" src="../../../../assets/images/logo.jpeg" alt="Logo">
        </a>
      </div>

      <div class="col-auto">
        <button *ngIf="getWindowWidth() < 830" mat-icon-button [matMenuTriggerFor]="hamburgerMenu"
          (click)="toggleHamburgerMenu()" class="hamburger-icon">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <div class="col-auto">
        <mat-menu #hamburgerMenu="matMenu" class="hamburger-menu">
          <button id="menu-voice" mat-menu-item *ngFor="let menuItem of jsonData.list"
            (click)="navigateTo(menuItem.percorso)">
            {{ menuItem.nome }}
          </button>
        </mat-menu>

        <div class="toolbar-menu" *ngIf="jsonData && jsonData.list && !isHamburgerMenuOpen">
          <a (click)="getPermissions(menuItem.id)" style="color: white;" class="toolbar-link"
            *ngFor="let menuItem of jsonData.list" [routerLink]="[menuItem.percorso]">
            {{ menuItem.nome }}
          </a>
        </div>
      </div>

      <div class="col-auto">
        <div class="form-check form-switch"
          matTooltip="{{ themeService.isDarkModeEnabled() ? 'Light mode' : 'Dark Mode' }}">
          <input class="form-check-input" [checked]="themeService.isDarkModeEnabled()" (click)="toggleDarkMode()"
            type="checkbox" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault"
            matTooltip="{{ themeService.isDarkModeEnabled() ? 'Light mode' : 'Dark Mode' }}"></label>
        </div>
      </div>

      <div class="col-auto">
        <div style="cursor: pointer;" mat-icon-button [routerLink]="['/profile-box']" class="user-icon">
          <small *ngIf="userRoleNav===false">{{userLoggedName}} {{userLoggedSurname}} (Admin) &nbsp;</small>
          <small *ngIf="userRoleNav===true">{{userLoggedName}} {{userLoggedSurname}} (Dipendente) &nbsp;</small>
          <i class="fa fa-user"></i>
        </div>
      </div>

      <div class="col-auto">
        <div style="cursor: pointer;" mat-icon-button (click)="logout()" class="logout-icon">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="container-toolbar" [hidden]="tokenProvvisorio != null && tokenProvvisorio == null">
    <mat-toolbar id="toolbar" *ngIf="token && mobile">
      <a [routerLink]="['/home']" class="logo-link">
        <img class="logo-image" width="40" height="40" src="../../../../assets/images/logo.jpeg" alt="Logo">
      </a>
      <button
        style="background-color:#333;color:white;margin-left:-10px;margin-right:3px;border-radius:1px;padding:5px;"
        mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <ng-template matMenuContent>
          <button style="background-color:#333;color:white" mat-menu-item *ngFor="let menuItem of jsonData.list"
            [routerLink]="[menuItem.percorso]" (click)="getPermissions(menuItem.id)">
            {{ menuItem.nome }}
          </button>
        </ng-template>
      </mat-menu>
      <span style="cursor: pointer;" mat-icon-button [routerLink]="['/profile-box']" class="user-icon">
        <small *ngIf="userRoleNav===false">{{userLoggedName}} {{userLoggedSurname}} (Admin) &nbsp;</small>
        <small *ngIf="userRoleNav===true">{{userLoggedName}} {{userLoggedSurname}} (Dipendente) &nbsp;</small>
        <i class="fa fa-user"></i>
      </span> &nbsp;&nbsp;
      <span style="cursor: pointer;" mat-icon-button (click)="logout()" class="logout-icon">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
      </span>
    </mat-toolbar>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <br>
        <mat-card style="text-align: center;">
          <h1><img src="../../../../assets/images/logoSincronoCompleto.png" alt="Logo Sincrono"></h1>
          <h1>Storico contratti di <a style="color: blue;" [routerLink]="['/dettaglio-anagrafica/'+idAnagrafica]">
              {{anagrafica?.anagrafica?.nome |titlecase }} {{anagrafica?.anagrafica?.cognome |titlecase}} </a> </h1>
        </mat-card>
      </div>
    </div>
    <br>

    <div class="row" *ngIf="lista==null">
      <div class="col-12">
        <h3 style="text-align: center;">Storico contratti non presente. <i class="fa fa-undo btn btn-primary"
            [routerLink]="['/dettaglio-anagrafica/'+idAnagrafica]"></i> </h3>
      </div>
    </div>
    <div class="row" [hidden]="pageData.length===0">
      <div class="col-12">
        <h3>
          Qui sono consultabili tutte le modifiche effettuate nel tempo al contratto di {{anagrafica?.anagrafica?.nome
          |titlecase }} {{anagrafica?.anagrafica?.cognome
          |titlecase}}
        </h3>
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Contratto</th>
                <th>Mesi durata</th>
                <th>CCNL</th>
                <th>Livello</th>
                <th>Minimi ret 23</th>
                <th>Mensilitá</th>
                <th>Azienda</th>
                <th>Sede assunzione</th>
                <th>Data inizio</th>
                <th>Data fine</th>
                <th>Qualifica</th>
                <th>Canale reclutamento</th>
                <th>PC aziendale</th>
                <th>Tutor</th>
                <th>PFI</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of pageData; let i=index;">
                <td>{{data.tipoContratto.descrizione ? data.tipoContratto.descrizione : 'Dato non inserito.'}}</td>
                <td>{{data.mesiDurata ? data.mesiDurata : 'Dato non inserito.'}}</td>
                <td>{{data.tipoLivelloContratto.ccnl ? data.tipoLivelloContratto.ccnl : 'Dato non inserito'}}</td>
                <td>{{data.tipoLivelloContratto.livello ? data.tipoLivelloContratto.livello : 'Dato non inserito'}}</td>
                <td>{{data.tipoLivelloContratto.minimiRet23 ? data.tipoLivelloContratto.minimiRet23 : 'Dato non inserito.'}}</td>
                <td>{{data.tipoCcnl.numeroMensilita ? data.tipoCcnl.numeroMensilita : 'Dato non inserito.'}}</td>
                <td>{{data.tipoAzienda.descrizione ? data.tipoAzienda.descrizione : 'Dato non inserito.'}}</td>
                <td>{{data.sedeAssunzione ? data.sedeAssunzione : 'Dato non inserito.'}}</td>
                <td>{{data.dataAssunzione | date: 'dd/MM/yyyy'}}</td>
                <td *ngIf="data.tipoContratto.descrizione!='Indeterminato'">{{data.dataFineRapporto |
                  date:'dd/MM/yyyy'}}</td>
                <td *ngIf="data.tipoContratto.descrizione=='Indeterminato'"></td>
                <td>{{data.qualifica ? data.qualifica :'Dato non inserito.'}}</td>
                <td>{{data.tipoCanaleReclutamento.descrizione ? data.tipoCanaleReclutamento.descrizione: 'Dato non inserito.'}}</td>
                <td>{{data.pc ? 'Si' : 'No'}}</td>
                <td>{{data.tutor ? data.tutor : 'Dato non inserito.'}}</td>
                <td> {{data.pfi ? 'Si' : 'No'}}</td>
              </tr>
            </tbody>
          </table>
          <div class="pagination">
            <ul>
              <li [class.disabled]="currentPage === 1" (click)="goToPage(currentPage - 1)">
                <span> <i class="fa fa-arrow-left"></i> </span>
              </li>
              <li *ngFor="let page of getPaginationArray()" [class.active]="currentPage === page"
                (click)="goToPage(page)">
                <span>{{ page }}</span>
              </li>
              <li [class.disabled]="currentPage === getTotalPages()" (click)="goToPage(currentPage + 1)">
                <span> <i class="fa fa-arrow-right"></i> </span>
              </li>
            </ul>
          </div>
        </div>
        <br><br>
      </div>
    </div>
  </div>
  <div id="finePagina"></div>
  <footer>
    <div class="footer">
      <div class="contain">
        <div class="col">
          <h2>Sito web</h2>
          <ul>
            <li> <a href="https://www.sincrono.it/" target="_blank"> <img class="logo-image" width="40" height="40"
                  src="../../../../assets/images/logo.jpeg" alt="Logo"></a> </li>
          </ul>
        </div>
        <div class="col">
          <h2>Social</h2>
          <ul>
            <li>
              <a href="https://www.linkedin.com/company/gruppo-sincrono/mycompany/" target="_blank"
                class="social-icon"><i class="fab fa-linkedin"></i></a>
              <a href="https://www.facebook.com/g.sincrono" class="social-icon" target="_blank"><i
                  class="fab fa-facebook"></i></a>
              <a href="https://www.instagram.com/grupposincrono?igshid=OGQ5ZDc2ODk2ZA==" class="social-icon"
                target="_blank"><i class="fab fa-instagram"></i></a>
              <a href="https://www.sincrono.it/#pinterest" class="social-icon" target="_blank"><i
                  class="fab fa-pinterest"></i></a>
            </li>
          </ul>
        </div>

        <div class="col">
          <h2>Contatti</h2>
          <ul>
            <li> <b>Tel:</b> 06 7101227</li>
            <li> <b>Fax:</b> 06 89716493</li>
            <li> <b>P.IVA:</b> 14651701006</li>
            <li matTooltip="Invia il tuo CV"> <b>Lavora con noi: </b><span [innerHTML]="'cv@sincrono.it'"></span> </li>
          </ul>
        </div>
        <div class="col address">
          <h2>Indirizzo </h2>
          <ul>
            <li> <b>Indirizzo:</b> Via Vinicio Cortese 147/F - 00128 Roma (RM) - Lazio, Italia</li>
            <li> <b>Sede legale:</b> Via Isole del Capoverde 310, 00121 (Roma) (RM) - Lazio, Italia</li>
          </ul>
        </div>
        <div class="col">
          <h2>Tutti i diritti riservati</h2>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </footer>
</body>

</html>

<!--
  {
    "esito": {
        "code": 200,
        "target": null,
        "args": null
    },
    "list": [
        {
            "id": 8,
            "tipoCausaFineRapporto": null,
            "tipoCanaleReclutamento": {
                "id": 1,
                "descrizione": "Recruiting"
            },
            "tipoContratto": {
                "id": 5,
                "descrizione": "Apprendistato"
            },
            "tipoLivelloContratto": {
                "id": 16,
                "ccnl": "TERZIARIO COMMERCIO",
                "livello": "5",
                "minimiRet23": 1538.11
            },
            "tipoAzienda": {
                "id": 4,
                "descrizione": "Reymon"
            },
            "tipoCcnl": {
                "id": 3,
                "descrizione": "TERZIARIO COMMERCIO",
                "numeroMensilita": 14
            },
            "attivo": false,
            "qualifica": "frontend developer",
            "sedeAssunzione": null,
            "dataAssunzione": "2022-02-09T23:00:00.000+00:00",
            "dataInizioProva": null,
            "dataFineProva": null,
            "dataFineRapporto": "2025-02-09T23:00:00.000+00:00",
            "mesiDurata": 36,
            "livelloAttuale": "5",
            "livelloFinale": null,
            "partTime": null,
            "percentualePartTime": null,
            "retribuzioneMensileLorda": 1538.11,
            "superminimoMensile": null,
            "ralAnnua": 21533.54,
            "superminimoRal": null,
            "diariaMensile": null,
            "diariaGiornaliera": null,
            "ticket": null,
            "valoreTicket": null,
            "tutor": null,
            "pfi": null,
            "corsoSicurezza": null,
            "dataCorsoSicurezza": null,
            "pc": true,
            "visitaMedica": null,
            "dataVisitaMedica": null,
            "scattiAnzianita": null,
            "tariffaPartitaIva": null,
            "assicurazioneObbligatoria": null,
            "retribuzioneNettaGiornaliera": null,
            "retribuzioneNettaMensile": null,
            "diariaAnnua": null,
            "ralPartTime": null
        }
    ]
}
-->