<html>

<body>

    <form [formGroup]="nuova" (ngSubmit)="inserisci()">
        <div class="card-body">
            <fieldset class="border p-2">
                <legend class="w-auto">Inserisci Dettagli</legend>
                <div class="card">
                    <div class="row">
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group">
                                    <label for="attivo" style="width: 100%;">Attivo</label>
                                    <div class="form-check form-check-inline">
                                        <input id="checkbox" type="checkbox" formcontrolname="attivo">
                                        <label class="form-check-label" for="attivo">Attivo</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="aziendaTipo">Azienda: </label>
                                    <input class="form-control" id="aziendaTipo" type="text"
                                        placeholder="Inserisci l'azienda" formControlName="aziendaTipo">
                                </div>
                                <div class="form-group">
                                    <label for="nome">Nome: </label>
                                    <input class="form-control" id="nome" type="text" placeholder="Inserisci il nome"
                                        formControlName="nome">
                                </div>
                                <div class="form-group">
                                    <label for="qualifica">Cognome: </label>
                                    <input class="form-control" id="cognome" type="text"
                                        placeholder="Inserisci il cognome" formControlName="cognome">
                                </div>
                                <div class="form-group">
                                    <label for="qualifica">Codice Fiscale: </label>
                                    <input class="form-control" id="codiceFiscale" type="text"
                                        placeholder="Inserisci il Codice Fiscale" formControlName="codiceFiscale">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="border p-2">
                <legend class="w-auto">Inserisci i Recapiti</legend>
                <div class="card">
                    <div class="row">
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group">
                                    <label for="cellulareAziendale">Celluare Aziendale: </label>
                                    <input class="form-control" id="cellulareAziendale" type="text"
                                        placeholder="Inserisci il cellulare aziendale"
                                        formControlName="cellulareAziendale">
                                </div>
                                <div class="form-group">
                                    <label for="cellularePrivato">Celluare Privato: </label>
                                    <input class="form-control" id="cellularePrivato" type="text"
                                        placeholder="Inserisci il cellulare privato" formControlName="cellularePrivato">
                                </div>
                                <div class="form-group">
                                    <label for="mailAziendale">Email Aziendale: </label>
                                    <input class="form-control" id="mailAziendale" type="text"
                                        placeholder="Inserisci il email aziendale" formControlName="mailAziendale">
                                </div>
                                <div class="form-group">
                                    <label for="mailPrivata">Mail Privata: </label>
                                    <input class="form-control" id="mailPrivata" type="text"
                                        placeholder="Inserisci il email privata" formControlName="mailPrivata">
                                </div>
                                <div class="form-group">
                                    <label for="mailPec">Email PEC: </label>
                                    <input class="form-control" id="mailPec" type="text"
                                        placeholder="Inserisci la email PEC" formControlName="mailPec">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="border p-2">
                <legend class="w-auto">Competenze</legend>
                <div class="card">
                    <div class="row">
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group">
                                    <label for="titoliDiStudio">Titolo di Studio: </label>
                                    <input class="form-control" id="titoliDiStudio" type="text"
                                        placeholder="Inserisci il titolo di studio" formControlName="titoliDiStudio">
                                </div>
                                <div class="form-group">
                                    <label for="altriTitoli">Altri Titoli: </label>
                                    <input class="form-control" id="altriTitoli" type="text"
                                        placeholder="Inserisci altri titoli" formControlName="altriTitoli">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="border p-2">
                <legend class="w-auto">Info Extra</legend>
                <div class="card">
                    <div class="row">
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group">
                                    <label for="comuneDiNascita">Comune di Nascia: </label>
                                    <input class="form-control" id="comuneDiNascita" type="text"
                                        placeholder="Inserisci il comune di nascita" formControlName="comuneDiNascita">
                                </div>
                                <div class="form-group">
                                    <label for="dataNascita">Data di Nascita: </label>
                                    <input class="form-control" id="dataNascita" type="text"
                                        placeholder="Inserisci la data di nascita" formControlName="dataNascita">
                                </div>
                                <div class="form-group">
                                    <label for="domicilio">Domicilio: </label>
                                    <input class="form-control" id="domicilio" type="text"
                                        placeholder="Inserisci il domicilio" formControlName="domicilio">
                                </div>
                                <div class="form-group">
                                    <label for="coniugato" style="width: 100%;">Coniugato</label>
                                    <div class="form-check form-check-inline">
                                        <input id="checkbox" type="checkbox" formcontrolname="coniugato">
                                        <label class="form-check-label" for="coniugato">Coniugato</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="figliACarico" style="width: 100%;">Figli a Carico</label>
                                    <div class="form-check form-check-inline">
                                        <input id="checkbox" type="checkbox" formcontrolname="figliACarico">
                                        <label class="form-check-label" for="figliACarico">Figli a Carico</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>

</body>

</html>