<html>

<body>
    <h1>Nuova Anagrafica</h1>
    <form [formGroup]="nuovaAnagrafica" (ngSubmit)="inserisci()">
        <fieldset>
            <div formGroupName="utente">
                <legend>Utente</legend>
                <select id="utente" formControlName="id">
                    <option value="">--nessuna selezione--</option>
                    <option *ngFor="let utente of utenti" [value]="utente.id">
                        {{utente.username}}</option>
                </select>
            </div>
        </fieldset>
        <fieldset>
            <legend>Inserisci Dettagli</legend>
            <div>
                <label for="attivo">Attivo</label>
                <div>
                    <input id="checkbox" type="checkbox" formControlName="attivo">
                </div>
            </div>
            <div>
                <label for="aziendaTipo">Azienda: </label>
                <input id="aziendaTipo" type="text" placeholder="Inserisci l'azienda" formControlName="aziendaTipo">
            </div>
            <div>
                <label for="nome">Nome: </label>
                <input id="nome" type="text" placeholder="Inserisci il nome" formControlName="nome">
            </div>
            <div>
                <label for="qualifica">Cognome: </label>
                <input id="cognome" type="text" placeholder="Inserisci il cognome" formControlName="cognome">
            </div>
            <div>
                <label for="qualifica">Codice Fiscale: </label>
                <input id="codiceFiscale" type="text" placeholder="Inserisci il Codice Fiscale"
                    formControlName="codiceFiscale">
            </div>
        </fieldset>
        <fieldset>
            <legend>Inserisci i Recapiti</legend>
            <div>
                <label for="cellulareAziendale">Celluare Aziendale: </label>
                <input id="cellulareAziendale" type="text" placeholder="Inserisci il cellulare aziendale"
                    formControlName="cellulareAziendale">
            </div>
            <div>
                <label for="cellularePrivato">Celluare Privato: </label>
                <input id="cellularePrivato" type="text" placeholder="Inserisci il cellulare privato"
                    formControlName="cellularePrivato">
            </div>
            <div>
                <label for="mailAziendale">Email Aziendale: </label>
                <input id="mailAziendale" type="text" placeholder="Inserisci il email aziendale"
                    formControlName="mailAziendale">
            </div>
            <div>
                <label for="mailPrivata">Mail Privata: </label>
                <input id="mailPrivata" type="text" placeholder="Inserisci il email privata"
                    formControlName="mailPrivata">
            </div>
            <div>
                <label for="mailPec">Email PEC: </label>
                <input id="mailPec" type="text" placeholder="Inserisci la email PEC" formControlName="mailPec">
            </div>
        </fieldset>
        <fieldset>
            <legend>Competenze</legend>
            <div>
                <label for="titoliDiStudio">Titolo di Studio: </label>
                <input id="titoliDiStudio" type="text" placeholder="Inserisci il titolo di studio"
                    formControlName="titoliDiStudio">
            </div>
            <div>
                <label for="altriTitoli">Altri Titoli: </label>
                <input id="altriTitoli" type="text" placeholder="Inserisci altri titoli" formControlName="altriTitoli">
            </div>
        </fieldset>
        <fieldset>
            <legend>Info Extra</legend>
            <div>
                <label for="comuneDiNascita">Comune di Nascia: </label>
                <input id="comuneDiNascita" type="text" placeholder="Inserisci il comune di nascita"
                    formControlName="comuneDiNascita">
            </div>
            <div>
                <div>
                    <label for="dataNascita" style="width: 100%">Data inizio</label>
                    <mat-form-field appearance="outline">
                        <input matInput [matDatepicker]="picker" formControlName="dataNascita"
                            placeholder="Inserisci la data di nascita" />
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <label for="domicilio">Domicilio: </label>
                <input id="domicilio" type="text" placeholder="Inserisci il domicilio" formControlName="domicilio">
            </div>
            <div>
                <label for="coniugato">Coniugato</label>
                <div>
                    <input id="checkbox" type="checkbox" formControlName="coniugato">
                </div>
            </div>
            <div>
                <label for="figliACarico">Figli a Carico</label>
                <div>
                    <input id="checkbox" type="checkbox" formControlName="figliACarico">
                </div>
            </div>
            <button class="btn btn-dark btn-sm rounded-pill shadow-sm" style="background-color: rgb(18, 0, 122); color: white;" type="submit">Salva</button>
            <button class="btn btn-dark btn-sm rounded-pill shadow-sm" style="background-color: rgb(24, 122, 0); color: white;" [routerLink]="['/lista-anagrafiche']">Annulla e torna indietro</button>
        </fieldset>
    </form>

</body>

</html>