<<<<<<< HEAD
.ag-format-container{
width:1142px;
margin:0auto;
}


body{
background-color:#ffffff;
}



main{
padding:20px;
}

section{
margin-bottom:20px;
}

.cards{
display:flex;
}

.card{
background-color:#f4f4f4;
padding:20px;
margin-right:10px;
flex-basis:33.33%;
}

h2{
margin-top:0;
}

.recent-activityli{
margin-bottom:10px;
}

.timestamp{
font-weight:bold;
margin-right:5px;
}



footer{
position:fixed;
left:0;
bottom:0;
width:100%;
background-color:#333;
color:#fff;
padding:10px;
text-align:center;
}


.login-page.sidebar{
display:none;
=======

 .clienti {
  border: 1px solid #ddd; /* Aggiungi un bordo al mat-card */
  border-radius: 8px; /* Aggiungi un bordo arrotondato */
  padding: 10px; /* Aggiungi spaziatura interna al mat-card */
  margin-bottom: 10px; /* Aggiungi spaziatura tra i mat-card */
}

 /* Stili specifici per schermi di grandi dimensioni (desktop) */
 @media (min-width: 768px) {
  body {
    font-size: 18px;
  }
  /* Altri stili specifici per schermi di grandi dimensioni */
  .container-fluid {
    padding: 20px;
  }
  .col-6 {
    width: 50%;
    float: left;
  }
}

/* Stili specifici per schermi di medie dimensioni (tablet) */
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
  /* Altri stili specifici per schermi di medie dimensioni */
  .col-6 {
    width: 100%;
    float: none;
  }
  .banner img {
    max-width: 100%;
  }
}

/* Stili specifici per schermi di piccole dimensioni (dispositivi mobili) */
@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
  /* Altri stili specifici per schermi di piccole dimensioni */
  .container-fluid {
    padding: 10px;
  }
  .custom-list-item {
    padding: 10px;
  }
}

/* Aggiungi animazioni alle mat-card */
mat-card {
  transition: box-shadow 0.3s, transform 0.3s;
}

/* Effetto di ombra al passaggio del mouse */
mat-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
}


#toolbar {
  background-color: #007bff; /* Colore blu aziendale */
  color: #ffffff; /* Testo bianco */
  display: flex;
  background-color: #333;
  justify-content: space-between; /* Allinea gli elementi a sinistra e a destra */
  align-items: center; /* Allinea verticalmente gli elementi al centro */
}

.logo-link {
  margin-right: 10px;
}

.toolbar-menu {
  display: flex;
  gap: 10px;
  background-color: #333;
  margin-right:auto;
}

.toolbar-link {
  text-decoration: none;
  color: #ffffff;
  /* padding: 10px; */
}

a{
  color: white;
}

.toolbar-link:hover {
  color: #d8d8d8;
}

.user-icon,
.logout-icon {
  color: #ffffff;
  cursor: pointer;
}

*{
  box-sizing: border-box;
}

.dark-mode #toolbar {
  color: #ffffff;
  /* Testo bianco */
  display: flex;
  background-color: #333;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #f3f3f3;

}

/* styles.css o nel tuo componente-specifico.css */
.dark-mode *{
  background-color: #333;
  color: #fff;
}
.dark-mode body{
  background-color: #333;
  color: #fff;
}

.dark-mode mat-card {
  background-color: #333;
  color: #fff;
  border: 1px solid #f1f1f1;
>>>>>>> develop
}

.dark-mode input, .dark-mode textarea, .dark-mode select {
  background-color: #444;
  color: #fff;
}

.dark-mode table {
  border-color: #555;
}

.dark-mode th, .dark-mode td {
  border-color: #777;
  background-color: #333;
  color: #fff;
}

.dark-mode button, .dark-mode .btn {
  background-color: #333;
  color: #fff;
}


.dark-mode .pagination {
  background-color: #333;
}

.dark-mode .pagination li {
  border: 1px solid #555;
}

.dark-mode .pagination li.disabled {
  background-color: #444;
  color: #666;
  border: 1px solid #555;
}

.dark-mode .pagination li.active {
  background-color: #333;
  color: #fff;
  border: 1px solid #007bff;
}

.dark-mode .pagination li:hover {
  background-color: #555;
  color: #fff;
  border: 1px solid #666;
}
.dark-mode #toolbar {
  color: #ffffff;
  /* Testo bianco */
  display: flex;
  background-color: #333;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #f3f3f3;

}

/* Stili comuni per i bottoni */
button.toggle-button {
  padding: 8px 16px;
  margin: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Stili specifici per dark mode */
.dark-mode button.toggle-button {
  background-color: #333;
  color: #fff;
  /* Altri stili specifici per il dark mode per il bottone di toggle */
}

/* Stili comuni per mat-list */
mat-list {
  width: 100%;
}

/* Stili comuni per mat-list-item */
mat-list-item {
  padding: 16px;
  border-bottom: 1px solid #ddd; /* Aggiungi una sottolineatura tra gli elementi della lista */
}

/* Stili comuni per gli anchor (link) all'interno di mat-list-item */
mat-list-item a {
  color: inherit; /* Eredità del colore del testo dallo stile del padre */
  text-decoration: none; /* Rimuovi la sottolineatura dei link */
}

/* Stili specifici per dark mode per mat-list e mat-list-item */
.dark-mode mat-list {
  background-color: #333; /* Colore di sfondo scuro per la lista */
  color: #fff; /* Colore del testo chiaro per la lista */
}

.dark-mode mat-list-item {
  border-color: #555; /* Colore del bordo scuro per gli elementi della lista */
  background-color: #444; /* Colore di sfondo scuro per gli elementi della lista */
  color: #fff; /* Colore del testo chiaro per gli elementi della lista */
}

.dark-mode mat-list-item a {
  color: #fff; /* Colore del testo chiaro per i link in dark mode */
}

h1,h2,h3,h4,h5,h6,strong{
  color: #3f51b5;
}
