<head>
    <title>Home</title>
</head>


<body  >
    <!-- <div class="ag-format-container">
        <div class="ag-courses_box">
            <div class="ag-courses_item">
                <a [routerLink]="['/lista-anagrafica']" class="ag-courses-item_link">
                    <div class="ag-courses-item_bg"></div>
                    <div class="ag-courses-item_title">
                        Lista Anagrafiche
                    </div>
                </a>
            </div>
            <div class="ag-courses_item">
                <a [routerLink]="['/dashboard']" class="ag-courses-item_link">
                    <div class="ag-courses-item_bg"></div>
                    <div class="ag-courses-item_title">
                        Dashboard
                    </div>
                </a>
            </div>
            <div class="ag-courses_item">
                <a [routerLink]="['/organico']" class="ag-courses-item_link">
                    <div class="ag-courses-item_bg"></div>
                    <div class="ag-courses-item_title">
                        Organico
                    </div>
                </a>
            </div>
        </div>
    </div> -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-12"  style="margin: auto; text-align: center;">
          <img style="margin: auto; text-align: center;" width="50%" height="100%" src="https://media.licdn.com/dms/image/C560BAQGKRzayGi1ZEw/company-logo_200_200/0/1538383320985?e=2147483647&v=beta&t=sV23Oqgpj2ZvRJGYs-rXlQombksOjQwCGrz5tzLY4Ac" alt="Sincrono logo">
        </div>
      </div>
    </div>

</body>
