.ag-format-container {
    width: 1142px;
    margin: 0 auto;
}


body {
    background-color: #ffffff;
}



main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

.cards {
  display: flex;
}

.card {
  background-color: #f4f4f4;
  padding: 20px;
  margin-right: 10px;
  flex-basis: 33.33%;
}

h2 {
  margin-top: 0;
}

.recent-activity li {
  margin-bottom: 10px;
}

.timestamp {
  font-weight: bold;
  margin-right: 5px;
}



footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}


.login-page .sidebar {
  display: none;
}


body {
  overflow: hidden;
}

.container-fluid{
  background-color: aliceblue;
}.banner {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  animation: scroll 10s linear infinite;
  background-color: aliceblue; /* Sfondo del banner */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Ombra del banner */
  border-radius: 5px; /* Bordo arrotondato */
}

.banner img {
  display: inline-block;
  width: 100%;
  max-width: 20%;
  height: auto;
  margin-right: 10px;
  border: 2px solid #fff;
  border-radius: 5px;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-300%);
  }
}

img{
  max-height: 30%;
}
