<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container-fluid" style="background-color: black;">
    <div class="row">
      <div class="col-12" style="text-align: center;">
        <i class="fa fa-close" style="float: right; cursor:pointer; color: white;" (click)="close()" ></i>
        <img [src]="immagineConvertita" alt="Immagine" class="preview-image" />
      </div>
    </div>
  </div>
</body>
</html>
