*{
  box-sizing: border-box;
}

body, .container-fluid{
  background-color: aliceblue;
}

.mat-card {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
}

.mat-card-title {
  margin-bottom: 10px;
}

.mat-card-subtitle {
  margin-bottom: 20px;
}

/* Stile per il contenitore di anteprima */
.preview-container {
  margin-top: 20px;
  border: 1px solid #ddd; /* Usare toni più morbidi per i bordi */
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombra leggera per effetto di sollevamento */
padding: 20px;
 
}

.preview-container h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}


/* Stile per l'anteprima Excel */
.excel-preview {
  overflow-x: auto;
  max-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Stile per la barra di progresso */
.mat-progress-bar {
  margin-top: 20px;
}

/* Stile per il pulsante di salvataggio */
.mat-card-footer button {
  margin-top: 20px;
}

/* Stile per icone */
mat-icon {
  vertical-align: middle;
  margin-right: 5px;
}

/* Placeholder per l'anteprima del documento */
.preview-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px; /* Regola l'altezza a seconda delle tue preferenze */
  border: 2px dashed #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  color: #666;
}

.preview-placeholder mat-icon {
  font-size: 48px;
  margin-bottom: 10px;
}



#toolbar {
  background-color: #007bff;
  /* Colore blu aziendale */
  color: #ffffff;
  /* Testo bianco */
  display: flex;
  background-color: #333;
  justify-content: space-between;
  /* Allinea gli elementi a sinistra e a destra */
  align-items: center;
  /* Allinea verticalmente gli elementi al centro */
}

.logo-link {
  margin-right: 10px;
}

.toolbar-menu {
  display: flex;
  gap: 10px;
  background-color: #333;
  margin-right: auto;
}

.toolbar-link {
  text-decoration: none;
  color: #ffffff;
  /* padding: 10px; */
}

a {
  color: white;
}

.toolbar-link:hover {
  color: #d8d8d8;
}

.user-icon,
.logout-icon {
  color: #ffffff;
  cursor: pointer;
}


#toolbar {
  background-color: #007bff;
  /* Colore blu aziendale */
  color: #ffffff;
  /* Testo bianco */
  display: flex;
  background-color: #333;
  justify-content: space-between;
  /* Allinea gli elementi a sinistra e a destra */
  align-items: center;
  /* Allinea verticalmente gli elementi al centro */
}

.logo-link {
  margin-right: 10px;
}

.toolbar-menu {
  display: flex;
  gap: 10px;
  background-color: #333;
  margin-right: auto;
}

.toolbar-link {
  text-decoration: none;
  color: #ffffff;
  /* padding: 10px; */
}

a {
  color: white;
}

.toolbar-link:hover {
  color: #d8d8d8;
}

.user-icon,
.logout-icon {
  color: #ffffff;
  cursor: pointer;
}


*{
  box-sizing: border-box;
}

.dark-mode *{
  color: #ffffff;
}

.dark-mode #toolbar {
  color: #ffffff;
  /* Testo bianco */
  display: flex;
  background-color: #333;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #f3f3f3;

}

.dark-mode small{
  color: aqua;
}
.dark-mode .form-text {
  color: aqua;
}

/* styles.css o nel tuo componente-specifico.css */
.dark-mode *{
  background-color: #333;
  color: #fff;
}
.dark-mode body{
  background-color: #333;
  color: #fff;
}

.dark-mode mat-card {
  background-color: #333;
  color: #fff;
  border: 1px solid #f1f1f1;
}

.dark-mode input, .dark-mode textarea, .dark-mode select {
  background-color: #444;
  color: #fff;
}

.dark-mode table {
  border-color: #555;
}

.dark-mode th, .dark-mode td {
  border-color: #777;
  background-color: #333;
  color: #fff;
}

.dark-mode button, .dark-mode .btn {
  background-color: #333;
  color: #fff;
}


.dark-mode .pagination {
  background-color: #333;
}

.dark-mode .pagination li {
  border: 1px solid #555;
}

.dark-mode .pagination li.disabled {
  background-color: #444;
  color: #666;
  border: 1px solid #555;
}

.dark-mode .pagination li.active {
  background-color: #333;
  color: #fff;
  border: 1px solid #007bff;
}

.dark-mode .pagination li:hover {
  background-color: #555;
  color: #fff;
  border: 1px solid #666;
}
.dark-mode #toolbar {
  color: #ffffff;
  /* Testo bianco */
  display: flex;
  background-color: #333;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #f3f3f3;

}

/* Stili comuni per i bottoni */
button.toggle-button {
  padding: 8px 16px;
  margin: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Stili specifici per dark mode */
.dark-mode button.toggle-button {
  background-color: #333;
  color: #fff;
  /* Altri stili specifici per il dark mode per il bottone di toggle */
}
@media (max-width: 768px){
.container-toolbar {
  /* Styles for smaller screens (e.g., mobile devices) */
  background-color: #333;
  /* Change background color */
  padding: 10px;
  /* Add padding around the container */
  text-align: center;
  /* Center the content in the container */
}

.logo-link {
  display: block;
  /* Make the logo a block-level element */
  margin: 0 auto;
  /* Center the logo horizontally */
}

.logo-image {
  border-radius: 50%;
  width: 60px;
  /* Adjust the logo image size for mobile */
  height: 60px;
}
.custom-picker {
flex-direction: column;
/* Stack the pickers vertically on small screens */
align-items: flex-start;
/* Align pickers to the left */
}
}