
#toolbar{
  background-color: #333;
  color: #f2f2f2;
}

.container-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px;
}

.logo-link {
  margin-right: 10px;
}

.logo-image {
  border-radius: 100%;
}

.toolbar-menu {
  display: flex;
  gap: 10px;
}

.toolbar-link {
  color: white;
  text-decoration: none;
}

.form-switch {
  margin-right: 10px;
}

:root {
  --primary-color: #333;
  --text-color: white;
}

@media screen and (max-width: 830px) {
  .hamburger-menu {
    cursor: pointer;
    color: var(--text-color);
    font-size: 20px;
  }

  .toolbar-link {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }
}

@media screen and (min-width: 831px) {
  .hamburger-menu {
    display: none;
  }

  .toolbar-link {
    display: flex;
  }
}

.dark-mode * {
  background-color: #333;
  color: #fff;
}

.dark-mode body {
  background-color: #333;
  color: #fff;
}
.dark-mode .container-fluid {
  background-color: #333;
  color: #fff;
}

.dark-mode mat-card {
  background-color: #333;
  color: #fff;
  border: 1px solid #f1f1f1;
}

.dark-mode input,
.dark-mode textarea,
.dark-mode select {
  background-color: #444;
  color: #fff;
}

.dark-mode table {
  border-color: #555;
}

.dark-mode th,
.dark-mode td {
  border-color: #777;
  background-color: #333;
  color: #fff;
}

.dark-mode button,
.dark-mode .btn {
  background-color: #333;
  color: #fff;
}


.dark-mode .pagination {
  background-color: #333;
}

.dark-mode .pagination li {
  border: 1px solid #555;
}

.dark-mode .pagination li.disabled {
  background-color: #444;
  color: #666;
  border: 1px solid #555;
}

.dark-mode .pagination li.active {
  background-color: #333;
  color: #fff;
  border: 1px solid #007bff;
}

.dark-mode .pagination li:hover {
  background-color: #555;
  color: #fff;
  border: 1px solid #666;
}

.dark-mode #toolbar {
  color: #ffffff;
  /* Testo bianco */
  display: flex;
  background-color: #333;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #f3f3f3;

}

/* Stili comuni per i bottoni */
button.toggle-button {
  padding: 8px 16px;
  margin: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Stili specifici per dark mode */
.dark-mode button.toggle-button {
  background-color: #333;
  color: #fff;
  /* Altri stili specifici per il dark mode per il bottone di toggle */
}



.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.pagination li.disabled {
  pointer-events: none;
  background-color: #f5f5f5;
  color: #ccc;
  border: 1px solid #ccc;
}

.pagination li.active {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}

.pagination li:hover {
  background-color: #ccc;
  color: #333;
  border: 1px solid #333;
}

table,
th,
td {
  text-align: center;
}


/* calendario*/
.calendario {
  font-family: 'Arial', sans-serif;
  max-width: 100%;
  margin: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  box-sizing: border-box;
}

.giorno.disabled {
  pointer-events: none;
  background-color: #eee;
  color: #999;
}

.dark-mode .giorno.disabled {
  pointer-events: none;
  background-color: #333;
  color: #666;
}

.intestazione {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.mese {
  font-size: 1.5em;
  font-weight: bold;
}

.giorni {
  // display: grid;
  // grid-template-columns: repeat(7, 1fr);
  // grid-gap: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  grid-gap: 10px;
}

.giorno-header,
.giorno {
  width: 100%;
  height: 70px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@media (min-width: 600px) {
  .calendario {
    max-width: 600px;
  }
}

@media (min-width: 768px) {
  .calendario {
    max-width: 768px;
  }
}

.giorno:hover {
  background-color: #f0f0f0;
}

.dark-mode .giorno:hover {
  background-color: #333;
}

.numero-giorno,
.nome-giorno {
  text-align: center;
}

.dark-mode .numero-giorno {
  background-color: #333;
}

.giorno-selezionato {
  background-color: #4caf50;
  color: #fff;
}

.giorno-selezionato:hover {
  background-color: #45a049;
}


#daElaboare {
  background-color: rgb(255, 255, 187);
  color: #333;
}

.dark-mode #daElaboare {
  border: 1px solid rgb(255, 255, 187);
  color: #fff;
  background-color: #333;
}

.dark-mode #richiestaRifiutata {
  border: 1px solid red;
  color: #fff;
  background-color: #333;
}

#richiestaAccettata {
  background-color: green;
  color: white;
}

.dark-mode #richiestaAccettata {
  border: 1px solid green;
  color: white;
  background-color: #333;

}

.dark-mode button {
  border: 1px solid white;
}


// tabella responsive
#table-responsive {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin: auto;
  text-align: center;
}

#table-responsive th,
#table-responsive td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#table-responsive th {
  background-color: #343a40;
  color: white;
}

@media screen and (max-width: 768px) {
  .container-toolbar {
    /* Styles for smaller screens (e.g., mobile devices) */
    background-color: #333;
    /* Change background color */
    padding: 10px;
    /* Add padding around the container */
    text-align: center;
    /* Center the content in the container */
  }

  .logo-link {
    display: block;
    /* Make the logo a block-level element */
    margin: 0 auto;
    /* Center the logo horizontally */
  }

  .logo-image {
    border-radius: 50%;
    width: 60px;
    /* Adjust the logo image size for mobile */
    height: 60px;
    margin-right: 10px;
  }

  #table-responsive {
    overflow-x: auto;
    // display: block;
    text-align: center;
  }

  #table-responsive th,
  #table-responsive td {
    white-space: nowrap;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
}

@media (min-width: 768px) {

  .col-md-1,
  .col-md-3 {
    width: 25%;
  }
}
