 /* Stili specifici per schermi di grandi dimensioni (desktop) */
 @media (min-width: 768px) {
  body {
    font-size: 18px;
  }
  /* Altri stili specifici per schermi di grandi dimensioni */
  .container-fluid {
    padding: 20px;
  }
  .col-6 {
    width: 50%;
    float: left;
  }
}

/* Stili specifici per schermi di medie dimensioni (tablet) */
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
  /* Altri stili specifici per schermi di medie dimensioni */
  .col-6 {
    width: 100%;
    float: none;
  }
  .banner img {
    max-width: 100%;
  }
}

/* Stili specifici per schermi di piccole dimensioni (dispositivi mobili) */
@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
  /* Altri stili specifici per schermi di piccole dimensioni */
  .container-fluid {
    padding: 10px;
  }
  .custom-list-item {
    padding: 10px;
  }
}


#toolbar {
  background-color: #007bff; /* Colore blu aziendale */
  color: #ffffff; /* Testo bianco */
  display: flex;
  background-color: #333;
  justify-content: space-between; /* Allinea gli elementi a sinistra e a destra */
  align-items: center; /* Allinea verticalmente gli elementi al centro */
}

.logo-link {
  margin-right: 10px;
}

.toolbar-menu {
  display: flex;
  gap: 10px;
  background-color: #333;
  margin-right:auto;
}

.toolbar-link {
  text-decoration: none;
  color: #ffffff;
  /* padding: 10px; */
}

a{
  color: white;
}

.toolbar-link:hover {
  color: #d8d8d8;
}

.user-icon,
.logout-icon {
  color: #ffffff;
  cursor: pointer;
}

*{
  box-sizing: border-box;
}



/* styles.css o nel tuo componente-specifico.css */
.dark-mode *{
  background-color: #333;
  color: #fff;
}
.dark-mode body{
  background-color: #333;
  color: #fff;
}

.dark-mode mat-card {
  background-color: #333;
  color: #fff;
  border: 1px solid #f1f1f1;
}

.dark-mode input, .dark-mode textarea, .dark-mode select {
  background-color: #444;
  color: #fff;
}

.dark-mode table {
  border-color: #555;
}

.dark-mode th, .dark-mode td {
  border-color: #777;
  background-color: #333;
  color: #fff;
}

.dark-mode button, .dark-mode .btn {
  background-color: #333;
  color: #fff;
}


.dark-mode .pagination {
  background-color: #333;
}

.dark-mode .pagination li {
  border: 1px solid #555;
}

.dark-mode .pagination li.disabled {
  background-color: #444;
  color: #666;
  border: 1px solid #555;
}

.dark-mode .pagination li.active {
  background-color: #333;
  color: #fff;
  border: 1px solid #007bff;
}

.dark-mode .pagination li:hover {
  background-color: #555;
  color: #fff;
  border: 1px solid #666;
}
.dark-mode #toolbar {
  color: #ffffff;
  /* Testo bianco */
  display: flex;
  background-color: #333;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #f3f3f3;

}

/* Stili comuni per i bottoni */
button.toggle-button {
  padding: 8px 16px;
  margin: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Stili specifici per dark mode */
.dark-mode button.toggle-button {
  background-color: #333;
  color: #fff;
  /* Altri stili specifici per il dark mode per il bottone di toggle */
}


.calendar {
  font-family: Arial, sans-serif;
  text-align: center;
  max-width: 600px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.button {
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.button:hover {
  background-color: #0056b3;
}

.days-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-bottom: 10px;
}

.day-name {
  font-weight: bold;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.day[selected] {
  background-color: lightblue;
}

.checkbox-container {
  margin-bottom: 5px;
  background-color: inherit; /* Conserva il colore di sfondo della cella */
}



.day:hover {
  background-color: #f0f0f0;
}

/* Aggiungi stili per la checkbox */
.checkbox-container {
  margin-bottom: 5px;
}

/* Aggiungi stili per l'evidenziazione */
.selected {
  background-color: lightblue;
}
