<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  mat-list{
  margin: 30px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.container-fluid{
  background-color: aliceblue;
}

body{
  background-color: aliceblue;
}

.banner {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  animation: scroll 10s linear infinite;
  background-color: aliceblue; /* Sfondo del banner */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Ombra del banner */
  border-radius: 5px; /* Bordo arrotondato */
}
.banner img {
  display: inline-block;
  width: 100%;
  max-width: 20%;
  height: auto;
  margin-right: 10px;
  border: 2px solid #fff;
  border-radius: 5px;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-300%);
  }
}

img{
  max-height: 30%;
}
.custom-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.custom-list-item {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #f5f5f5;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.custom-list-item:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.custom-list-item a {
  text-decoration: none;
  color: #333;
}

.custom-list-item a:hover {
  text-decoration: underline;
  color: blue;

}

</style>
<body [class.dark-mode]="themeService.isDarkModeEnabled()">
  <div class="container-toolbar" [hidden]="tokenProvvisorio != null && tokenProvvisorio == null">
    <mat-toolbar id="toolbar" *ngIf="token && !mobile">
      <a [routerLink]="['/home']" class="logo-link">
        <img class="logo-image" width="40" height="40" src="../../../../assets/images/logo.jpeg" alt="Logo">
      </a>
      <div class="toolbar-menu" *ngIf="jsonData && jsonData.list">
        <a (click)="getPermissions(menuItem.id)" style="color: white;" class="toolbar-link"
          *ngFor="let menuItem of jsonData.list" [routerLink]="[menuItem.percorso]">
          {{ menuItem.nome }}
        </a>
      </div>
      <span>
        <div class="form-check form-switch" matTooltip="{{ themeService.isDarkModeEnabled() ? 'Light mode' : 'Dark Mode' }}">
          <input class="form-check-input" [checked]="themeService.isDarkModeEnabled()" (click)="toggleDarkMode()" type="checkbox" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault" matTooltip="{{ themeService.isDarkModeEnabled() ? 'Light mode' : 'Dark Mode' }}"></label>
        </div>

      </span>
      <span style="cursor: pointer;" mat-icon-button [routerLink]="['/profile-box']" class="user-icon">
        <small *ngIf="userRoleNav===false">{{userLoggedName}} {{userLoggedSurname}} (Admin) &nbsp;</small>
        <small *ngIf="userRoleNav===true">{{userLoggedName}} {{userLoggedSurname}} (Dipendente) &nbsp;</small> <i
          class="fa fa-user"></i>
      </span> &nbsp;&nbsp;
      <span style="cursor: pointer;" mat-icon-button (click)="logout()" class="logout-icon">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
      </span>
    </mat-toolbar>
  </div>

  <div class="container-toolbar" [hidden]="tokenProvvisorio != null && tokenProvvisorio == null">
    <mat-toolbar id="toolbar" *ngIf="token && mobile">
      <a [routerLink]="['/home']" class="logo-link">
        <img class="logo-image" width="40" height="40" src="../../../../assets/images/logo.jpeg" alt="Logo">
      </a>
      <button style=" background-color:white;color:black;margin-right: 10px;" mat-button [matMenuTriggerFor]="menu">
        Menu
      </button>
      <mat-menu #menu="matMenu">
        <button style="background-color:white;color:black" mat-menu-item *ngFor="let menuItem of jsonData.list"
          [routerLink]="[menuItem.percorso]" (click)="getPermissions(menuItem.id)">
          {{ menuItem.nome }}
        </button>
      </mat-menu>
      <span style="cursor: pointer;" mat-icon-button [routerLink]="['/profile-box']" class="user-icon">
        <small *ngIf="userRoleNav===false">{{userLoggedName}} {{userLoggedSurname}} (Admin) &nbsp;</small>
        <small *ngIf="userRoleNav===true">{{userLoggedName}} {{userLoggedSurname}} (Dipendente) &nbsp;</small>
        <i class="fa fa-user"></i>
      </span> &nbsp;&nbsp;
      <span style="cursor: pointer;" mat-icon-button (click)="logout()" class="logout-icon">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
      </span>
    </mat-toolbar>
  </div>
  <div class="container-fluid" *ngIf="ruolo==='ADMIN'">
    <div class="row">
      <div class="col-12">
        <mat-card style="text-align: center;">
          <h1><img src="../../../../assets/images/logoSincronoCompleto.png" alt="Logo Sincrono"></h1>
          <h1>Richieste <i class="fa fa-code-pull-request"></i></h1>
        </mat-card>
      </div>
    </div>
    <br>




    <!-- <div class="row">
      <div class="col-12">
        <mat-card style=" height: 100%;">
          <mat-card-content style="text-align: center;">
            <main>
              <h2>Ciao {{userLoggedName}} {{userLoggedSurname}}.</h2>
              <p>Seleziona il periodo desiderato</p>
            </main>
            <form>
              <div class="row">
                <div class="col-1">
                  <div class="form-group">
                    <label for="giornoSelect">Giorno:</label>
                    <select
                      (change)="onGiornoSelectChange($event)"
                      class="form-select"
                      aria-label="Default select example"
                      id="giornoSelect"
                      [(ngModel)]="selectedGiorno"
                      name="giorno"
                    >
                      <option
                        *ngFor="let day of giorni"
                        [value]="day"
                      >
                        {{ day }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-1">
                  <div class="form-group">
                    <label for="meseSelect">Mese:</label>
                    <select
                      (change)="onMeseSelectChange($event)"
                      class="form-select"
                      aria-label="Default select example"
                      id="meseSelect"
                      [(ngModel)]="selectedMese"
                      name="mese"
                      [disabled]="selectedGiorno==null"
                    >
                      <option
                        *ngFor="let month of mesi; let i = index"
                        [value]="i + 1"
                      >
                        {{ i + 1 }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-group">
                    <label for="annoSelect">Anno:</label>
                    <select
                      (change)="onAnnoSelectChange($event)"
                      class="form-select"
                      aria-label="Default select example"
                      id="annoSelect"
                      [(ngModel)]="selectedAnno"
                      name="anno"
                    >
                      <option *ngFor="let year of anni" [value]="year">
                        {{ year }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-group">
                    <label for="getRapportino">Azioni</label> <br>
                    <button
                      mat-flat-button
                      color="primary"
                      (click)="getAllRichieste()"
                      [disabled]="selectedGiorno == null || selectedMese == null || selectedAnno == null"
                    >
                      Carica lista
                      <i class="fa fa-print" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
              <br />
            </form>

          </mat-card-content>
        </mat-card>
      </div>
    </div> -->
    <!-- <br> -->
    <!-- <div class="row" *ngIf="esitoCorretto">
      <div class="col-12">
        <table class="table table-striped"  >
          <thead>
            <tr>
              <th>Periodo</th>
              <th>Richiedente</th>
              <th>Tipo richiesta</th>
              <th>Testo richiesta</th>
              <th>Azioni</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{selectedGiorno}}-{{selectedMese}}-{{selectedAnno}}</td>
              <td></td>
              <td></td>
              <td></td>
              <td> <button mat-mini-fab color="primary" matTooltip="Esamina." > <i class="fa fa-info"></i> </button> </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p *ngIf="elencoRichieste.length==0" class="text-success" >Non hai richieste per il periodo selezionato.</p>
    </div> -->
  </div>
  <div class="row" *ngIf="ruolo==='DIPENDENTE'">
    <div class="col-12">
      <mat-card style="margin: auto; text-align: center;">
        <mat-card-title>
          <img src="../../../../assets/images/danger.png" alt="Danger">
        </mat-card-title>
        <mat-card-content>
          <h2>La sezione Richieste é in manutenzione.</h2>
        </mat-card-content>
        <mat-card-footer>
          <a mat-flat-button style="border: 1px solid black;" [routerLink]="['/home']">Torna alla home</a>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
  <!-- <div class="container-fluid" *ngIf="ruolo==='DIPENDENTE'">
    <div class="row">
      <div class="col-12">
        <mat-card style="text-align: center;">
          <h1><img src="../../../../assets/images/logoSincronoCompleto.png" alt="Logo Sincrono"></h1>
          <h1>Richieste</h1>
        </mat-card>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12">
        <mat-card style=" height: 100%;">
          <mat-card-content>
          <div class="row">
            <div class="col-8">
                <main>
              <h2>Ciao {{userLoggedName}} {{userLoggedSurname}}.</h2>
              <p>Questa sezione é dedicata alle richieste. Seleziona la tipologia di richiesta che vuoi inviare.
             </p>
            </main>
            </div>
            <div class="col-4">
             <div class="form-group">
              <label for="tipologicaRichieste">Richiesta di</label>
               <select name="tipoRichiesta" (change)="onTipoRichiestaSelected($event)" id="tipoRichiesta" class="form-select">
                <option value="" selected>--Seleziona tipologia richiesta--</option>
                <option value="ferie" >Ferie</option>
                <option value="permessi" >Permesso</option>
              </select>
             </div>
            </div>
          </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <br>


    <div class="row" *ngIf="tipoRichiesta === 'ferie'">
        <div class="col-6">
          <div class="calendar">
            <div class="header">
              <button mat-mini-fab color="primary" (click)="onPrevMonth()">«</button>
              <h2>{{ getMonthName(currentMonth) }} {{ currentYear }}
                <button mat-flat-button color="primary" (click)="selectAllDays()">
                  {{ areAllDaysSelected() ? 'Deseleziona tutti' : 'Seleziona tutti' }}
                </button>
              </h2>
              <button mat-mini-fab color="primary" (click)="onNextMonth()">»</button>
            </div>

            <div class="days">
              <div *ngFor="let day of currentMonthDays" class="day" (click)="onDaySelected(day.number)"
                   [style.pointer-events]="isWeekend(day.dayOfWeek) ? 'none' : 'auto'">
                <div class="day-content">
                  <div class="day-number" [class.selected]="isDaySelected(day.number)">
                    {{ day.number }}
                  </div>
                  <div class="day-name">{{ getDayName(day.dayOfWeek) }}</div>
                </div>
              </div>
            </div>
            <br>
            <div class="header">
              <button mat-mini-fab color="primary" (click)="onPrevMonth()">«</button>
              <h2>{{ getMonthName(currentMonth) }} {{ currentYear }}</h2>
              <button mat-mini-fab color="primary" (click)="onNextMonth()">»</button>
            </div>
          </div>

      </div>
      <div class="col-6">
        <div class="calendar" *ngIf="tipoRichiesta === 'ferie'">
          <app-selected-days *ngIf="showSelectedDays" [selectedDays]="giorniSelezionati" [currentMonth]="currentMonth" [currentYear]="currentYear"></app-selected-days>
        </div>
       </div>
    </div>
    <div class="row">
     <div class="col-12">
      <div *ngIf="tipoRichiesta === 'permessi'">
        <app-insert-permesso></app-insert-permesso>
      </div>
    </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-12">
        <mat-card>
          <mat-card-title>
            <h1>Elenco richieste</h1>
          </mat-card-title>
          <mat-card-subtitle>
            <div class="row">
              <div class="col-4">
                <div class="form-group">
                  <label for="mese">Seleziona il mese</label>
                  <select name="mese" id="mese" [(ngModel)]="selectedMeseForLista" class="form-select" (change)="onChangeMeseForLista($event)" >
                  <option value="1">Gennaio</option>
                  <option value="2">Febbraio</option>
                  <option value="3">Marzo</option>
                  <option value="4">Aprile</option>
                  <option value="5">Maggio</option>
                  <option value="6">Giugno</option>
                  <option value="7">Luglio</option>
                  <option value="8">Agosto</option>
                  <option value="9">Settembre</option>
                  <option value="10">Ottobre</option>
                  <option value="11">Novembre</option>
                  <option value="12">Dicembre</option>
                  </select>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label for="anno">Seleziona l'anno</label>
                  <input type="number" class="form-control" [(ngModel)]="selectedAnnoForLista">
                </div>
              </div>
              <div class="col-4" >
                <div class="form-group">
                  <label for="cerca">Cerca</label> <br>
                  <button mat-mini-fab color="primary" [disabled]="selectedAnnoForLista==null || selectedMeseForLista==null " (click)="getAllRichiesteDipendente()" > <i class="fa fa-search" ></i> </button>
                </div>
              </div>
            </div>
          </mat-card-subtitle>
          <mat-card-content>
            <br>
           <div class="row" *ngIf="elencoRichiesteDipendente && elencoRichiesteDipendente.length > 0">
            <div class="col-12">
              <h1>Elenco richieste delle ferie</h1>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Tipo richiesta</th>
                    <th>Giorno</th>
                    <th>Stato della richiesta</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let richiesta of getCurrentPageItemsFerie()">
                    <ng-container *ngIf="richiesta.list && richiesta.list.length > 0 && richiesta.list[0].ferie">
                      <td>Ferie</td>
                      <td>
                        <ng-container *ngFor="let item of richiesta.list; let i = index">
                          {{ item.nGiorno }}
                          <ng-container *ngIf="i !== richiesta.list.length - 1">, </ng-container>
                        </ng-container>
                      </td>
                      <td *ngIf="richiesta.stato==true" > <button mat-flat-button style="background-color: green; color: white;" >Accettata</button> </td>
                      <td *ngIf="richiesta.stato==false" > <button mat-flat-button color="warn" >Rifiutata</button> </td>
                      <td *ngIf="richiesta.stato==null" > <button mat-flat-button style="background-color: rgb(255, 255, 187); color: #333;" >Da elaborare</button> </td>
                    </ng-container>
                  </tr>
                </tbody>
              </table>
              <div class="pagination">
                <ul>
                  <li [class.disabled]="currentPage === 1" (click)="goToPage(currentPage - 1)">
                    <span> <i class="fa fa-arrow-left"></i> </span>
                  </li>
                  <li *ngFor="let page of getPaginationArray()" [class.active]="currentPage === page"
                    (click)="goToPage(page)">
                    <span>{{ page }}</span>
                  </li>
                  <li [class.disabled]="currentPage === getTotalPages()" (click)="goToPage(currentPage + 1)">
                    <span> <i class="fa fa-arrow-right"></i> </span>
                  </li>
                </ul>
              </div>

            </div>
           </div>
           <br>
           <div class="row" *ngIf="elencoRichiesteDipendente && elencoRichiesteDipendente.length > 0" >
            <div class="col-12">
              <h1>Elenco richieste dei permessi</h1>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Giorno</th>
                    <th>Dalle ore</th>
                    <th>Alle ore</th>
                    <th>Stato della richiesta</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let richiesta of getCurrentPageItemsPermessi()">
                    <ng-container *ngIf="richiesta.list && richiesta.list.length > 0 && richiesta.list[0].permessi">
                      <td>
                        <ng-container *ngFor="let item of richiesta.list; let i = index">
                          {{ item.nGiorno }}
                          <ng-container *ngIf="i !== richiesta.list.length - 1">, </ng-container>
                        </ng-container>
                      </td>
                      <td>
                        <ng-container *ngFor="let item of richiesta.list; let i = index">
                          {{ item.daOra }}
                          <ng-container *ngIf="i !== richiesta.list.length - 1">, </ng-container>
                        </ng-container>
                      </td>
                      <td>
                        <ng-container *ngFor="let item of richiesta.list; let i = index">
                         {{ item.aOra }}
                          <ng-container *ngIf="i !== richiesta.list.length - 1">, </ng-container>
                        </ng-container>
                      </td>
                      <td *ngIf="richiesta.stato==true" > <button mat-flat-button style="background-color: green; color: white;" >Accettata</button> </td>
                      <td *ngIf="richiesta.stato==false" > <button mat-flat-button color="warn" >Rifiutata</button> </td>
                      <td *ngIf="richiesta.stato==null" > <button mat-flat-button style="background-color: rgb(255, 255, 187); color: #333;">Da elaborare</button> </td>
                    </ng-container>

                  </tr>
                </tbody>
              </table>
              <div class="pagination">
                <ul>
                  <li [class.disabled]="currentPage === 1" (click)="goToPage(currentPage - 1)">
                    <span> <i class="fa fa-arrow-left"></i> </span>
                  </li>
                  <li *ngFor="let page of getPaginationArray()" [class.active]="currentPage === page"
                    (click)="goToPage(page)">
                    <span>{{ page }}</span>
                  </li>
                  <li [class.disabled]="currentPage === getTotalPages()" (click)="goToPage(currentPage + 1)">
                    <span> <i class="fa fa-arrow-right"></i> </span>
                  </li>
                </ul>
              </div>

            </div>
           </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div> -->
  <br><br>
</body>
</html>
