<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<div class="container-fluid modal-overlay">
  <div class="modal-container">
    <div class="row">
      <div class="col-12">
        <div  role="alert">
          <p>Sei sicuro di voler effettuare il logout?</p>
          <div class="modal-buttons">
            <button mat-flat-button color="primary" (click)="logout()">Si.</button>
            <button mat-flat-button (click)="close()">No.</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
