<html>
<title>Lista Commesse</title>
<body>
    <button [routerLink]="['/home']">Home</button>
    <button [routerLink]="['/nuova-commessa']">Inserisci Nuova Commessa</button>
    <table id="table">
        <thead>
            <tr>
                <th>Nominativo</th>
                <th>Cliente</th>
                <th>Data Inizio</th>
                <th>Data Fine</th>
                <th>Dettaglio</th>
                <th>--------------</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of lista">
                <td>{{ data.nominativo }}</td>
                <td>{{ data.cliente }}</td>
                <td>{{ this.transformDate(data.dataInizio) }}</td>
                <td>{{ this.transformDate(data.dataFine) }}</td>
                <td>
                    <a [routerLink]="['/dettaglio-commessa/', data.id]"><img src="../../../../assets/images/dettagli.png"
                            height="30px" width="45px"></a>
                </td>
                <td>
                    <button (click)="delete(data?.id)">Elimina</button>
                </td>
            </tr>
        </tbody>

    </table>
</body>

</html>