<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recupero Password</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="recupero-password">
          <form [formGroup]="recuperoPasswordForm" (ngSubmit)="recuperaPassword()">
            <div class="form-group">
              <label for="email">Indirizzo Email</label>
              <input
                type="email"
                placeholder="inserisci la tua email"
                class="form-control"
                id="email"
                name="email"
                formControlName="email"
              >
            </div>
            <br>
            <button class="btn btn-success" [disabled]="recuperoPasswordForm.invalid" type="submit">Recupera Password</button> &nbsp;
            <button class="btn btn-info" (click)="tornaAlogin()">Torna al login</button>
          </form>

        </div>
      </div>
    </div>


  </div>
<br>
  <div class="alert alert-success" role="alert" *ngIf="mailInviata===true">
    <p> Abbiamo inviato una e-mail a {{email}} con il link per il recupero della password, controlla la tua posta elettronica.  </p>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="mailInviata===false">
    <p> Abbiamo riscontrato un problema nell'invio della mail a {{email}}, per favore riprova. </p>
  </div>
</body>
</html>
