<html>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <form [formGroup]="anagraficaDto">
            <!-- Campi dell'anagrafica -->
            <div formGroupName="anagrafica">
              <div class="col-12">
                <label for="id" hidden>ID:</label>
                <input type="hidden" id="id" formControlName="id" />
              </div>
              <div class="row">
                <div class="col-12">
                  <h1 style="text-align: center;">Anagrafica</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <label for="attivo">Attivo:</label>
                  <input type="checkbox" id="attivo" formControlName="attivo" />
                </div>
                <div class="col-3">
                  <label for="aziendaTipo">Tipo Azienda:</label>
                  <input type="text" class="form-control" id="aziendaTipo" formControlName="aziendaTipo" />
                </div>
                <div class="col-3">
                  <label for="nome">Nome:</label>
                  <input type="text" class="form-control" id="nome" formControlName="nome" />
                </div>
                <div class="col-3">
                  <label for="cognome">Cognome:</label>
                  <input type="text" class="form-control" id="cognome" formControlName="cognome" />
                </div>

              </div>
            <div class="row">
              <div class="col-3">
                <label for="codiceFiscale">Codice Fiscale:</label>
                <input type="text" class="form-control" id="codiceFiscale" formControlName="codiceFiscale" />
              </div>
              <div  class="col-3">
                <label for="comuneDiNascita">Comune di Nascita:</label>
                <input type="text" class="form-control" id="comuneDiNascita" formControlName="comuneDiNascita" />
              </div>
              <div class="col-3">
                <label for="dataDiNascita">Data di Nascita:</label>
                <input type="text" class="form-control" id="dataDiNascita" formControlName="dataDiNascita" />
              </div>
              <div class="col-3">
                <label for="residenza">Residenza:</label>
                <input type="text" class="form-control" id="residenza" formControlName="residenza" />
              </div>
            </div>

            <div class="row">
              <div class="col-3">
                <label for="domicilio">Domicilio:</label>
                <input type="text" class="form-control" id="domicilio" formControlName="domicilio" />
              </div>
              <div class="col-3">
                <label for="cellularePrivato">Cellulare Privato:</label>
                <input type="text" class="form-control" id="cellularePrivato" formControlName="cellularePrivato" />
              </div>
              <div class="col-3">
                <label for="cellulareAziendale">Cellulare Aziendale:</label>
                <input type="text" class="form-control" id="cellulareAziendale" formControlName="cellulareAziendale" />
              </div>
              <div class="col-3">
                <label for="mailPrivata">Mail Privata:</label>
                <input type="text" class="form-control" id="mailPrivata" formControlName="mailPrivata" />
              </div>
            </div>

            <div class="row">
              <div class="col-3">
                <label for="mailAziendale">Mail Aziendale:</label>
                <input type="text" class="form-control" id="mailAziendale" formControlName="mailAziendale" />
              </div>
              <div class="col-3">
                <label for="mailPec">Mail PEC:</label>
                <input type="text" class="form-control" id="mailPec" formControlName="mailPec" />
              </div>
              <div class="col-3">
                <label for="titoloDiStudio">Titolo di Studio:</label>
                <input type="text" class="form-control" id="titoloDiStudio" formControlName="titoloDiStudio" />
              </div>
              <div class="col-3">
                <label for="altriTitoli">Altri Titoli:</label>
                <input type="text" class="form-control" id="altriTitoli" formControlName="altriTitoli" />
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-6">
                <label for="coniugato">Coniugato:</label>
                <input type="checkbox" id="coniugato" formControlName="coniugato" />
              </div>
              <div class="col-6">
                <label for="figliAcarico">Figli a Carico:</label>
                <input type="checkbox" id="figliAcarico" formControlName="figliAcarico" />
              </div>
            </div>
            </div>
              <br>


              <div *ngIf="commesseControls.length > 0">
                <div formArrayName="commesse" style="border: 1px solid #f1f1f1; padding: 5%;">
                  <ng-container *ngFor="let commessa of commesseControls; let i = index">
                    <div class="row">
                      <div class="col-12">
                        <h1>Commessa {{i+1}}</h1>
                      </div>
                    </div>
                    <div [formGroupName]="i">
                      <!-- <label>id</label>
                      <input  formControlName="id" type="number" /> -->

                      <div class="row">
                        <div class="col-3">
                          <label>Cliente</label> <br>
                          <input class="form-control" formControlName="cliente" type="text" />
                        </div>
                        <div class="col-3">
                          <label>Cliente Finale</label><br>
                          <input class="form-control" formControlName="clienteFinale" type="text" />
                        </div>
                        <div class="col-3">
                          <label>Titolo posizione</label><br>
                          <input class="form-control" formControlName="titoloPosizione" type="text" />

                        </div>
                        <div class="col-3">
                          <label>Distacco</label><br>
                          <input class="form-control" formControlName="distacco" type="text" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-3">
                          <label>dataInizio</label><br>
                          <input class="form-control" formControlName="dataInizio" type="text" />

                        </div>
                        <div class="col-3">
                          <label>dataFine</label><br>
                          <input class="form-control" formControlName="dataFine" type="text" />
                        </div>
                        <div class="col-3">
                          <label>costoMese</label><br>
                          <input class="form-control" formControlName="costoMese" type="number" />
                        </div>
                        <div class="col-3">
                          <label>tariffaGiornaliera</label><br>
                          <input class="form-control" formControlName="tariffaGiornaliera" type="number" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-3">
                          <label>nominativo</label><br>
                          <input class="form-control" formControlName="nominativo" type="text" />

                        </div>
                        <div class="col-3">
                          <label>azienda</label><br>
                          <input class="form-control" formControlName="azienda" type="text" />
                        </div>
                        <div class="col-3">
                          <label>aziendaDiFatturazioneInterna</label><br>
                      <input class="form-control" formControlName="aziendaDiFatturazioneInterna" type="text" />
                        </div>

                      </div>
                      <div class="row">
                        <div class="col-6">
                          <label>stato</label>
                          <input formControlName="stato"  type="checkbox" />
                        </div>
                        <div class="col-6">
                          <label>attesaLavori</label>
                      <input formControlName="attesaLavori" type="checkbox" />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <button  mat-flat-button color="accent" type="button" (click)="rimuoviCommessa(i)" matTooltip="rimuovi commessa {{i+1}}">Rimuovi Commessa <i class="fa fa-trash" ></i> </button> <!--[disabled]="i==0"-->
                      </div>
                    </div>

                  </ng-container>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-12" style="margin: auto; text-align: center;">
                  <button mat-flat-button color="primary" style="margin: auto; text-align: center;" (click)="aggiungiCommessa()">Aggiungi Commessa <i class="fa fa-plus" ></i> </button>
                </div>
              </div>








            <!-- <div class="row" formGroupName="commesse">
              <div class="col-12" *ngFor="let commessa of elencoCommesse; let i=index">

                  <h1 style="text-align:center">Commessa {{ i + 1 }}</h1>
                  <div class="row">
                    <div class="col-3">
                      <label for="cliente">Cliente</label><br>
                      <input type="text" id="cliente{{ i }}" placeholder="Cliente" name="cliente{{ i }}" class="form-control" [formControlName]="'cliente'">
                    </div>
                    <div class="col-3">
                      <label for="clienteFinale">Cliente finale</label><br>
                      <input type="text" class="form-control" placeholder="Cliente finale" name="clienteFinale{{ i }}" id="clienteFinale{{ i }}" [formControlName]="'clienteFinale'">
                    </div>
                    <div class="col-3">
                      <label for="titoloPosizione">Titolo posizione</label><br>
                      <input type="text" id="titoloPosizione{{ i }}" placeholder="Titolo posizione" class="form-control" name="titoloPosizione{{ i }}" formControlName="titoloPosizione{{i}}">
                    </div>
                    <div class="col-3">
                      <label for="distacco">Distacco</label><br>
                      <input type="text" placeholder="Distacco" id="distacco{{ i }}" name="distacco{{ i }}" class="form-control" formControlName="distacco{{i}}">
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-3">
                      <label for="dataInizio">Data inizio</label><br>
                      <input type="text" placeholder="Formato accettato: yyyy - mm - gg" class="form-control" name="dataInizio{{ i }}" id="dataInizio{{ i }}" formControlName="dataInizio{{i}}">
                    </div>
                    <div class="col-3">
                      <label for="dataFine">Data fine</label><br>
                      <input type="text" placeholder="Formato accettato: yyyy - mm - gg" class="form-control" name="dataFine{{ i }}" id="dataInizio{{ i }}" formControlName="dataFine{{i}}">
                    </div>
                    <div class="col-3">
                      <label for="costoMese">Costo mese</label><br>
                      <input type="number" id="costoMese{{ i }}" class="form-control" name="costoMese{{ i }}" formControlName="costoMese{{i}}" >
                    </div>
                    <div class="col-3">
                      <label for="tariffaGiornaliera">Tariffa giornaliera</label><br>
                      <input type="number" id="tariffaGiornaliera{{ i }}" name="tariffaGiornaliera{{ i }}" class="form-control" formControlName="tariffaGiornaliera{{i}}">
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-3">
                      <label for="nominativo">Nominativo</label><br>
                      <input type="text" id="nominativo{{ i }}" name="nominativo{{ i }}" class="form-control" formControlName="nominativo{{i}}" placeholder="Nominativo">
                    </div>
                    <div class="col-3">
                      <label for="azienda">Azienda</label><br>
                      <input type="text" id="azienda{{ i }}" name="azienda{{ i }}" class="form-control" formControlName="azienda{{i}}" placeholder="Azienda">
                    </div>
                    <div class="col-3">
                      <label for="aziendaDiFatturazioneInterna">Azienda di fatturazione interna</label><br>
                      <input type="text" id="aziendaDiFatturazioneInterna{{ i }}" name="aziendaDiFatturazioneInterna{{ i }}" class="form-control" formControlName="aziendaDiFatturazioneInterna{{i}}" placeholder="Azienda di fatturazione interna">
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-5">
                      <label for="stato">Stato: </label>
                      <input type="checkbox" id="stato{{ i }}" name="stato{{ i }}" formControlName="stato{{i}}">
                    </div>
                    <div class="col-5">
                      <label for="attesaLavori">Attesa lavori</label>
                      <input type="checkbox" id="attesaLavori{{ i }}" name="attesaLavori{{ i }}" formControlName="attesaLavori{{i}}">
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-12">
                      <button mat-flat-button color="primary" (click)="creaFormCommessa()"> <i class="fa fa-plus"></i> </button> &nbsp;
                      <button mat-flat-button color="accent" type="button" [disabled]="elencoCommesse.length === 1" (click)="removeCommessa(i)">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </div>
              </div>
            </div> -->

            <br>
            <div formGroupName="contratto">
              <div class="roe">
                <div class="col-12">
                  <h1 style="text-align:center" >Contratto</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <div formGroupName="tipoContratto">
                    <label for="tipoContratto">Tipo Contratto</label>
                    <select
                      class="form-control"
                      id="contratto.tipoContratto.id"
                      formControlName="id"
                    >
                      <option value="">--nessuna selezione--</option>
                      <option
                        *ngFor="let tipoContratto of tipiContratti"
                        [value]="tipoContratto.id"
                      >
                        {{ tipoContratto.descrizione }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-3">
                  <div formGroupName="livelloContratto">
                    <label for="livelloContratto">Livello Contratto</label>
                    <select
                      class="form-control"
                      id="contratto.livelloContratto.id"
                      formControlName="id"
                      type="number"
                    >
                      <option value="">--nessuna selezione--</option>
                      <option
                        *ngFor="let livelloContratto of livelliContratti"
                        [value]="livelloContratto.id"
                      >
                        {{ livelloContratto.descrizione }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-3">
                  <div formGroupName="tipoAzienda">
                    <label for="tipoAzienda">Tipo Azienda</label>
                    <select
                      class="form-control"
                      id="contratto.tipoAzienda.id"
                      formControlName="id"
                      type="number"
                    >
                      <option value="">--nessuna selezione--</option>
                      <option
                        *ngFor="let tipoAzienda of tipiAziende"
                        [value]="tipoAzienda.id"
                      >
                        {{ tipoAzienda.descrizione }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-3">
                  <div formGroupName="ccnl">
                    <label for="ccnl">Contratto Nazionale</label>
                    <select
                      class="form-control"
                      id="contratto.ccnl.id"
                      formControlName="id"
                      type="number"
                    >
                      <option value="">--nessuna selezione--</option>
                      <option
                        *ngFor="let contrattoNazionale of ccnl"
                        [value]="contrattoNazionale.id"
                      >
                        {{ contrattoNazionale.descrizione }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="row">
                  <div class="col-md-3">
                    <label>Qualifica: </label>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        value="{{ data?.contratto?.qualifica }}"
                        formControlName="qualifica"
                      />
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label>Sede Assunzione: </label>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        value="{{ data?.contratto?.sedeAssunzione }}"
                        formControlName="sedeAssunzione"
                      />
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label>Data Assunzione: </label>
                    <div class="form-group">
                      <input
                        type="date"
                        class="form-control"
                        [value]="transformDate(data?.contratto?.dataAssunzione)"
                        formControlName="dataAssunzione"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label>Data inizio prova:</label>
                  <div class="form-group">
                    <input
                      type="date"
                      class="form-control"
                      [value]="transformDate(data?.contratto?.dataInizioProva)"
                      formControlName="dataInizioProva"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Data fine Prova: </label>
                  <div class="form-group">
                    <input
                      type="date"
                      class="form-control"
                      [value]="transformDate(data?.contratto?.dataFineProva)"
                      formControlName="dataFineProva"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label>Data Fine Rapporto: </label>
                  <div class="form-group">
                    <input
                      type="date"
                      class="form-control"
                      [value]="transformDate(data?.contratto?.dataFineRapporto)"
                      formControlName="dataFineRapporto"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Mesi Durata: </label>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      value="{{ data?.contratto?.mesiDurata }}"
                      formControlName="mesiDurata"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label class="form-check-label">Dimissioni: </label>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      style="border-color: black"
                      [checked]="data?.contratto?.dimissioni === true"
                      formControlName="dimissioni"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <label class="form-check-label">Part Time: </label>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      style="border-color: black"
                      [checked]="data?.contratto?.partTime === true"
                      formControlName="partTime"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <label class="form-check-label">Part Time A: </label>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      style="border-color: black"
                      [checked]="data?.contratto?.partTimeA === true"
                      formControlName="partTimeA"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label>Retribuzione Mensile Lorda: </label>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      value="{{ data?.contratto?.retribuzioneMensileLorda }}"
                      formControlName="retribuzioneMensileLorda"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Superminimo Mensile: </label>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      value="{{ data?.contratto?.superminimoMensile }}"
                      formControlName="superminimoMensile"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <label>RAL Annua: </label>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      value="{{ data?.contratto?.ralAnnua }}"
                      formControlName="ralAnnua"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Supermionimo RAL: </label>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      value="{{ data?.contratto?.superminimoRal }}"
                      formControlName="superminimoRal"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label>Diaria Mensile: </label>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      value="{{ data?.contratto?.diariaMese }}"
                      formControlName="diariaMese"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Diaria Giornaliera: </label>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      value="{{ data?.contratto?.diariaGg }}"
                      formControlName="diariaGg"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label>Ticket: </label>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      value="{{ data?.contratto?.ticket }}"
                      formControlName="ticket"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Valore Ticket: </label>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      value="{{ data?.contratto?.valoreTicket }}"
                      formControlName="valoreTicket"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <label class="form-check-label">Categoria Protetta: </label>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    style="border-color: black"
                    [checked]="data?.contratto?.categoriaProtetta === true"
                    formControlName="categoriaProtetta"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label>Tutor: </label>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      value="{{ data?.contratto?.tutor }}"
                      formControlName="tutor"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label>PFI: </label>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      value="{{ data?.contratto?.pfi }}"
                      formControlName="pfi"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label>Corso di Sicurezza: </label>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      value="{{ data?.contratto?.corsoSicurezza }}"
                      formControlName="corsoSicurezza"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label>Motivazione Fine Rapporto: </label>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      value="{{ data?.contratto?.motivazioneFineRapporto }}"
                      formControlName="motivazioneFineRapporto"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label>Scatti Anzianita: </label>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      value="{{ data?.contratto?.scattiAnzianita }}"
                      formControlName="scattiAnzianita"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <label>PC: </label>
                  <div class="form-group">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      style="border-color: black"
                      [checked]="data?.contratto?.pc"
                      formControlName="pc"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <label>Tariffa Partita IVA: </label>
                  <div class="col-md-3">
                    <input
                      type="text"
                      class="form-control"
                      value="{{ data?.contratto?.tariffaPartitaIva }}"
                      formControlName="tariffaPartitaIva"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label>Canale Reclutamento: </label>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      value="{{ data?.contratto?.canaleReclutamento }}"
                      formControlName="canaleReclutamento"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <label>Attivo: </label>
                <div class="form-group">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    style="border-color: black"
                    [checked]="data?.contratto?.attivo"
                    formControlName="attivo"
                  />
                </div>
              </div>

            </div>

            <!-- Pulsante per inviare il form -->
            <button mat-flat-button (click)="aggiorna()">Invia</button>
            <br>
            <br>
            <br>
          </form>




        </div>
      </div>
    </div>
  </body>
</html>
<!--tutto quello che ha contrattoNazionale diventa ccnl-->
