<html>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <form [formGroup]="anagraficaDto">



         <div class="row">
          <div class="col-12">
            <mat-card>
              <mat-card-title>
                <div class="row">
                  <div class="col-12">
                    <h1 style="text-align: center;">Anagrafica</h1>
                  </div>
                </div>
              </mat-card-title>
              <mat-card-subtitle style="text-align: center;">Dati anagrafici</mat-card-subtitle> <br>
              <mat-card-content>
                <legend>Ruolo e dati anagrafici</legend>
                <div class="row">
                  <div class="form-group" formGroupName="ruolo">
                    <div class="col-4">
                      <label for="ruolo">Ruolo *</label>
                      <select class="form-control" id="ruolo.id" formControlName="id" type="number">
                        <option value="">--nessuna selezione--</option>
                        <option *ngFor="let ruolo of ruoli" value="{{ ruolo.id }}">
                          {{ ruolo.nome }}
                        </option>
                      </select>
                    </div>
                    </div>
                </div>
                <br>
                   <!-- Campi dell'anagrafica -->
            <div formGroupName="anagrafica">
              <div class="col-12">
                <label for="id" hidden>ID:</label>
                <input type="hidden" class="form-control" readonly id="id" formControlName="id" />
              </div>

              <div class="row">

                <div class="col-3">
                  <label for="nome">Nome:</label>
                  <input placeholder="Inserire nome" type="text" class="form-control" id="nome" formControlName="nome" />
                </div>
                <div class="col-3">
                  <label for="cognome">Cognome:</label>
                  <input placeholder="Inserire cognome" type="text" class="form-control" id="cognome" formControlName="cognome" />
                </div>
                <div class="col-3">
                  <label for="codiceFiscale">Codice Fiscale:</label>
                  <input placeholder="Inserire codice fiscale" type="text" class="form-control" id="codiceFiscale" formControlName="codiceFiscale" />
                </div>

                <div class="col-3">
                  <div class="form-group" formGroupName="tipoAzienda" > <!--formGroupName="tipoAzienda"-->
                      <label for="tipoAzienda">Tipo Azienda*</label>
                      <select class="form-control" id="anagrafica.tipoAzienda.id" formControlName="id" type="number">
                        <option value="">--nessuna selezione--</option>
                        <option *ngFor="let tipoAzienda of tipiAziende" [value]="tipoAzienda.id">
                          {{ tipoAzienda.descrizione }}
                        </option>
                      </select>
                  </div>
                </div>
              </div>
              <br>
            <div class="row">
              <legend>Dati di nascita e residenza/domicilio</legend>
              <br>
              <div  class="col-3">
                <label for="comuneDiNascita">Comune di Nascita:</label>
                <input placeholder="Inserire comune di nascita" type="text" class="form-control" id="comuneDiNascita" formControlName="comuneDiNascita" />
              </div>
              <div class="col-3">
                <label for="dataDiNascita">Data di Nascita:</label>
                <input placeholder="Inserire data di nascita" type="date" class="form-control" id="dataDiNascita" formControlName="dataDiNascita" />
              </div>
              <div class="col-3">
                <label for="residenza">Residenza:</label>
                <input placeholder="Inserire indirizzo di residenza" type="text" class="form-control" id="residenza" formControlName="residenza" />
              </div>
              <div class="col-3">
                <label for="domicilio">Domicilio:</label>
                <input placeholder="Inserire indirizzo di domicilio" type="text" class="form-control" id="domicilio" formControlName="domicilio" />
              </div>
            </div>
            <br>
            <div class="row">
              <legend>Recapiti</legend> <br>
              <div class="col-3">
                <label for="cellularePrivato">Cellulare Privato:</label>
                <input placeholder="Inserire cellulare privato" type="text" class="form-control" id="cellularePrivato" formControlName="cellularePrivato" />
              </div>
              <div class="col-3">
                <label for="cellulareAziendale">Cellulare Aziendale:</label>
                <input placeholder="Inserire cellulare aziendale" type="text" class="form-control" id="cellulareAziendale" formControlName="cellulareAziendale" />
              </div>
              <div class="col-3">
                <label for="mailPrivata">Mail Privata:</label>
                <input type="text"placeholder="Inserire mail privata" class="form-control" id="mailPrivata" formControlName="mailPrivata" />
              </div>
              <div class="col-3">
                <label for="mailAziendale">Mail Aziendale:</label>
                <input type="text" placeholder="Inserire mail aziendale" class="form-control" id="mailAziendale" formControlName="mailAziendale" />
                <div
                *ngIf="anagraficaDto.get('anagrafica.mailAziendale')?.hasError('required') && anagraficaDto.get('anagrafica.mailAziendale')?.hasError('touched') "
                class="text-danger">
                Il campo mail aziendale è obbligatorio.
              </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-3">
                <label for="mailPec">Mail PEC:</label>
                <input type="text" placeholder="Inserire PEC" class="form-control" id="mailPec" formControlName="mailPec" />
              </div>
            </div>
            <br>
            <div class="row">
              <legend>Titoli</legend> <br>
              <div class="col-3">
                <label for="titoliDiStudio">Titolo di Studio:</label>
                <input type="text" placeholder="Inserire titolo di studio conseguito" class="form-control" id="titoliDiStudio" formControlName="titoliDiStudio" />
              </div>
              <div class="col-3">
                <label for="altriTitoli">Altri Titoli:</label>
                <input type="text" class="form-control" placeholder="Inserire eventuali altri titoli conseguiti" id="altriTitoli" formControlName="altriTitoli" />
              </div>
            </div>
            <br>
            <div class="row">
              <legend>Info familiari</legend>
              <div class="col-md-3">
                <label for="coniugato">Coniugato:</label> <br>
                <label class="toggle-switch">

                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      style="border-color: black"
                      [checked]="data?.contratto?.coniugato === true"
                      formControlName="coniugato"
                    />
                    <span class="slider"></span>
                  </div>
                </label>
              </div>
              <div class="col-md-3">
                <label for="figliACarico">Figli a carico:</label> <br>
                <label class="toggle-switch">

                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      style="border-color: black"
                      [checked]="data?.contratto?.figliACarico === true"
                      formControlName="figliACarico"
                    />
                    <span class="slider"></span>
                  </div>
                </label>
              </div>
            </div>
            <br>
            <div class="row">
              <legend>Attesa lavori</legend> <br>
              <div class="col-md-3">
                <label for="attesaLavori">Attesa lavori:</label> <br>
                <label class="toggle-switch">

                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      style="border-color: black"
                      [checked]="data?.contratto?.attesaLavori === true"
                      formControlName="attesaLavori"
                    />
                    <span class="slider"></span>
                  </div>
                </label>
              </div>
            </div>
            </div>
              <br>
              </mat-card-content>
            </mat-card>
          </div>
         </div>
         <br>
          <div class="row">
            <div class="col-12">
              <mat-card>
                <mat-card-title>
                  <div class="row">
                    <div class="col-12">
                      <h1 style="text-align:center" >Contratto</h1>
                    </div>
                  </div>
                </mat-card-title>
                <mat-card-subtitle>
                  <legend style="text-align:center">Dati contrattuali</legend>
                </mat-card-subtitle>
                <mat-card-content>
                  <div class="contratto-vuoto" *ngIf="contrattoVuoto==true">
                    <p style="text-align: center;" >Contratto non presente per {{data?.anagrafica.nome}} {{data.anagrafica.cognome}} <button class="btn btn-primary" (click)="insertContratto()" > <i class="fa fa-plus" ></i> </button> </p>
                  </div>
                  <div formGroupName="contratto" *ngIf="contrattoVuoto==false" >
                    <div class="row">
                      <legend>Tipologiche</legend>
                      <div class="col-3">
                        <div formGroupName="tipoContratto">
                          <label for="tipoContratto">Tipo Contratto</label>
                          <select (change)="onTipoContrattoChange($event)"
                            class="form-control"
                            id="contratto.tipoContratto.id"
                            formControlName="id"
                          >
                            <option value="">--nessuna selezione--</option>
                            <option
                              *ngFor="let tipoContratto of tipiContratti"
                              [value]="tipoContratto.id"
                            >
                              {{ tipoContratto.descrizione }}
                            </option>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-3" >
                        <label>Mesi Durata: </label>
                        <div class="form-group">
                          <input
                            type="number"
                            class="form-control"
                            value="{{ data?.contratto?.mesiDurata }}"
                            formControlName="mesiDurata"
                            [ngClass]="{'field-error': anagraficaDto.get('contratto.mesiDurata')?.invalid && anagraficaDto.get('contratto.mesiDurata')?.touched}"
                            placeholder="Inserire mesi durata"
                          />
                        </div>
                      </div>

                      <div class="col-3">
                        <div formGroupName="tipoLivelloContratto">
                          <label for="tipoLivelloContratto">Livello Contratto</label>
                          <select
                            class="form-control"
                            id="contratto.tipoLivelloContratto.id"
                            formControlName="id"
                            type="number"
                          >
                            <option value="">--nessuna selezione--</option>
                            <option
                              *ngFor="let tipoLivelloContratto of livelliContratti"
                              [value]="tipoLivelloContratto.id"
                            >
                              {{ tipoLivelloContratto.livello }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-3">
                        <div formGroupName="tipoAzienda">
                          <label for="tipoAzienda">Tipo Azienda</label>
                          <select class="form-control" id="contratto.tipoAzienda.id" formControlName="id" type="number">
                            <option value="">--nessuna selezione--</option>
                            <option *ngFor="let tipoAzienda of tipiAziende" [value]="tipoAzienda.id">
                              {{ tipoAzienda.descrizione }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-4">
                        <div formGroupName="tipoCcnl">
                          <label for="tipoCcnl">CCNL</label>
                          <select (change)="onChangeCCNL($event)"
                            class="form-control"
                            id="contratto.tipoCcnl.id"
                            formControlName="id"
                            type="number"
                          >
                            <option value="">--nessuna selezione--</option>
                            <option
                              *ngFor="let tipoCcnl of ccnl"
                              [value]="tipoCcnl.id"
                            >
                              {{ tipoCcnl.descrizione }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <br>
                        <div class="row">
                          <legend>Date</legend>
                          <div class="col-md-3">
                            <label>Data Assunzione * </label>
                            <div class="form-group">
                              <input
                                type="date"
                                class="form-control"
                                [value]="transformDate(data?.contratto?.dataAssunzione)"
                                formControlName="dataAssunzione"
                                placeholder="Inserire data di assunzione, formato valido: Anno-Mese-Giorno"
                              />
                            </div>
                          </div>
                          <div class="col-md-3">
                            <label>Data inizio prova</label>
                            <div class="form-group">
                              <input
                                type="date"
                                class="form-control"
                                [value]="transformDate(data?.contratto?.dataInizioProva)"
                                formControlName="dataInizioProva"
                              />
                            </div>
                          </div>

                          <div class="col-md-3">
                            <label>Data fine Prova: </label>
                            <div class="form-group">
                              <input
                                type="date"
                                class="form-control"
                                [value]="transformDate(data?.contratto?.dataFineProva)"
                                formControlName="dataFineProva"
                              />
                            </div>
                          </div>

                          <div class="col-md-3">
                            <label>Data Fine Rapporto: </label>
                            <div class="form-group">
                              <input
                                type="date"
                                class="form-control"
                                [value]="transformDate(data?.contratto?.dataFineRapporto)"
                                formControlName="dataFineRapporto"
                              />
                            </div>
                          </div>

                        </div>
                        <br>
                        <div class="row">
                          <legend>Dettagli assunzione</legend>
                          <div class="col-md-4">
                            <label>Qualifica: </label>
                            <div class="form-group">
                              <input
                                type="text"
                                class="form-control"
                                value="{{ data?.contratto?.qualifica }}"
                                formControlName="qualifica"
                                placeholder="Inserire qualifica (Ex:Programmatore)"
                              />
                            </div>
                          </div>
                          <div class="col-md-4">
                            <label>Sede Assunzione: </label>
                            <div class="form-group">
                              <input
                                type="text"
                                class="form-control"
                                value="{{ data?.contratto?.sedeAssunzione }}"
                                formControlName="sedeAssunzione"
                                placeholder="Inserire indirizzo sede assunzione"
                              />
                            </div>
                          </div>
                          <div class="col-4">
                              <label>Canale Reclutamento * </label>
                              <div class="form-group" formGroupName="tipoCanaleReclutamento">
                                <select class="form-control" id="contratto.tipoCanaleReclutamento.id" formControlName="id" type="number">
                                  <option value="">--nessuna selezione--</option>
                                  <option *ngFor="let tipoCanaleReclutamento of tipologicaCanaliReclutamento" [value]="tipoCanaleReclutamento.id">
                                    {{ tipoCanaleReclutamento.descrizione }}
                                  </option>
                                </select>
                            </div>
                          </div>

                        </div>
                        <br>
                        <legend>Altri dati</legend>
                        <div class="row">
                          <div class="col-md-3">
                            <label for="categoriaProtetta">Categoria Protetta:</label> <br>
                            <label class="toggle-switch">

                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  style="border-color: black"
                                  [checked]="data?.contratto?.categoriaProtetta === true"
                                  formControlName="categoriaProtetta"
                                />
                                <span class="slider"></span>
                              </div>
                            </label>
                          </div>

                          <div class="col-md-3">
                            <label for="pc">Computer:</label> <br>
                            <label class="toggle-switch">

                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  style="border-color: black"
                                  [checked]="data?.contratto?.pc === true"
                                  formControlName="pc"
                                />
                                <span class="slider"></span>
                              </div>
                            </label>
                          </div>
                          <div class="col-md-3">
                            <label for="assicurazioneObbligatoria">Assicurazione obbligatoria:</label> <br>
                            <label class="toggle-switch">

                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  (change)="onChangeAssicurazioneObbligatoria($event)"
                                  style="border-color: black"
                                  [checked]="data?.contratto?.assicurazioneObbligatoria === true"
                                  formControlName="assicurazioneObbligatoria"
                                />
                                <span class="slider"></span>
                              </div>
                            </label>
                          </div>
                        </div>
                        <br>

                    <br>
                    <div class="row">
                      <legend>Livelli</legend>
                      <div class="col-6">
                        <label for="livelloAttuale">Livello attuale</label>
                        <div class="form-group">
                          <input
                          type="text"
                          class="form-control"
                          value="{{ data?.contratto?.livelloAttuale }}"
                          formControlName="livelloAttuale"
                          placeholder="Inserire livello attuale"
                        />
                        </div>
                      </div>
                      <div class="col-6">
                        <label for="livelloAttuale">Livello finale</label>
                        <div class="form-group">
                          <input
                          type="text"
                          class="form-control"
                          value="{{ data?.contratto?.livelloFinale }}"
                          formControlName="livelloFinale"
                          placeholder="Inserire livello finale"
                        />
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <legend>Dati economici </legend>

                      <p>Retribuzione</p>
                      <div class="col-md-3">
                        <label>Retribuzione Mensile Lorda:</label>
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text prefix" style="background-color: black; color: white;">€</div>
                          </div>
                          <input matInput
                                 type="number"
                                 step="0.01"
                                 min="0"
                                 class="form-control"
                                 [value]="data?.contratto?.retribuzioneMensileLorda"
                                 formControlName="retribuzioneMensileLorda"
                                 placeholder="Inserire retribuzione mensile lorda"
                          />
                        </div>
                      </div>
                      <div class="col-md-3">
                        <label>Retribuzione netta mensile:</label>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text custom-prefix">€</span>
                            </div>
                            <input
                              type="number"
                              class="form-control"
                              value="{{ data?.contratto?.retribuzioneNettaMensile }}"
                              formControlName="retribuzioneNettaMensile"
                              step="0.01"
                              min="0"
                              placeholder="Inserire retribuzione netta mensile"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <label>Retribuzione netta giornaliera:</label>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text custom-prefix">€</span>
                            </div>
                            <input
                              type="number"
                              class="form-control"
                              value="{{ data?.contratto?.retribuzioneNettaGiornaliera }}"
                              formControlName="retribuzioneNettaGiornaliera"
                              step="0.01"
                              min="0"
                              placeholder="Inserire retribuzione netta giornaliera"
                            />
                          </div>
                        </div>
                      </div>

                      <div class="col-md-3">
                        <label>Superminimo Mensile:</label>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text custom-prefix">€</span>
                            </div>
                            <input
                              type="number"
                              class="form-control"
                              value="{{ data?.contratto?.superminimoMensile }}"
                              formControlName="superminimoMensile"
                              step="0.01"
                              min="0"
                              placeholder="Inserire Superminimo mensile"
                            />
                          </div>
                        </div>
                      </div>


                    </div>
                    <br>
                    <div class="row">

                      <legend>RAL</legend>

                      <div class="col-md-6">
                        <label>RAL Annua:</label>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text custom-prefix">€</span>
                            </div>
                            <input
                              type="number"
                              class="form-control"
                              value="{{ data?.contratto?.ralAnnua }}"
                              formControlName="superminimoMensile"
                              step="0.01"
                              min="0"
                              placeholder="Inserire RAL annua"
                              (input)="calculateRalPartTime()"
                            />
                          </div>
                        </div>
                      </div>


                      <div class="col-md-6">
                        <label>Superminimo RAL:</label>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text custom-prefix">€</span>
                            </div>
                            <input
                              type="number"
                              class="form-control"
                              value="{{ data?.contratto?.superminimoRal }}"
                              formControlName="superminimoRal"
                              step="0.01"
                              min="0"
                              placeholder="Inserire superminimo RAL"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <legend>Diaria</legend>
                      <div class="col-md-4">
                        <label>Diaria annua:</label>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text custom-prefix">€</span>
                            </div>
                            <input
                              type="number"
                              class="form-control"
                              value="{{ data?.contratto?.diariaAnnua }}"
                              formControlName="diariaAnnua"
                              step="0.01"
                              min="0"
                              placeholder="Inserire diaria annua"
                            />
                          </div>
                        </div>
                      </div>

                        <div class="col-md-4">
                        <label>Diaria mensile:</label>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text custom-prefix">€</span>
                            </div>
                            <input
                              type="number"
                              class="form-control"
                              value="{{ data?.contratto?.diariaMensile }}"
                              formControlName="diariaMensile"
                              step="0.01"
                              min="0"
                              placeholder="Inserire diaria mensile"
                            />
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <label>Diaria giornaliera:</label>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text custom-prefix">€</span>
                            </div>
                            <input
                              type="number"
                              class="form-control"
                              value="{{ data?.contratto?.diariaGiornaliera }}"
                              formControlName="diariaGiornaliera"
                              step="0.01"
                              min="0"
                              placeholder="Inserire diaria giornaliera"
                            />
                          </div>
                        </div>
                      </div>

                    </div>
                    <br>
                    <div class="row">
                      <legend>Scatti anzianitá</legend>
                      <div class="col-md-4">
                        <label>Scatti anzianitá:</label>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text custom-prefix">€</span>
                            </div>
                            <input
                              type="number"
                              class="form-control"
                              value="{{ data?.contratto?.scattiAnzianita }}"
                              formControlName="scattiAnzianita"
                              step="0.01"
                              min="0"
                              placeholder="Inserire scatti anzianitá"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <legend>Ticket</legend>
                      <div class="col-3">
                        <label for="ticket">Ticket:</label> <br>
                        <label class="toggle-switch">

                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              style="border-color: black"
                              [checked]="data?.contratto?.ticket === true"
                              (change)="onTicketChange($event)"
                              formControlName="ticket"
                            />
                            <span class="slider"></span>
                          </div>
                        </label>
                      </div>

                      <div class="col-md-3">
                        <label>Valore Ticket: </label>
                        <div class="form-group">
                          <input
                            type="number"
                            class="form-control"
                            value="{{ data?.contratto?.valoreTicket }}"
                            step="0.01"
                            min="0"
                            formControlName="valoreTicket" placeholder="Inserire valore ticket"
                          />
                        </div>
                      </div>
                    </div>
                    <br>

                    <div class="row">
                      <legend>Part time</legend>
                      <div class="col-3">
                        <label for="partTime">Part time:</label> <br>
                        <label class="toggle-switch">

                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              style="border-color: black"
                              [checked]="data?.contratto?.partTime === true"
                              (change)="onPartTimeChange($event)"
                              formControlName="partTime"
                            />
                            <span class="slider"></span>
                          </div>
                        </label>
                      </div>
                      <div class="col-md-3">
                        <label class="form-check-label">% Part time: </label>
                        <div class="form-group">
                          <input
                          class="form-control"
                          type="number"
                          formControlName="percentualePartTime"
                          placeholder="Percentuale part time (da 40% a 80%)"
                          (input)="calculateRalPartTime()"
                        />
                        </div>
                      </div>
                      <div class="col-3">
                        <label for="ral part time">RAL Part time</label>
                        <input type="text" class="form-control" formControlName="ralPartTime" [(ngModel)]="percentualePartTimeValue" >
                      </div>
                    </div>
                    <br> <br>
                    <!--Campi da compilare solo se il contratto é uno stage o un apprendistato-->
                    <div class="row" >
                      <div class="col-md-3">
                        <label>Tutor: </label>
                        <div class="form-group">
                          <input type="text" class="form-control" value="{{ data?.contratto?.tutor }}" formControlName="tutor" />
                        </div>
                      </div>
                      <div class="col-3">
                        <label for="partTime">Piano formativo individuale:</label> <br>
                        <label class="toggle-switch">

                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              style="border-color: black"
                              [checked]="data?.contratto?.pfi === true"
                              (change)="onChangePFI($event)"
                              formControlName="pfi"
                            />
                            <span class="slider"></span>
                          </div>
                        </label>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <legend>Corso di sicurezza</legend>
                      <div class="col-md-3">
                        <label for="corsoDiSicurezza">Corso di sicurezza:</label> <br>
                        <label class="toggle-switch">

                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              style="border-color: black"
                              [checked]="data?.contratto?.corsoSicurezza === true"
                              formControlName="corsoSicurezza"
                            />
                            <span class="slider"></span>
                          </div>
                        </label>
                      </div>
                      <div class="col-md-3">
                        <label>Data corso di Sicurezza: </label>
                        <div class="form-group">
                          <input
                            type="date"
                            class="form-control"
                            value="{{ data?.contratto?.dataCorsoSicurezza }}"
                            formControlName="dataCorsoSicurezza"
                          />
                        </div>
                      </div>
                    </div>
                    <br>

                    <div class="row">
                     <legend>Dati economici partita iva</legend>
                      <div class="form-group">
                        <label>Tariffa Partita IVA: </label>
                        <div class="col-md-3">
                          <input
                            type="number"
                            class="form-control"
                            value="{{ data?.contratto?.tariffaPartitaIva }}"
                            formControlName="tariffaPartitaIva"
                          />
                        </div>
                     </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-12">
                        <legend>Dati medici</legend>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <label for="visitaMedica">Visita medica:</label> <br>
                        <label class="toggle-switch">

                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              style="border-color: black"
                              [checked]="data?.contratto?.visitaMedica === true"
                              formControlName="visitaMedica"
                            />
                            <span class="slider"></span>
                          </div>
                        </label>
                      </div>
                      <div class="col-md-3">
                        <label for="dataVisitaMedica">Data visita medica</label>
                        <div class="form-group">
                          <input type="date" class="form-control" formControlName="dataVisitaMedica">
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <!-- <div class="col-md-3">
                        <label class="form-check-label">Dimissioni: </label>
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            style="border-color: black"
                            [checked]="data?.contratto?.dimissioni === true"
                            formControlName="dimissioni"
                          />
                        </div>
                      </div> -->

                      <legend>Dimissioni</legend>

                      <div class="col-md-5">
                        <div class="form-group"  formGroupName="tipoCausaFineRapporto">
                        <label>Motivazione Fine Rapporto: </label>
                        <select (change)="onChangeCausaFineRapporto($event)" class="form-control" id="contratto.tipoCausaFineRapporto.id" formControlName="id">
                          <option value="">--nessuna selezione--</option>
                          <option *ngFor="let tipoCausaFineRapporto of motivazioniFineRapporto" [value]="tipoCausaFineRapporto.id">
                            {{ tipoCausaFineRapporto.descrizione }}
                          </option>
                        </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
            <br>
            <div *ngIf="commesseControls.length > 0">
              <mat-card>
                <mat-card-title><h1>Commesse</h1></mat-card-title>
                <mat-card-content>
                  <div formArrayName="commesse" style="padding: 5%;">
                    <ng-container *ngFor="let commessa of commesseControls; let i = index">
                      <div class="row"  style="text-align: center; margin: auto;">
                        <div class="col-12">
                          <legend>Commessa {{i+1}}</legend>
                        </div>
                      </div>
                      <div [formGroupName]="i">


                        <div class="row">
                          <div class="col-3">
                            <label>Azienda Cliente</label> <br>
                            <input class="form-control" placeholder="Inserire l' azienda cliente" [ngStyle]="{ 'border': commessa.get('aziendaCliente')?.value=='' ? '1px solid red' : ''}" formControlName="aziendaCliente" type="text" />
                          </div>
                          <div class="col-3">
                            <label>Cliente Finale</label><br>
                            <input class="form-control"  [ngStyle]="{ 'border': commessa.get('clienteFinale')?.value=='' ? '1px solid red' : ''}"  placeholder="Inserire l' azienda cliente finale" formControlName="clienteFinale" type="text" />
                          </div>
                          <div class="col-3">
                            <label>Titolo posizione</label><br>
                            <input class="form-control" formControlName="titoloPosizione"  [ngStyle]="{ 'border': commessa.get('titoloPosizione')?.value=='' ? '1px solid red' : ''}"  placeholder="Aggiungere la posizione da ricoprire." type="text" />

                          </div>
                          <div class="col-3">
                            <label>Distacco</label><br>
                            <input  (change)="onChangeDistaccoCommessa($event, i)" style="border-color: black" class="form-check-input" type="checkbox" formControlName="distacco" />
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="distaccoAzienda">Distacco azienda</label>
                              <input type="text" class="form-control" placeholder="Inserire distacco azienda" [ngStyle]="{ 'border': commessa.get('distaccoAzienda')?.value=='' ? '1px solid red' : ''}" formControlName="distaccoAzienda" placeholder="Inserire distacco azienda."> <!--[disabled]="!commessa.get('distacco')?.value==false"-->

                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="distaccoData">Data distacco</label>
                              <input type="date" class="form-control" formControlName="distaccoData"  [ngStyle]="{ 'border': commessa.get('dataDistacco')?.value==null ? '1px solid red' : ''}" placeholder="Inserire data distacco.">
                            </div>
                          </div>
                          <div class="col-3">
                            <label>aziendaDiFatturazioneInterna</label><br>
                        <input class="form-control" formControlName="aziendaDiFatturazioneInterna"  [ngStyle]="{ 'border': commessa.get('aziendaDiFatturazioneInterna')?.value=='' ? '1px solid red' : ''}" placeholder="Inserire azienda di fatturazione interna" type="text" />
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-3">
                            <label>dataInizio</label><br>
                            <input class="form-control" formControlName="dataInizio" [ngStyle]="{ 'border': commessa.get('dataInizio')?.value=='' ? '1px solid red' : ''}" type="date" />

                          </div>
                          <div class="col-3">
                            <label>dataFine</label><br>
                            <input class="form-control" [ngStyle]="{ 'border': commessa.get('dataFine')?.value=='' ? '1px solid red' : ''}" formControlName="dataFine" type="date" />
                          </div>

                          <div class="col-3">
                            <label>tariffaGiornaliera</label><br>
                            <input class="form-control" formControlName="tariffaGiornaliera" [ngStyle]="{ 'border': commessa.get('tariffaGiornaliera')?.value=='' ? '1px solid red' : ''}" placeholder="Inserire la tariffa giornaliera" type="number" />
                          </div>

                        </div>
                        <div class="row">
                          <!-- <div class="col-3">
                            <label>nominativo</label><br>
                            <input class="form-control" formControlName="nominativo" type="text" />

                          </div> -->
                          <!-- <div class="col-3">
                            <label>azienda</label><br>
                            <input class="form-control" formControlName="azienda" type="text" />
                          </div> -->

                        </div>

                          <!-- <div class="col-6">
                            <label>Stato</label>
                            <div class="form-group">
                              <div class="form-check">
                                <input style="border-color: black" class="form-check-input" type="checkbox"
                                  formControlName="attivo" />
                              </div>
                            </div>
                          </div> -->

                      </div>
                      <br>
                      <div class="row">
                        <div class="col-12">
                          <button  mat-flat-button color="accent" type="button" (click)="rimuoviCommessa(i)" matTooltip="rimuovi commessa {{i+1}}">Rimuovi Commessa <i class="fa fa-trash" ></i> </button> &nbsp; <!--[disabled]="i==0"-->
                          <button class="btn btn-success" matTooltip="Premendo questo pulsante disattiverai la commessa numero {{i+1}} e potrai recuperarla nello storico" (click)="storicizza(i)" >Storicizza commessa  <i class="fa fa-file" ></i></button>
                        </div>
                      </div>

                    </ng-container>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
            <br>
            <div class="row"  *ngIf="commesseControls.length=== 0" >
              <div class="col-12" style="margin: auto; text-align: center;">
                <mat-card>
                  <mat-card-title>
                    <h1>Commesse</h1>
                  </mat-card-title>
                  <mat-card-subtitle>
                <p>L'utente {{data?.anagrafica.nome}} {{data?.anagrafica.cognome}} non ha commesse al momento.  </p>
                  </mat-card-subtitle>
                  <mat-card-content>
                     <button mat-flat-button color="primary" style="margin: auto; text-align: center;" (click)="aggiungiCommessa()">Aggiungi Commessa <i class="fa fa-plus" ></i> </button>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
            <div class="row"  *ngIf="commesseControls.length > 0">
              <div class="col-12" style="margin: auto; text-align: center;">
                <button mat-flat-button color="primary" style="margin: auto; text-align: center;" (click)="aggiungiCommessa()">Aggiungi Commessa <i class="fa fa-plus" ></i> </button>
              </div>
            </div>
            <br>
            <!-- Pulsante per inviare il form -->
            <div class="row">
              <div class="col-12" style="text-align: center; margin: auto;">
                <button class="btn btn-success" (click)="aggiorna()">Salva modifiche <i class="fa fa-save" ></i> </button> &nbsp;
                <button class="btn btn-info" (click)="reset()">Annulla <i class="fa fa-undo" ></i> </button>
              </div>
            </div>
            <br>
            <br>
            <br>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
