.invalid-field {
    border-color: red;

  }

select{
  width: 50%;
}

/* Stili CSS per simulare una tabella */
.commessa-list {
  // list-style: none;
  padding: 0;
}

.commessa-item {
  // display: flex;
  align-items: center;
  // justify-content: space-between;
  margin-bottom: 8px;
}

.commessa-cell {
  flex: 1;
  padding: 4px;
  border: 1px solid #ccc;
}

ng-container{
  border: 1px solid #f1f1f1;
}
