<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1>Dashboard</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3>Commesse in scadenza (40 giorni)</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <tr>
              <th>Cliente</th>
              <th>Cliente finale</th>
              <th>Distacco</th>
              <th>Nominativo</th>
              <th>Azienda di fatturazione interna</th>
              <th>Data inizio</th>
              <th>Data fine</th>
            </tr>
            <tr *ngFor="let element of listaCommesseInScadenza">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3>Contratti in scadenza (40 giorni)</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <tr>
              <th>Tipo</th>
              <th>CCNL</th>
              <th>Tipo livello contrattuale</th>
              <th>Tipo azienda</th>
              <th>Data assunzione</th>
              <th>Data Fine rapporto</th>
              <th>Motivazione fine rapporto</th>
            </tr>
            <tr *ngFor="let element of listaContrattiInScadenza">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
