<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2>nuovo template recupero password</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-card>
            <mat-card-content>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="password"
                placeholder="Inserisci password"
              />
              <button class="btn btn-success" (click)="recuperaPassword()">Invia</button>

              <!-- Aggiungi un link per il reindirizzamento -->
              <a [routerLink]="['/form-recupero-password', tokenProvvisorio]">Vai alla pagina di recupero password</a>
            </mat-card-content>
          </mat-card>
        </div>

      </div>
    </div>
  </body>
</html>
