<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recupero Password</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <header>
          <h2>Recupero password</h2>
        </header>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="recupero-password">
          <form (ngSubmit)="recuperaPassword()">
            <div class="form-group">
              <label for="password">Inserisci nuova password</label>
              <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required>
            </div>

            <button class="btn btn-success" type="submit">Recupera Password</button> &nbsp;
            <button class="btn btn-info" (click)="tornaAlogin()">Torna al login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
