<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <mat-card>
          <mat-card-title>
            <h3>Richiesta di permesso</h3>
          </mat-card-title>
          <mat-card-subtitle>
            <h5>Compila il form per inviare la richiesta</h5>
          </mat-card-subtitle>
          <mat-card-content>

            <form #insertPermeission="ngForm" (ngSubmit)="insertPermesso(insertPermeission.value)">
              <div class="row">
                <div class="col-4" hidden>
                  <div class="form-group">
                    <label for="codiceFiscale">Codice fiscale:</label>
                    <input type="hidden"  id="codiceFiscale" name="codiceFiscale" [(ngModel)]="codiceFiscale" class="form-control" />
                  </div>
                </div>

                  <div class="col-2">
                    <div class="form-group">
                      <label for="permessoGiorno">Giorno *</label>
                      <input [ngStyle]="{'border': permessoGiorno == null ? '1px solid red' : '1px solid lightgreen'}"
                             type="number" min="1" max="31" id="permessoGiorno" name="permessoGiorno" required
                             [(ngModel)]="permessoGiorno" class="form-control" />
                      <div class="text-danger" *ngIf="permessoGiorno==null">Campo obbligatorio.</div>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="form-group">
                      <label for="permessoMese">Mese:</label>
                      <select [ngStyle]="{'border': permessoMese == null ? '1px solid red' : '1px solid lightgreen'}"
                              id="permessoMese" name="permessoMese" [(ngModel)]="permessoMese" required
                              class="form-select" (change)="onChangeMese($event)">
                        <option [value]="null" selected>--Nessuna opzione--</option>
                        <option *ngFor="let month of mesi; let i = index" [value]="i + 1">{{ getMonthName(i + 1) }}</option>
                      </select>
                      <div class="text-danger" *ngIf="permessoMese == null">Campo obbligatorio.</div>
                    </div>
                  </div>

                  <div class="col-2">
                    <div class="form-group">
                      <label for="permessoAnno">Anno:</label>
                      <select [ngStyle]="{'border': permessoAnno == null ? '1px solid red' : '1px solid lightgreen'}"
                              id="permessoAnno" name="permessoAnno" [(ngModel)]="permessoAnno" required
                              class="form-select" (change)="onChangeAnno()">
                        <option [value]="null" selected>--Nessuna selezione--</option>
                        <option *ngFor="let year of elencoAnni" [value]="year">{{ year }}</option>
                      </select>
                      <div class="text-danger" *ngIf="permessoAnno == null">Campo obbligatorio.</div>
                    </div>
                  </div>


                  <div class="col-2">
                    <div class="form-group">
                      <label for="daOra">Dalle Ore:</label>
                      <select [ngStyle]="{'border': daOra == null ? '1px solid red' : '1px solid lightgreen'}" name="daOra" id="daOra" [(ngModel)]="daOra" class="form-select" required (ngModelChange)="updateAOraOptions()">
                        <option value="" selected>--Nessuna selezione--</option>
                        <option *ngFor="let ora of arrayDaOra" [value]="ora">{{ ora }}</option>
                      </select>
                      <div class="text-danger" *ngIf="daOra == null">Campo obbligatorio.</div>
                    </div>
                  </div>

                  <div class="col-2">
                    <div class="form-group">
                      <label for="aOra">Alle Ore:</label>
                      <select [ngStyle]="{'border': aOra == null ? '1px solid red' : '1px solid lightgreen'}" name="aOra" id="aOra" [(ngModel)]="aOra" class="form-select" required (change)="changeAora($event)">
                        <option value="" selected>--Nessuna selezione--</option>
                        <option *ngFor="let ora of arrayAOra" [value]="ora">{{ ora }}</option>
                      </select>
                      <div class="text-danger" *ngIf="aOra == null">Campo obbligatorio.</div>
                    </div>
                  </div>


                <div class="col-2">
                  <label for="invio">Azioni</label> <br>
            <button mat-flat-button color="primary" [disabled]="permessoGiorno==null || permessoMese==null || permessoAnno==null || daOra==null || aOra==null"  >Invia richiesta</button>
                </div>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12">
        <mat-card>
          <mat-card-title>Fascia oraria</mat-card-title>
          <mat-card-content>
            <div class="row">

            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</body>
</html>
