<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body [class.dark-mode]="themeService.isDarkModeEnabled()">
    <div id="inizioPagina"></div>
    <div
      class="container-toolbar"
      [hidden]="tokenProvvisorio != null && tokenProvvisorio == null"
    >
      <mat-toolbar id="toolbar" *ngIf="token && !mobile">
        <a [routerLink]="['/home']" class="logo-link">
          <img
            class="logo-image"
            width="40"
            height="40"
            src="../../../../assets/images/logo.jpeg"
            alt="Logo"
          />
        </a>
        <div class="toolbar-menu" *ngIf="jsonData && jsonData.list">
          <a
            (click)="getPermissions(menuItem.id)"
            style="color: white"
            class="toolbar-link"
            *ngFor="let menuItem of jsonData.list"
            [routerLink]="[menuItem.percorso]"
          >
            {{ menuItem.nome }}
          </a>
        </div>
        <span>
          <div
            class="form-check form-switch"
            matTooltip="{{
              themeService.isDarkModeEnabled() ? 'Light mode' : 'Dark Mode'
            }}"
          >
            <input
              class="form-check-input"
              [checked]="themeService.isDarkModeEnabled()"
              (click)="toggleDarkMode()"
              type="checkbox"
              id="flexSwitchCheckDefault"
            />
            <label
              class="form-check-label"
              for="flexSwitchCheckDefault"
              matTooltip="{{
                themeService.isDarkModeEnabled() ? 'Light mode' : 'Dark Mode'
              }}"
            ></label>
          </div>
        </span>
        <span
          style="cursor: pointer"
          mat-icon-button
          [routerLink]="['/profile-box']"
          class="user-icon"
        >
          <small *ngIf="userRoleNav === false"
            >{{ userLoggedName }} {{ userLoggedSurname }} (Admin) &nbsp;</small
          >
          <small *ngIf="userRoleNav === true"
            >{{ userLoggedName }} {{ userLoggedSurname }} (Dipendente)
            &nbsp;</small
          >
          <i class="fa fa-user"></i>
        </span>
        &nbsp;&nbsp;
        <span
          style="cursor: pointer"
          mat-icon-button
          (click)="logout()"
          class="logout-icon"
        >
          <i class="fa fa-sign-out" aria-hidden="true"></i>
        </span>
      </mat-toolbar>
    </div>

    <div
      class="container-toolbar"
      [hidden]="tokenProvvisorio != null && tokenProvvisorio == null"
    >
      <mat-toolbar id="toolbar" *ngIf="token && mobile">
        <a [routerLink]="['/home']" class="logo-link">
          <img
            class="logo-image"
            width="40"
            height="40"
            src="../../../../assets/images/logo.jpeg"
            alt="Logo"
          />
        </a>
        <button
          style="background-color: white; color: black; margin-right: 10px"
          mat-button
          [matMenuTriggerFor]="menu"
        >
          Menu
        </button>
        <mat-menu #menu="matMenu">
          <button
            style="background-color: white; color: black"
            mat-menu-item
            *ngFor="let menuItem of jsonData.list"
            [routerLink]="[menuItem.percorso]"
            (click)="getPermissions(menuItem.id)"
          >
            {{ menuItem.nome }}
          </button>
        </mat-menu>
        <span
          style="cursor: pointer"
          mat-icon-button
          [routerLink]="['/profile-box']"
          class="user-icon"
        >
          <small *ngIf="userRoleNav === false"
            >{{ userLoggedName }} {{ userLoggedSurname }} (Admin) &nbsp;</small
          >
          <small *ngIf="userRoleNav === true"
            >{{ userLoggedName }} {{ userLoggedSurname }} (Dipendente)
            &nbsp;</small
          >
          <i class="fa fa-user"></i>
        </span>
        &nbsp;&nbsp;
        <span
          style="cursor: pointer"
          mat-icon-button
          (click)="logout()"
          class="logout-icon"
        >
          <i class="fa fa-sign-out" aria-hidden="true"></i>
        </span>
      </mat-toolbar>
    </div>
    <div class="row" *ngIf="ruolo === 'DIPENDENTE'">
      <div class="col-12">
        <br />
        <mat-card style="text-align: center">
          <h1>
            <img
              src="../../../../assets/images/logoSincronoCompleto.png"
              alt="Logo Sincrono"
            />
          </h1>
          <h1>Modifica richiesta <i class="fa fa-envelope"></i></h1>
        </mat-card>
      </div>
    </div>

    <div class="container-fluid" *ngIf="ruolo === 'DIPENDENTE'">
      <div *ngIf="data">
        <div class="container">
          <div class="card">
            <p class="col-3"><strong>Anno:</strong> <input type="number" class="form-control" [(ngModel)]="data.anno" ></p>
            <p class="col-3"><strong>Mese:</strong> <input type="number" class="form-control" [(ngModel)]="data.mese" > </p>
            <p hidden><strong>Codice Fiscale:</strong> {{ data.codiceFiscale }}</p>

            <div class="row" *ngIf="data.list && data.list.length > 0">
              <p *ngIf="tipoRichiesta=='ferie'" ><strong>Tipologia richiesta: </strong>{{ getTitle() }}</p>
              <div class="col-2" *ngFor="let item of data.list; let i = index">
                <ng-container *ngIf="item.ferie; else permessiTemplate">
                  <!-- Dettagli per richiesta di ferie -->
                  <p ><input type="number" class="form-control" [(ngModel)]="item.nGiorno ">
                    <button mat-mini-fab color="warn" (click)="rimuoviCampo(i)"> <i class="fa fa-minus"></i> </button>
                  </p>
                  <div class="buttons-container">
                    <button mat-mini-fab color="primary" (click)="aggiungiCampo()"> <i class="fa fa-plus" ></i> </button>
                  </div>
                </ng-container>


                <ng-template #permessiTemplate>
                  <!-- Dettagli per richiesta di permessi -->
                  <p class="col-12"> <strong>Giorno richiesto:</strong> <input type="text" class="form-control" [(ngModel)]="item.nGiorno"></p>
                  <p class="col-8"> <strong>Ora Inizio: </strong><input type="text" class="form-control" [(ngModel)]="item.daOra"></p>
                  <p class="col-8"> <strong>Ora Fine:</strong> <input type="text" class="form-control" [(ngModel)]="item.aOra"> </p>
                </ng-template>
              </div>

              <!-- Pulsanti fuori dal ciclo ngFor -->
              <div class="buttons-container">
                <button mat-mini-fab color="primary" (click)="salva(data)"> <i class="fa fa-save" ></i> </button> &nbsp;
              </div>
              <br>
            </div>
            <p *ngIf="!data.list || data.list.length === 0">Nessun dettaglio disponibile.<button mat-mini-fab color="primary" (click)="aggiungiCampo()"> <i class="fa fa-plus" ></i> </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
