<html>

<body>

    <h1>Dettaglio Commessa</h1>
    <fieldset>
        <div>
            <label>Cliente: </label>
            <input type="text" value="{{ data?.cliente }}" placeholder={{data?.cliente}} readonly />
        </div>
        <div>
            <label>Cliente Finale: </label>
            <input type="text" value="{{ data?.clienteFinale }}" readonly />
        </div>
        <div>
            <label>Titolo Posizione: </label>
            <input type="text" value="{{ data?.titoloPosizione  }}" readonly />
        </div>

        <div>
            <label>Distacco: </label>
            <input type="text" value="{{ data?.distacco }}" readonly />
        </div>

        <div>
            <label>Costo mese: </label>
            <input type="text" value="{{ data?.costoMese }}" readonly />
        </div>


        <fieldset>
            <legend>Date</legend>
            <div>
                <label>Data Inizio: </label>
                <input type="text" value="{{ this.transformDate(data?.dataInizio)}}" readonly />
            </div>
            <div>
                <label>Data Fine: </label>
                <input type="text" value="{{ this.transformDate(data?.dataFine)}}" readonly />
            </div>
        </fieldset>
        <div>
            <label>Tariffa giornaliera: </label>
            <input type="text" value="{{ data?.tariffaGiornaliera  }}" readonly />
        </div>

        <div>
            <label>Nominativo: </label>
            <input type="text" value="{{ data?.nominativo }}" readonly />
        </div>

        <div>
            <label>Azienda: </label>
            <input type="text" value="{{ data?.azienda }}" readonly />
        </div>

        <div>
            <label>Azienda di fatturazione interna: </label>
            <input type="text" value="{{ data?.aziendaDiFatturazioneInterna}}" readonly />
        </div>

        <div>
            <label>Stato: </label>
            <input type="checkbox" checked="{{ data?.stato }}" disabled="disabled" />
        </div>

        <div>
            <label>Attesa lavori: </label>
            <input type="text" value="{{ data?.attesaLavori}}" readonly />
        </div>
        <button (click)="delete(data.id)">Cancella</button>
        <button [routerLink]="['/lista-commesse']">Torna indietro</button>
        <button [routerLink]="['/modifica-commessa',data?.id]">Modifica</button>
    </fieldset>
</body>

</html>