<html>

<body>
    <form [formGroup]="modificaAnagrafica" (ngSubmit)="aggiorna()">
        <fieldset>
            <legend>Inserisci Dettagli</legend>
            <div>
                <label for="attivo" style="width: 100%;">Attivo</label>
                <input class="form-check-input" type="checkbox" name="attivo" id="inlineCheckbox1"
                    formControlName="attivo" [checked]="data?.attivo" />
            </div>
            <div>
                <label for="aziendaTipo">Azienda: </label>
                <input id="aziendaTipo" type="text" placeholder="{{data?.aziendaTipo}}"
                    formControlName="aziendaTipo">
            </div>
            <div>
                <label for="nome">Nome: </label>
                <input id="nome" type="text" placeholder="{{data?.nome}}" formControlName="nome">
            </div>
            <div>
                <label for="cognome">Cognome: </label>
                <input id="cognome" type="text" placeholder="{{data?.cognome}}" formControlName="cognome">
            </div>
            <div>
                <label for="codiceFiscale">Codice Fiscale: </label>
                <input id="codiceFiscale" type="text" placeholder="{{data?.codiceFiscale}}"
                    formControlName="codiceFiscale">
            </div>
        </fieldset>
        <fieldset>
            <legend>Inserisci i Recapiti</legend>
            <div>
                <label for="cellulareAziendale">Celluare Aziendale: </label>
                <input id="cellulareAziendale" type="text" placeholder="{{data?.cellulareAziendale}}"
                    formControlName="cellulareAziendale">
            </div>
            <div>
                <label for="cellularePrivato">Celluare Privato: </label>
                <input id="cellularePrivato" type="text" placeholder="{{data?.cellularePrivato}}"
                    formControlName="cellularePrivato">
            </div>
            <div>
                <label for="mailAziendale">Email Aziendale: </label>
                <input id="mailAziendale" type="text" placeholder="{{data?.mailAziendale}}"
                    formControlName="mailAziendale">
            </div>
            <div>
                <label for="mailPrivata">Mail Privata: </label>
                <input id="mailPrivata" type="text" placeholder="{{data?.mailPrivata}}"
                    formControlName="mailPrivata">
            </div>
            <div>
                <label for="mailPec">Email PEC: </label>
                <input id="mailPec" type="text" placeholder="{{data?.mailPec}}" formControlName="mailPec">
            </div>
        </fieldset>
        <fieldset>
            <legend>Competenze</legend>
            <div>
                <label for="titoliDiStudio">Titolo di Studio: </label>
                <input id="titoliDiStudio" type="text" placeholder="{{data?.titoliDiStudio}}"
                    formControlName="titoliDiStudio">
            </div>
            <div>
                <label for="altriTitoli">Altri Titoli: </label>
                <input id="altriTitoli" type="text" placeholder="{{data?.altriTitoli}}"
                    formControlName="altriTitoli">
            </div>
        </fieldset>
        <fieldset>
            <legend>Info Extra</legend>
            <div>
                <label for="comuneDiNascita">Comune di Nascita: </label>
                <input id="comuneDiNascita" type="text" placeholder="{{data?.comuneDiNascita}}"
                    formControlName="comuneDiNascita">
            </div>
            <div>
                <div>
                    <label for="dataDiNascita" style="width: 100%">Data di Nascita:</label>
                    <mat-form-field appearance="outline">
                        <input matInput [matDatepicker]="picker" formControlName="dataDiNascita"placeholder="{{ this.transformDate(data?.dataDiNascita) }}" />
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <label for="domicilio">Domicilio: </label>
                <input id="domicilio" type="text" placeholder="{{data?.domicilio}}" formControlName="domicilio">
            </div>
            <div>
                <label for="coniugato" style="width: 100%;">Coniugato</label>
                <input class="form-check-input" type="checkbox" name="coniugato" id="inlineCheckbox1"
                    formControlName="coniugato" [checked]="data?.coniugato" />
            </div>
            <div>
                <label for="figliACarico" style="width: 100%;">figli A Carico</label>
                <input class="form-check-input" type="checkbox" name="figliACarico" id="inlineCheckbox1"
                    formControlName="figliACarico" [checked]="data?.figliACarico" />
            </div>
            <button type="submit" [routerLink]="['../../anagrafica', data?.id]">Salva</button>
            <button [routerLink]="['../../anagrafica', data?.id]">Annulla e torna indietro</button>
        </fieldset>
    </form>

</body>

</html>