img{
  max-height: 50%;
}

*{
  box-sizing: border-box;
}

body{
  background-color: aliceblue;
}

th,td{
  border: 1px solid black;
}

.not-found-container {
  text-align: center;
  padding: 50px;
}

h2 {
  font-size: 3rem;
  color: #f00;
}


p {
  font-size: 1.2rem;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}
