<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <header>
            <h1>Rapportino</h1>
          </header>
        </div>
      </div>
      <br />
      <mat-card>
        <mat-card-content>
          <div class="row">
            <div class="col-6" style="margin: auto; text-align: center">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td><strong>Mese di riferimento</strong></td>
                    <td><strong id="currentMonthYear">{{ currentMonth }} {{ currentYear }}</strong></td>
                    <td style="background-color: purple; color: white">
                      <strong>Giorni utili di lavoro</strong>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>Nome</strong></td>
                    <td>{{ user?.anagrafica?.nome }}</td>
                    <td rowspan="2">Num Giorni</td>
                  </tr>
                  <tr>
                    <td><strong>Cognome</strong></td>
                    <td>{{ user?.anagrafica?.cognome }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-6">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <!-- <td>  <img src="../../../../assets/images/logo.jpeg" alt="Logo Sincrono" > </td> -->
                    <td>{{ user?.anagrafica?.tipoAzienda?.descrizione }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-12">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th style="background-color: purple; color: white">
                      Giorno
                    </th>
                    <th style="background-color: purple; color: white">
                      Cliente
                    </th>
                    <th style="background-color: purple; color: white">
                      Ore ordinarie
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <!--*ngFor="let item of data"-->
                    <td contenteditable="true"></td>
                    <td contenteditable="true"></td>
                    <td contenteditable="true"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </mat-card-content>
        <mat-card-footer>
          <button class="btn btn-success" (click)="inviaRapportino()">
            Invia rapportino <i class="fa fa-save"></i>
          </button>
        </mat-card-footer>
      </mat-card>
    </div>
  </body>
</html>
