<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <header>
            <h1 style="text-align: center;">Rapportino {{ user?.anagrafica?.nome }} {{ user?.anagrafica?.cognome }}</h1>
          </header>
        </div>
      </div>
      <br />
      <mat-card>
        <mat-card-content>
          <div class="row">
            <div class="col-6" style="margin: auto; text-align: center">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td><strong>Mese di riferimento</strong></td>
                    <td><strong id="currentMonthYear">{{ currentMonth }} {{ currentYear }}</strong></td>
                    <td style="background-color: purple; color: white">
                      <strong>Giorni utili di lavoro</strong>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>Nome</strong></td>
                    <td>{{ user?.anagrafica?.nome }}</td>
                    <td rowspan="2">{{rapportinoDto.length}}</td>
                  </tr>
                  <tr>
                    <td><strong>Cognome</strong></td>
                    <td>{{ user?.anagrafica?.cognome }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-6">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <!-- <td>  <img src="../../../../assets/images/logo.jpeg" alt="Logo Sincrono" > </td> -->
                    <td>{{ user?.anagrafica?.tipoAzienda?.descrizione }}   <button style="float: right;" class="btn btn-success" (click)="inviaRapportino()">
                      Invia rapportino <i class="fa fa-save"></i>
                    </button></td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
          <br />

          <div class="row">
            <div class="col-12">
              <table class="table table-striped"  #editableTable>
                <thead>
                  <tr>
                    <th style="background-color: purple; color: white">
                      Giorno
                    </th>
                    <th style="background-color: purple; color: white">
                      Cliente
                    </th>
                    <th style="background-color: purple; color: white">
                      Ore ordinarie
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let giornaliero of rapportinoDto; let i=index">
                    <td contenteditable="true">{{ giornaliero.giorno }}</td>
                    <td contenteditable="true">{{ giornaliero.cliente }}</td>
                    <td contenteditable="true">{{ giornaliero.oreOrdinarie }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </body>
</html>
