body {
  background-color: aliceblue;
}

.container-fluid {
  background-color: aliceblue;
}

* {
  box-sizing: border-box;
}

thead,
tbody {
  border: 1px solid #333;
}



@media only screen and (min-width: 600px) {

  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }

  .col-s-2 {
    width: 16.66%;
  }

  .col-s-3 {
    width: 25%;
  }

  .col-s-4 {
    width: 33.33%;
  }

  .col-s-5 {
    width: 41.66%;
  }

  .col-s-6 {
    width: 50%;
  }

  .col-s-7 {
    width: 58.33%;
  }

  .col-s-8 {
    width: 66.66%;
  }

  .col-s-9 {
    width: 75%;
  }

  .col-s-10 {
    width: 83.33%;
  }

  .col-s-11 {
    width: 91.66%;
  }

  .col-s-12 {
    width: 100%;
  }

  .container-toolbar {
    /* Styles for smaller screens (e.g., mobile devices) */
    background-color: #333;
    /* Change background color */
    padding: 10px;
    /* Add padding around the container */
    text-align: center;
    /* Center the content in the container */
  }

  .logo-link {
    display: block;
    /* Make the logo a block-level element */
    margin: 0 auto;
    /* Center the logo horizontally */
  }

  .logo-image {
    border-radius: 50%;
    width: 60px;
    /* Adjust the logo image size for mobile */
    height: 60px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
  .container-toolbar {
    /* Styles for smaller screens (e.g., mobile devices) */
    background-color: #333;
    /* Change background color */
    padding: 10px;
    /* Add padding around the container */
    text-align: center;
    /* Center the content in the container */
  }

  .logo-link {
    display: block;
    /* Make the logo a block-level element */
    margin: 0 auto;
    /* Center the logo horizontally */
  }

  .logo-image {
    border-radius: 50%;
    width: 60px;
    /* Adjust the logo image size for mobile */
    height: 60px;
  }
  /* Altri stili specifici per schermi di medie dimensioni */
  .col-6 {
    width: 100%;
    float: none;
  }

  .banner img {
    max-width: 100%;
  }
}

/* Stili specifici per schermi di piccole dimensioni (dispositivi mobili) */
@media (max-width: 480px) {
  .container-toolbar {
    /* Styles for smaller screens (e.g., mobile devices) */
    background-color: #333;
    /* Change background color */
    padding: 10px;
    /* Add padding around the container */
    text-align: center;
    /* Center the content in the container */
  }

  .logo-link {
    display: block;
    /* Make the logo a block-level element */
    margin: 0 auto;
    /* Center the logo horizontally */
  }

  .logo-image {
    border-radius: 50%;
    width: 60px;
    /* Adjust the logo image size for mobile */
    height: 60px;
  }

  body {
    font-size: 14px;
  }

  /* Altri stili specifici per schermi di piccole dimensioni */
  .container-fluid {
    padding: 10px;
  }

  .custom-list-item {
    padding: 10px;
  }
}

@media only screen and (min-width: 768px) {

  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}

/* Stile generale per le tabelle */
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 20px;
}

.table-responsive {
  overflow-x: auto;
}

.buttons {
  text-align: center;
}

.profile-pic-container {
  display: flex;
  align-items: center;
  /* Vertically center */
  justify-content: center;
  /* Horizontally center */
}

.image-preview {
  position: relative;
  overflow: hidden;
  // border: 2px solid #fff;
}

.profile-box {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.image-container {
  text-align: center;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.add-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  color: #007bff;
  z-index: 2;
}

.add-button:hover {
  color: #0056b3;
}

.image-preview {
  position: relative;
  overflow: hidden;
}

.image-container.rounded {
  width: 60%;
}


.preview-image {
  width: 100%;
  height: auto;
  border-radius: 100%;
  max-width: 100%;
}

.dark-mode .preview-image {
  width: 100%;
  height: auto;
  border-radius: 100%;
  border: 1px solid white;
  max-width: 100%;
}


.cancel-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 20px;
  color: white;
  background-color: #ff0000;
  z-index: 1;
}

#sezione-immagine {
  // background-image: url('/assets/images/logoSincronoCompleto.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}



/* styles.css o nel tuo componente-specifico.css */
.dark-mode * {
  background-color: #333;
  color: #fff;
}

.dark-mode body {
  background-color: #333;
  color: #fff;
}

.dark-mode mat-card {
  background-color: #333;
  color: #fff;
  border: 1px solid #f1f1f1;
}

.dark-mode input,
.dark-mode textarea,
.dark-mode select {
  background-color: #444;
  color: #fff;
}

.dark-mode table {
  border-color: #555;
}

.dark-mode th,
.dark-mode td {
  border-color: #f2f2f2;
  background-color: #333;
  color: #f1f1f1;
}

.dark-mode button,
.dark-mode .btn {
  background-color: #333;
  color: #fff;
}


.dark-mode .pagination {
  background-color: #333;
}

.dark-mode .pagination li {
  border: 1px solid #555;
}

.dark-mode .pagination li.disabled {
  background-color: #444;
  color: #666;
  border: 1px solid #555;
}

.dark-mode .pagination li.active {
  background-color: #333;
  color: #fff;
  border: 1px solid #007bff;
}

.dark-mode .pagination li:hover {
  background-color: #555;
  color: #fff;
  border: 1px solid #666;
}

.dark-mode #toolbar {
  color: #ffffff;
  /* Testo bianco */
  display: flex;
  background-color: #333;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #f3f3f3;

}

/* Stili comuni per i bottoni */
button.toggle-button {
  padding: 8px 16px;
  margin: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Stili specifici per dark mode */
.dark-mode button.toggle-button {
  background-color: #333;
  color: #fff;
  /* Altri stili specifici per il dark mode per il bottone di toggle */
}

.link {
  color: #007bff;
  cursor: pointer;
}

.dark-mode .link {
  color: aquamarine;
  cursor: pointer;
}


//tabelle mobile

/* Stili predefiniti della tabella */
.responsive-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 16px;
}

.responsive-table th,
.responsive-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.responsive-table th,
.responsive-table td {
  display: block;
  width: 100%;
  box-sizing: border-box;
}


.fa-euro-sign::before {
  content: "\20AC";
  /* Codice dell'euro */
}

.commessa-card {
  height: 50%;
}