<html>

<head>
  <title>Home</title>
</head>
<style>
  #toolbar {
    background-color: #007bff;
    /* Colore blu aziendale */
    color: #ffffff;
    /* Testo bianco */
    display: flex;
    background-color: #333;
    justify-content: space-between;
    /* Allinea gli elementi a sinistra e a destra */
    align-items: center;
    /* Allinea verticalmente gli elementi al centro */
  }

  .logo-link {
    margin-right: 10px;
  }

  .toolbar-menu {
    display: flex;
    gap: 10px;
    background-color: #333;
    margin-right: auto;
  }

  .toolbar-link {
    text-decoration: none;
    color: #ffffff;
    /* padding: 10px; */
  }

  a {
    color: white;
  }

  .toolbar-link:hover {
    color: #d8d8d8;
  }

  .user-icon,
  .logout-icon {
    color: #ffffff;
    cursor: pointer;
  }


  #toolbar {
    background-color: #007bff;
    /* Colore blu aziendale */
    color: #ffffff;
    /* Testo bianco */
    display: flex;
    background-color: #333;
    justify-content: space-between;
    /* Allinea gli elementi a sinistra e a destra */
    align-items: center;
    /* Allinea verticalmente gli elementi al centro */
  }

  .logo-link {
    margin-right: 10px;
  }

  .toolbar-menu {
    display: flex;
    gap: 10px;
    background-color: #333;
    margin-right: auto;
  }

  .toolbar-link {
    text-decoration: none;
    color: #ffffff;
    /* padding: 10px; */
  }

  a {
    color: white;
  }

  .toolbar-link:hover {
    color: #d8d8d8;
  }

  .user-icon,
  .logout-icon {
    color: #ffffff;
    cursor: pointer;
  }
</style>

<body>
  <div class="container-toolbar" [hidden]="tokenProvvisorio != null && tokenProvvisorio == null">
    <mat-toolbar id="toolbar" *ngIf="token && !mobile">
      <a [routerLink]="['/home']" class="logo-link">
        <img class="logo-image" width="40" height="40" src="../../../../assets/images/logo.jpeg" alt="Logo">
      </a>
      <div class="toolbar-menu" *ngIf="jsonData && jsonData.list">
        <a (click)="getPermissions(menuItem.id)" style="color: white;" class="toolbar-link"
          *ngFor="let menuItem of jsonData.list" [routerLink]="[menuItem.percorso]">
          {{ menuItem.nome }}
        </a>
      </div>
      <span style="cursor: pointer;" mat-icon-button [routerLink]="['/profile-box']" class="user-icon">
        <small *ngIf="userRoleNav===false">{{userLoggedName}} {{userLoggedSurname}} (Admin) &nbsp;</small>
        <small *ngIf="userRoleNav===true">{{userLoggedName}} {{userLoggedSurname}} (Dipendente) &nbsp;</small> <i
          class="fa fa-user"></i>
      </span> &nbsp;&nbsp;
      <span style="cursor: pointer;" mat-icon-button (click)="logout()" class="logout-icon">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
      </span>
    </mat-toolbar>
  </div>

  <div class="container-toolbar" [hidden]="tokenProvvisorio != null && tokenProvvisorio == null">
    <mat-toolbar id="toolbar" *ngIf="token && mobile">
      <a [routerLink]="['/home']" class="logo-link">
        <img class="logo-image" width="40" height="40" src="../../../../assets/images/logo.jpeg" alt="Logo">
      </a>
      <button style=" background-color:white;color:black;margin-right: 10px;" mat-button [matMenuTriggerFor]="menu">
        Menu
      </button>
      <mat-menu #menu="matMenu">
        <button style="background-color:white;color:black" mat-menu-item *ngFor="let menuItem of jsonData.list"
          [routerLink]="[menuItem.percorso]" (click)="getPermissions(menuItem.id)">
          {{ menuItem.nome }}
        </button>
      </mat-menu>
      <span style="cursor: pointer;" mat-icon-button [routerLink]="['/profile-box']" class="user-icon">
        <small *ngIf="userRoleNav===false">{{userLoggedName}} {{userLoggedSurname}} (Admin) &nbsp;</small>
        <small *ngIf="userRoleNav===true">{{userLoggedName}} {{userLoggedSurname}} (Dipendente) &nbsp;</small>
        <i class="fa fa-user"></i>
      </span> &nbsp;&nbsp;
      <span style="cursor: pointer;" mat-icon-button (click)="logout()" class="logout-icon">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
      </span>
    </mat-toolbar>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <br>
        <mat-card style="text-align: center;">
          <h1><img src="../../../../assets/images/logoSincronoCompleto.png" alt="Logo Sincrono"></h1>
          <h1>Profilo</h1>
        </mat-card>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12">
        <div class="profile-box-container">
          <br />
          <div class="row"  >
            <div class="col-12"  id="sezione-immagine">
              <div class="image-container" >
                <div class="image-container rounded">
                  <label style="float: right;" for="fileInput" class="file-input-label" *ngIf="!immagineCancellata && immagineConvertita">
                    <i class="fa fa-pencil" style="cursor: pointer;" matTooltip=" Modifica immagine" ></i>
                  </label>
                  <input [hidden]="immagineConvertita" type="file" #fileInput accept="image/*" id="fileInput" (change)="onFileSelected($event)" />
                  <div class="image-preview" *ngIf="immagineConvertita">
                    <img [src]="immagineConvertita" alt="Immagine" class="preview-image" />
                  </div>
                  <div class="image-preview" *ngIf="!immagineConvertita">
                    <img [src]="immaginePredefinita" alt="Immagine" class="preview-image" />
                  </div>
                </div>
              </div>
              <button (click)="addImage()" matTooltip="Salva immagine" *ngIf="salvaImmagine" class="btn btn-primary"> <i class="fa fa-save"></i></button>
              <button (click)="cancelImage()" matTooltip="Annulla" *ngIf="salvaImmagine" class="btn btn-danger">&#x2715;</button>
            </div>
          </div>

          <br>
          <div class="row">
            <div class="col-6">
              <mat-card class="profile-box">
                <h3>Dati anagrafici dell'utente</h3>
                <table class="table table-bordered">
                  <tr>
                    <th>Nome:</th>
                    <td>{{ anagrafica?.anagraficaDto.anagrafica?.nome }}</td>
                  </tr>
                  <tr>
                    <th>Cognome:</th>
                    <td>{{ anagrafica?.anagraficaDto.anagrafica?.cognome }}</td>
                  </tr>
                  <tr *ngIf="anagrafica?.anagraficaDto.anagrafica?.dataDiNascita != null">
                    <th>Data e luogo di nascita:</th>
                    <td>
                      {{
                        anagrafica?.anagraficaDto.anagrafica?.dataDiNascita | date : "dd/MM/yyyy"
                      }},
                      {{ anagrafica?.anagraficaDto.anagrafica?.comuneDiNascita }}
                    </td>
                  </tr>
                  <tr *ngIf="anagrafica?.anagraficaDto.anagrafica?.dataDiNascita == null">
                    <th>Data e luogo di nascita:</th>
                    <td>Dato non inserito.</td>
                  </tr>
                  <tr>
                    <th>Codice fiscale:</th>
                    <td>{{ anagrafica?.anagraficaDto.anagrafica?.codiceFiscale }}</td>
                  </tr>
                </table>
              </mat-card>

            </div>
            <div class="col-6">
              <mat-card class="profile-box">
                <h3>Contatti</h3>
                <table class="table table-bordered">
                  <tr>
                    <th>Cellulare aziendale:</th>
                    <td>{{ anagrafica?.anagraficaDto.anagrafica?.cellulareAziendale ? anagrafica?.anagraficaDto.anagrafica?.cellulareAziendale : 'Dato non inserito' }}</td>
                  </tr>
                  <tr>
                    <th>Cellulare privato:</th>
                    <td>{{ anagrafica?.anagraficaDto.anagrafica?.cellularePrivato }}</td>
                  </tr>
                  <tr>
                    <th>Mail aziendale:</th>
                    <td>{{ anagrafica?.anagraficaDto.anagrafica?.mailAziendale }}</td>
                  </tr>
                  <tr>
                    <th>Mail privata:</th>
                    <td>{{ anagrafica?.anagraficaDto.anagrafica?.mailPrivata }}</td>
                  </tr>
                  <tr *ngIf="anagrafica?.anagraficaDto.anagrafica?.mailPec != null">
                    <th>Mail PEC:</th>
                    <td>{{ anagrafica?.anagraficaDto.anagrafica?.mailPec }}</td>
                  </tr>
                  <tr *ngIf="anagrafica?.anagraficaDto.anagrafica?.mailPec == null">
                    <th>Mail PEC:</th>
                    <td>Dato non inserito.</td>
                  </tr>
                </table>
              </mat-card>
            </div>
          </div>
        </div>
        <br />
        <div class="profile-box-container">
          <div class="row">
            <div class="col-6">
              <mat-card class="profile-box">
                <h3>Residenza e domicilio</h3>
                <table class="table table-bordered">
                  <tr>
                    <th>Comune di residenza</th>
                    <td>{{ anagrafica?.anagraficaDto.anagrafica?.residenza }}</td>
                  </tr>
                  <tr>
                    <th>Comune di domicilio</th>
                    <td>{{ anagrafica?.anagraficaDto.anagrafica?.domicilio }}</td>
                  </tr>
                </table>
              </mat-card>
            </div>
            <div class="col-6">
              <mat-card class="profile-box">
                <h3>Referenze</h3>
                <table class="table table-bordered">
                  <tr>
                    <th>Titoli di studio</th>
                    <td>{{ anagrafica?.anagraficaDto.anagrafica?.titoliDiStudio }}</td>
                  </tr>
                  <tr>
                    <th>Altri titoli</th>
                    <td>{{ anagrafica?.anagraficaDto.anagrafica?.altriTitoli }}</td>
                  </tr>
                </table>
              </mat-card>
            </div>
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col-12">
            <mat-card class="profile-box">
              <h3>Contratto</h3>
              <table class="table table-bordered">
                <!-- <tr>
                  <th>Tipo Causa Fine Rapporto:</th>
                  <td>{{ anagrafica?.anagraficaDto?.contratto?.tipoCausaFineRapporto ? anagrafica?.anagraficaDto?.contratto?.tipoCausaFineRapporto : 'Dato non inserito' }}</td>
                </tr> -->
                <tr>
                  <th>Tipo Canale Reclutamento:</th>
                  <td>{{ anagrafica?.anagraficaDto?.contratto?.tipoCanaleReclutamento?.descrizione ? anagrafica?.anagraficaDto?.contratto?.tipoCanaleReclutamento?.descrizione : 'Dato non inserito' }}</td>
                </tr>
                <tr>
                  <th>Tipo Contratto:</th>
                  <td>{{ anagrafica?.anagraficaDto?.contratto?.tipoContratto?.descrizione ? anagrafica?.anagraficaDto?.contratto?.tipoContratto?.descrizione : 'Dato non inserito' }}</td>
                </tr>
                <tr>
                  <th>Tipo Livello Contratto (CCNL):</th>
                  <td>{{ anagrafica?.anagraficaDto?.contratto?.tipoLivelloContratto?.ccnl ? anagrafica?.anagraficaDto?.contratto?.tipoLivelloContratto?.ccnl : 'Dato non inserito' }}</td>
                </tr>
                <tr>
                  <th>Minimi Ret23:</th>
                  <td>{{ anagrafica?.anagraficaDto?.contratto?.tipoLivelloContratto?.minimiRet23 ? anagrafica?.anagraficaDto?.contratto?.tipoLivelloContratto?.minimiRet23 : 'Dato non inserito' }}</td>
                </tr>
                <tr>
                  <th>Tipo CCNL:</th>
                  <td>{{ anagrafica?.anagraficaDto?.contratto?.tipoCcnl?.descrizione ? anagrafica?.anagraficaDto?.contratto?.tipoCcnl?.descrizione : 'Dato non inserito' }}</td>
                </tr>
                <tr>
                  <th>Attivo:</th>
                  <td>{{ anagrafica?.anagraficaDto?.contratto?.attivo ? 'Sì' : 'No' }}</td>
                </tr>
                <tr>
                  <th>Qualifica:</th>
                  <td>{{ anagrafica?.anagraficaDto?.contratto?.qualifica ? anagrafica?.anagraficaDto?.contratto?.qualifica : 'Dato non inserito' }}</td>
                </tr>
                <tr>
                  <th>Sede Assunzione:</th>
                  <td>{{ anagrafica?.anagraficaDto?.contratto?.sedeAssunzione ? anagrafica?.anagraficaDto?.contratto?.sedeAssunzione : 'Dato non inserito' }}</td>
                </tr>
                <tr>
                  <th>Data assunzione:</th>
                  <td>{{ anagrafica?.anagraficaDto?.contratto?.dataAssunzione | date:'dd/MM/yyyy' || 'Dato non inserito' }}</td>
                </tr>
                <tr>
                  <th>Data Fine Prova:</th>
                  <td>{{ anagrafica?.anagraficaDto?.contratto?.dataFineProva | date:'dd/MM/yyyy' || 'Dato non inserito' }}</td>
                </tr>
                <tr>
                  <th>Data Fine Rapporto:</th>
                  <td>{{ anagrafica?.anagraficaDto?.contratto?.dataFineRapporto | date:'dd/MM/yyyy' || 'Dato non inserito' }}</td>
                </tr>
                <tr>
                  <th>Mesi Durata:</th>
                  <td>{{ anagrafica?.anagraficaDto?.contratto?.mesiDurata ? anagrafica?.anagraficaDto?.contratto?.mesiDurata : 'Dato non inserito' }}</td>
                </tr>
              </table>
            </mat-card>
          </div>
        </div>

        <br>
        <div class="profile-box-container">
          <div class="row">
            <div class="col-6">
              <mat-card class="profile-box">
                <h3>Accesso</h3>
                <table class="table table-bordered">
                  <tr>
                    <th>Attivo:</th>
                    <td>{{ anagrafica?.anagraficaDto.anagrafica?.attivo ? 'Si' : 'No' }}</td>
                  </tr>
                  <tr>
                    <th>Nome utente:</th>
                    <td>{{ anagrafica?.anagraficaDto.anagrafica?.mailAziendale }}</td>
                  </tr>
                  <tr>
                    <th>Cambia password:</th>
                    <td style="cursor: pointer; color: blue; " [routerLink]="['/cambia-password']" >
                    Cambia password
                    </td>
                  </tr>
                </table>
              </mat-card>
            </div>
            <div class="col-6">
              <mat-card class="profile-box">
                <h3>Altre informazioni</h3>
                <table class="table table-bordered">
                  <tr>
                    <th>Coniugato:</th>
                    <td>{{ anagrafica?.anagraficaDto.anagrafica?.coniugato ? 'Si' : 'No' }}</td>
                  </tr>
                  <tr>
                    <th>Figli a carico:</th>
                    <td>{{ anagrafica?.anagraficaDto.anagrafica?.figliACarico ? 'Si' : 'No' }}</td>
                  </tr>
                </table>
              </mat-card>
            </div>
          </div>
        </div>

        <div class="profile-box-container">
          <div class="row">
            <div class="col-6">
              <mat-card class="profile-box">
                <mat-card-title>
                  <h3>Documentazioni</h3>
                </mat-card-title>
                <mat-card-content>
                  <mat-list role="list" class="custom-list">
                    <mat-list-item role="listitem" class="custom-list-item">
                      <h3>Rapportino <button class="btn btn-success" (click)="goToRapportinoByCodiceFiscale()"
                          matTooltip="Rapportino."> <i class="fa fa-file"></i> </button></h3>
                    </mat-list-item>
                  </mat-list>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
