<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>Lista Anagrafiche</h1>
    </div>
  </div>



  <button class="btn btn-success" style="background-color: rgb(24, 122, 0); color: white;"
  [routerLink]="['/nuova-anagrafica']">Inserisci Nuova Anagrafica</button> <!--dark btn-sm rounded-pill shadow-sm-->
<br>
<br>

<mat-expansion-panel>
<mat-expansion-panel-header (click)="mostraFiltri = !mostraFiltri">

      {{ mostraFiltri ? 'Nascondi filtri' : 'Mostra filtri' }}
     </mat-expansion-panel-header>

<ng-template matExpansionPanelContent>
  <div *ngIf="mostraFiltri">
    <form [formGroup]="filterAnagraficaDto" (ngSubmit)="filter()">
        <div class="container">
            <div formGroupName="anagrafica">
                <div class="row">
                    <div class="col-md-3">
                      <div class="form-group" >
                        <label for="filter-name">Nome:</label>
                        <input type="text" id="filter-Nome" class="form-control" formControlName="nome">
                      </div>

                    </div>
                    <div class="col-md-3">
                      <div class="form-group" >
                        <label for="filter-name">Cognome:</label>
                        <input type="text" id="filter-Nome" class="form-control" formControlName="cognome">
                      </div>

                    </div>
                    <div class="col-md-3">
                      <div class="form-group" >
                        <label for="filter-name">Tipo Azienda:</label>
                        <input type="text" id="filter-Nome" class="form-control" formControlName="aziendaTipo">
                      </div>

                    </div>
                    <div class="col-md-3">
                      <div class="form-group" >
                        <input class="form-check-input" type="checkbox" id="exampleCheckbox"
                        formControlName="attivo">
                    <label class="form-check-label" for="exampleCheckbox">
                        Attivo
                    </label>
                      </div>

                    </div>
                </div>
            </div>

            <div formGroupName="commessa">
                <div class="row">
                    <div class="col-md-3">
                        <label for="filter-name">Nominativo:</label>
                        <input type="text" id="filter-Nome" class="form-control" formControlName="nominativo">
                    </div>
                    <div class="col-md-3">
                        <label for="filter-name">Cliente:</label>
                        <input type="text" id="filter-Nome" class="form-control" formControlName="cliente">
                    </div>
                    <div class="col-md-3">
                        <label for="filter-name">Azienda:</label>
                        <input type="text" id="filter-Nome" class="form-control" formControlName="azienda">
                    </div>
                </div>
            </div>
            <div formGroupName="contratto">
                <div class="row">
                    <div class="col-md-3">
                        <label for="filter-name">ralAnnua:</label>
                        <input type="text" id="filter-Nome" class="form-control" formControlName="ralAnnua">
                    </div>
                    <div class="col-md-3">
                        <label for="dataAssunzione">Data Assunzione</label>
                        <mat-form-field appearance="outline">
                            <input matInput [matDatepicker]="picker" formControlName="dataAssunzione"
                                placeholder="Inserisci la data di assunzione" class="form-control"
                                formControlName="dataAssunzione" />
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <label for="dataFineRapporto">Data Fine Rapporto</label>
                        <mat-form-field appearance="outline">
                            <input matInput [matDatepicker]="picker1" formControlName="dataFineRapporto"
                                placeholder="Inserisci la data di fine rapporto" class="form-control"
                                formControlName="dataFineRapporto" />
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div formGroupName="tipoContratto">
                            <label for="filter-TipoContratto">Tipo Contratto:</label>
                            <select class="form-control" id="tipoContratto" formControlName="descrizione">
                                <option value="">--nessuna selezione--</option>
                                <option *ngFor="let tipoContratto of tipiContratti"
                                    value="{{tipoContratto.descrizione}}">
                                    {{tipoContratto.descrizione}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div formGroupName="tipoCcnl">
                            <label for="filter-TipoCcnl">Tipo Contratto Nazionale:</label>
                            <select class="form-control" id="tipoCcnl" formControlName="descrizione" type="number">
                                <option value="">--nessuna selezione--</option>
                                <option *ngFor="let tipoCcnl of tipiCcnl" value="{{tipoCcnl.descrizione}}">
                                    {{tipoCcnl.descrizione}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div formGroupName="tipoAzienda">
                            <label for="filter-TipoAzienda">Tipo Azienda:</label>
                            <select class="form-control" id="tipoAzienda" formControlName="descrizione" type="number">
                                <option value="">--nessuna selezione--</option>
                                <option *ngFor="let tipoAzienda of tipiAziende" value="{{tipoAzienda.descrizione}}">
                                    {{tipoAzienda.descrizione}}</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                          <br>
                            <button id="filter-Button" class="btn btn-success"
                                style="background-color: rgb(24, 122, 0); color: white;">Filtra</button> &nbsp; <!--dark btn-sm rounded-pill shadow-sm-->
                            <button (click)="annullaFiltri()" id="filter-Button"
                                class="btn btn-info">Annulla filtri </button>
                        </div> <!--dark btn-sm rounded-pill shadow-sm  style="background-color: rgb(24, 122, 0); color: white;"-->
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>      </ng-template>
</mat-expansion-panel>
<br>

<div class="row">
<div class="col-12">
  <div class="table-responsive">
    <table id="table" class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <!-- <th scope="col" >Inserimento parziale</th> -->
          <th scope="col">Nome</th>
          <th scope="col">Cognome</th>
          <th scope="col">Codice Fiscale</th>
          <th scope="col">Azienda</th>
          <th scope="col">Contratto attivo</th>
          <th scope="col">Contratto in scadenza</th>
          <th scope="col">Azioni</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of lista">
          <!-- <td *ngIf="inserimentoParziale" style="background-color: rgb(243, 243, 143); color: black;" [routerLink]="['/dettaglio-anagrafica', element?.anagrafica.id]" > Si </td> -->
          <!-- <td  *ngIf="!inserimentoParziale" style="background-color: rgb(121, 216, 121); color: black;"> No </td> -->
          <td>{{ element?.anagrafica.nome |titlecase }}</td>
          <td>{{ element?.anagrafica.cognome |titlecase }}</td>
          <td>{{ element?.anagrafica.codiceFiscale |uppercase }}</td>
          <td>{{ element?.anagrafica.aziendaTipo |titlecase }}</td>
          <td style="background-color: rgb(121, 216, 121); color: black;" *ngIf="element?.contratto.attivo">Si</td>
          <td style="background-color: rgb(242, 123, 123); color: white;" *ngIf="!element?.contratto.attivo">No</td>
          <td style="background-color: rgb(242, 123, 123); color: white;" *ngIf="element?.inScadenza && element?.contratto.dataFineRapporto !=null" matTooltip="{{element?.contratto.dataFineRapporto | date:'fullDate' }}" [routerLink]="['/dettaglio-anagrafica', element?.anagrafica.id]">Si   ({{ element?.contratto.dataFineRapporto | date:'fullDate' }})  </td>
          <td style="background-color: rgb(243, 243, 143); color: black;" *ngIf="element?.inScadenza && element?.contratto.dataFineRapporto ===null" [routerLink]="['/dettaglio-anagrafica', element?.anagrafica.id]">Data fine rapporto non inserita.</td>
          <td *ngIf="element?.contratto.dataFineRapporto <= currentDate && element?.contratto.dataFineRapporto != null" style="background-color: rgb(242, 123, 123); color: white;">Contratto scaduto il {{ element?.contratto.dataFineRapporto | date:'fullDate' }}
          </td>
          <td style="background-color: rgb(121, 216, 121); color: black;" *ngIf="!element?.inScadenza">No.</td>
          <td>
            <span style="margin:5px;">
              <a [routerLink]="['/dettaglio-anagrafica', element?.anagrafica.id]"><button class="btn btn-info"><i class="fa fa-info"></i></button></a>
            </span>
            <span style="margin:5px;">
              <button class="btn btn-warning" [routerLink]="['/modifica-anagrafica', element?.anagrafica.id]"><i class="fa fa-pencil"></i></button>
            </span>
            <span style="margin:5px;">
              <button class="btn btn-danger" (click)="elimina(element.anagrafica.id)"><i class="fa fa-trash"></i></button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

</div>
</div>
</div>


</div>
