.alert {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border: 1px solid #f5c6cb;
}

input:invalid {
  border-color: red;
}
#button{
  background-color: green;
}

.dark-mode #button{
  background-color: #333;
}

body {
  background-color: aliceblue;
}

.container-fluid {
  background-color: aliceblue;
}


table,
th,
td {
  text-align: center;
  font-size: 12px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

// paginazione light mode
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pagination ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.pagination li.disabled {
  pointer-events: none;
  background-color: #f5f5f5;
  color: #ccc;
  border: 1px solid #ccc;
}

.pagination li.active {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}

.pagination li:hover {
  background-color: #ccc;
  color: #333;
  border: 1px solid #333;
}

//paginazione dark mode

.pagination .dark-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pagination ul .dark-mode {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.pagination li .dark-mode{
  margin: 0 5px;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #555; /* Cambia il colore del bordo */
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.pagination li.disabled .dark-mode{
  pointer-events: none;
  background-color: #444; /* Cambia il colore di sfondo */
  color: #555; /* Cambia il colore del testo */
  border: 1px solid #555;
}

.pagination li.active .dark-mode{
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}

.pagination li:hover .dark-mode {
  background-color: #555;
  color: #fff;
  border: 1px solid #fff; /* Cambia il colore del bordo durante il passaggio del mouse */
}

/* Stili per il check giallo */
.yellow-check {
  background-color: yellow;
  width: 20px;
  /* Larghezza personalizzabile */
  height: 20px;
  /* Altezza personalizzabile */
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
}

.dark-mode p{
  color: white;
}

.dark-mode #toolbar {
  color: #ffffff;
  /* Testo bianco */
  display: flex;
  background-color: #333;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #f3f3f3;

}


.dark-mode .pagination {
  background-color: #333;
}

.dark-mode .pagination li {
  border: 1px solid #555;
}

.dark-mode .pagination li.disabled {
  background-color: #444;
  color: #666;
  border: 1px solid #555;
}

.dark-mode .pagination li.active {
  background-color: #333;
  color: #fff;
  border: 1px solid #007bff;
}

.dark-mode .pagination li:hover {
  background-color: #555;
  color: #fff;
  border: 1px solid #666;
}

/* Stili per il check verde */
.green-check {
  background-color: green;
  width: 20px;
  /* Larghezza personalizzabile */
  height: 20px;
  /* Altezza personalizzabile */
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  color: white;
  /* Colore del testo */
}

.green-background {
  background-color: green;
}

.red-background {
  background-color: red;
}

.fixed-button-container {
  position: fixed;
  bottom: 40px;
  right: 15px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.fixed-button-container button {
  margin: 5px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 100%;
}
/* Light mode */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  transition: background-color 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: background-color 0.4s;
}

/* Dark mode */
body.dark-mode .switch .slider {
  background-color: #555;
}

body.dark-mode .switch .slider:before {
  background-color: #fff;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Checkbox disabilitata */
input[type="checkbox"]:disabled {
  border: 2px solid #ccc;
  background-color: #ffffff;
}

/* Icona della checkbox disabilitata */
input[type="checkbox"]:disabled + .slider::before {
  background-color: #ffffff;
}



/* styles.css o nel tuo componente-specifico.css */
.dark-mode *{
  background-color: #333;
  color: #fff;
}

.dark-mode input::placeholder {
  color: #ddd; /* Colore del placeholder nei temi scuri */
}

.dark-mode mat-card {
  background-color: #333;
  color: #fff;
  border: 1px solid #f1f1f1;
}

/* Stili specifici per dark mode */
.dark-mode input {
  background-color: #333; /* Colore di sfondo scuro per gli input */
  color: #fff; /* Colore del testo chiaro per gli input */
}

/* Stili comuni per gli input */
input {
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Stili comuni per i placeholder */
input::placeholder {
  color: #888; /* Colore del placeholder nei temi chiari */
}





.dark-mode table {
  border-color: #555;
}

.dark-mode th, .dark-mode td {
  border-color: #777;
  background-color: #333;
  color: #fff;
}

.dark-mode button, .dark-mode .btn {
  background-color: #333;
  color: #fff;
}

/* Stili comuni per i bottoni */
button.toggle-button {
  padding: 8px 16px;
  margin: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Stili specifici per dark mode */
.dark-mode button.toggle-button {
  background-color: #333;
  color: #fff;
  /* Altri stili specifici per il dark mode per il bottone di toggle */
}

/* Stili comuni per mat-list */
mat-list {
  width: 100%;
}

/* Stili comuni per mat-list-item */
mat-list-item {
  padding: 16px;
  border-bottom: 1px solid #ddd; /* Aggiungi una sottolineatura tra gli elementi della lista */
}

/* Stili comuni per gli anchor (link) all'interno di mat-list-item */
mat-list-item a {
  color: inherit; /* Eredità del colore del testo dallo stile del padre */
  text-decoration: none; /* Rimuovi la sottolineatura dei link */
}

/* Stili specifici per dark mode per mat-list e mat-list-item */
.dark-mode mat-list {
  background-color: #333; /* Colore di sfondo scuro per la lista */
  color: #fff; /* Colore del testo chiaro per la lista */
}

.dark-mode mat-list-item {
  border-color: #555; /* Colore del bordo scuro per gli elementi della lista */
  background-color: #444; /* Colore di sfondo scuro per gli elementi della lista */
  color: #fff; /* Colore del testo chiaro per gli elementi della lista */
}

.dark-mode mat-list-item a {
  color: #fff; /* Colore del testo chiaro per i link in dark mode */
}

.dark-mode mat-expansion-panel{
  border: 1px solid #f1f1f1;
}
