<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>Lista Anagrafiche</h1>
    </div>
  </div>



  <button class="btn btn-success" style="background-color: rgb(24, 122, 0); color: white;"
  [routerLink]="['/nuova-anagrafica']">Inserisci Nuova Anagrafica <i class="fa fa-plus"></i> </button> <!--dark btn-sm rounded-pill shadow-sm-->
<br>
<br>

<mat-expansion-panel>
<mat-expansion-panel-header (click)="mostraFiltri = !mostraFiltri">

      {{ mostraFiltri ? 'Nascondi filtri' : 'Mostra filtri' }}
     </mat-expansion-panel-header>

<ng-template matExpansionPanelContent>
  <div *ngIf="mostraFiltri">
    <form [formGroup]="filterAnagraficaDto" (ngSubmit)="filter(filterAnagraficaDto.value)">
        <div class="container-filtri">
          <div formGroupName="anagrafica">
            <p>Filtri disponibili per l'anagrafica:</p>
           <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="anagrafica.nome" name="nome" placeholder="Inserire il nome." formControlName="nome">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="cognome">Cognome</label>
                <input type="text" class="form-control" id="anagrafica.cognome" name="cognome" placeholder="Inserire il cognome." formControlName="cognome">
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-group">
                <label for="attivo">Attivo</label> <br>
                <input type="checkbox" class="form-check-input" style="border: 1px solid black;" id="anagrafica.attivo" name="attivo" (change)="onChangeAttivo($event)"  formControlName="attivo" checked>

              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="attivo">Attesa lavori</label> <br>
                <input type="checkbox" class="form-check-input" style="border: 1px solid black;" id="anagrafica.attesaLavori" name="attesaLavori"  formControlName="attesaLavori">
              </div>
            </div>
            <div class="col-3">
              <label for="filter-Tipo Azienda">Nome azienda</label>
              <div class="form-group" formGroupName="tipoAzienda">
                  <select class="form-control" id="anagrafica.tipoAzienda.descrizione" formControlName="descrizione" type="number">
                    <option value="" selected>--nessuna selezione--</option>
                    <option *ngFor="let tipoAzienda of tipiAziende" [value]="tipoAzienda.descrizione">
                      {{ tipoAzienda.descrizione }}
                    </option>
                  </select>
              </div>
            </div>
           </div>
          </div>
          <br>
          <br>
          <div formGroupName="contratto" >
            <p>Filtri disponibili per il contratto:</p>
            <br>
            <div class="row">
              <div class="col-md-3">
                <div formGroupName="tipoLivelloContratto">
                  <label for="filter-LivelloContratto">Tipo livello Contratto</label>
                  <select class="form-control" id="contratto.tipoLivelloContratto.livello" formControlName="livello">
                    <option value="">--nessuna selezione--</option>
                    <option
                      *ngFor="let livello of livelliContratti"
                      [value]="livello.livello"
                    >
                      {{ livello.livello }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-md-3">
                <div formGroupName="tipoContratto">
                  <label for="filter-TipoContratto">Tipo Contratto</label>
                  <select class="form-control" id="contratto.tipoContratto.descrizione" formControlName="descrizione" (change)="onTipoContrattoChange($event)" >
                    <option value="">--nessuna selezione--</option>
                    <option *ngFor="let tipoContratto of tipiContratti" [value]="tipoContratto.descrizione">
                      {{ tipoContratto.descrizione }}
                    </option>
                  </select>
                </div>

              </div>

              <div class="col-md-3">
                <div formGroupName="tipoCcnl">
                  <label for="tipoCcnl">Tipo Contratto nazionale</label>
                  <select
                    class="form-control"
                    id="contratto.tipoCcnl.descrizione"
                    formControlName="descrizione"
                  >
                    <option value="">--nessuna selezione--</option>
                    <option
                      *ngFor="let contrattiNazionale of tipiCcnl"
                      [value]="contrattiNazionale.descrizione"
                    >
                      {{ contrattiNazionale.descrizione }}
                    </option>
                  </select>

                </div>
              </div>
              <div class="col-md-3" formGroupName="tipoAzienda">
                <label for="tipoAzienda">Tipo Azienda</label>
                <select class="form-control" id="contratto.tipoAzienda.descrizione" formControlName="descrizione" type="number">
                  <option value="">--nessuna selezione--</option>
                  <option *ngFor="let tipoAzienda of tipiAziende" [value]="tipoAzienda.descrizione">
                    {{ tipoAzienda.descrizione }}
                  </option>
                </select>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-4">
                <div class="form-group">
                  <label for="ralAnnua">RAL Annua</label>
                  <input type="text" id="contratto.ralAnnua" class="form-control" name="ralAnnua" formControlName="ralAnnua" placeholder="Inserire RAL annua" >
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label for="dataAssunzione">Data assunzione</label>
                  <input type="date" id="contratto.dataAssunzione" class="form-control" name="dataAssunzione" formControlName="dataAssunzione" placeholder="Inserire data assunzione" >
                </div>
              </div>
              <div class="col-4" *ngIf="inseritoContrattoIndeterminato">
                <div class="form-group">
                  <label for="dataFineRapporto">Data fine rapporto</label>
                  <input type="date" id="contratto.dataFineRapporto" class="form-control" name="dataFineRapporto" formControlName="dataFineRapporto" placeholder="Inserire data fine rapporto" >
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-3" formGroupName="tipoCanaleReclutamento">
                <div class="form-group">
                  <label for="filter-tipoCanaleReclutamento">Canale reclutamento*</label>
                  <select class="form-control" id="contratto.tipoCanaleReclutamento.descrizione" formControlName="descrizione" type="number">
                    <option value="">--nessuna selezione--</option>
                    <option *ngFor="let tipoCanaleReclutamento of tipologicaCanaliReclutamento" [value]="tipoCanaleReclutamento.descrizione">
                      {{ tipoCanaleReclutamento.descrizione }}
                    </option>
                  </select>
                </div>

              </div>

              <div class="col-md-3">
                <div class="form-group"  formGroupName="tipoCausaFineRapporto">
                <label>Motivazione Fine Rapporto: </label>
                <select  class="form-control" id="contratto.tipoCausaFineRapporto.descrizione" formControlName="id">
                  <option value="">--nessuna selezione--</option>
                  <option *ngFor="let tipoCausaFineRapporto of motivazioniFineRapporto" [value]="tipoCausaFineRapporto.id">
                    {{ tipoCausaFineRapporto.descrizione }}
                  </option>
                </select>
                </div>
              </div>

            </div>

          </div>
          <br>
          <br>
          <div class="row">
            <p>Filtri per commesse</p>
            <div class="col-3">
              <div formArrayName="commesse">
                <div *ngFor="let commessa of commesse.controls; let i = index">
                  <div [formGroupName]="i">
                    <div class="form-group">
                      <label for="aziendaCliente">Azienda cliente</label>
                    <input type="text" formControlName="aziendaCliente" class="form-control" id="commesse.aziendaCliente" name="aziendaCliente">
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-12" style="margin: auto; text-align: center;" >
              <button class="btn btn-success"  >Cerca <i class="fa fa-search" ></i> </button> &nbsp;
              <button class="btn btn-info" (click)="reset()" >Annulla filtri<i class="fa fa-undo" ></i> </button>
            </div>
          </div>

        </div>
    </form>
</div>
  </ng-template>
</mat-expansion-panel>
<br>
<div class="row" *ngIf="pageData.length===0" >
  <div class="col-12">
    <h3 style="text-align: center; padding: 20px;">La ricerca non ha prodotto risultati.</h3>
  </div>
</div>
<div class="row" *ngIf="pageData.length>0" >
<div class="col-12">
  <div class="table-responsive">
    <table id="table" class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Inserimento <br> parziale</th>
          <th scope="col">Nome</th>
          <th scope="col">Cognome</th>
          <th scope="col">Codice Fiscale</th>
          <th scope="col">Nome azienda</th>
          <th scope="col">Mail aziendale</th>
          <th scope="col">Cell privato</th>
          <th scope="col" >Contratto</th>
          <th scope="col" >Commessa</th>
          <th scope="col" >Attesa lavori</th>
          <th scope="col">Azioni</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of pageData; let i=index" [ngClass]="{ 'green-background': isGreenBackground(element.anagrafica.id), 'red-background': !isGreenBackground(element.anagrafica.id)}">
          <td [routerLink]="['/dettaglio-anagrafica/',element.anagrafica.id]" [ngStyle]="{'border': isCampoVuoto(element) ? '1px solid red' : '1px solid green'}" >
            <div>
              <span [ngClass]="{'text-danger': isCampoVuoto(element), 'text-success': !isCampoVuoto(element)}">
                {{ isCampoVuoto(element) ? 'Si' : 'No' }}
              </span>
            </div>
          </td>
          <td>{{ element.anagrafica?.nome |titlecase }}</td>
          <td>{{ element.anagrafica?.cognome |titlecase }}</td>
          <td>{{ element.anagrafica?.codiceFiscale |uppercase }}</td>
          <td>{{ element.anagrafica?.tipoAzienda?.descrizione |titlecase }}</td>
          <td>{{ element.anagrafica?.mailAziendale  }}</td>
          <td>{{ element.anagrafica?.cellularePrivato ? element.anagrafica.cellularePrivato: 'Non inserito'  }}</td>
          <td *ngIf="element.contratto?.tipoContratto?.descrizione!='#'">
            {{element.contratto?.tipoContratto?.descrizione ? element.contratto?.tipoContratto?.descrizione : 'Non inserito'}}
          </td>
          <td *ngIf="element.contratto?.tipoContratto?.descrizione==='#'" >
            Generico
          </td>
          <td [ngStyle]="{'color': element?.commesse?.length > 0 ? 'green' : 'red'}">
            {{ element?.commesse?.length > 0 ? 'Inserita' : 'Non inserita' }}
          </td>
          <td>
            {{element.commesse.attesaLavori ? 'Si' : 'No'}}
          </td>
          <td>
            <span style="margin:5px;">
              <a [routerLink]="['/dettaglio-anagrafica', element?.anagrafica.id]"><button class="btn btn-info"><i class="fa fa-info"></i></button></a>
            </span>
            <span style="margin:5px;">
              <button class="btn btn-warning" [routerLink]="['/modifica-anagrafica', element.anagrafica.id]"><i class="fa fa-pencil"></i></button>
            </span>
            <span style="margin:5px;" *ngIf="element.anagrafica.attivo==true">
              <button [disabled]="anagraficaLoggata===element.anagrafica.id" class="btn btn-danger" matTooltip="Disattiva anagrafica" (click)="elimina(element.anagrafica.id)"><i class="fa fa-minus"></i></button>
            </span>
            <span style="margin:5px;" *ngIf="element.anagrafica.attivo==false">
              <button class="btn btn-success"  (click)="riattivaAnagrafica(element.anagrafica.id)" matTooltip="Riattiva anagrafica" > <i class="fa fa-plus" ></i> </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="messaggio!=null">{{messaggio}}</div>
    <div class="pagination">
      <ul>
        <li [class.disabled]="currentPage === 1" (click)="goToPage(currentPage - 1)">
          <span> <i class="fa fa-arrow-left" ></i> </span>
        </li>
        <li *ngFor="let page of getPaginationArray()" [class.active]="currentPage === page" (click)="goToPage(page)">
          <span>{{ page }}</span>
        </li>
        <li [class.disabled]="currentPage === getTotalPages()" (click)="goToPage(currentPage + 1)">
          <span> <i class="fa fa-arrow-right" ></i> </span>
        </li>
      </ul>
    </div>

</div>
</div>
</div>


</div>
