<head>
    <title>Home</title>
</head>


<body>
    <div class="ag-format-container">
        <div class="ag-courses_box">
            <div class="ag-courses_item">
                <a href="lista-anagrafiche" class="ag-courses-item_link">
                    <div class="ag-courses-item_bg"></div>
                    <div class="ag-courses-item_title">
                        Lista Anagrafiche
                    </div>
                </a>
            </div>
            <div class="ag-courses_item">
                <a href="lista-commesse" class="ag-courses-item_link">
                    <div class="ag-courses-item_bg"></div>
                    <div class="ag-courses-item_title">
                        Lista Commesse
                    </div>
                </a>
            </div>
            <div class="ag-courses_item">
                <a href="lista-contratti" class="ag-courses-item_link">
                    <div class="ag-courses-item_bg"></div>
                    <div class="ag-courses-item_title">
                        Lista Contratti
                    </div>
                </a>
            </div>
            <div class="ag-courses_item">
                <a href="dashboard" class="ag-courses-item_link">
                    <div class="ag-courses-item_bg"></div>
                    <div class="ag-courses-item_title">
                        Dashboard
                    </div>
                </a>
            </div>
            <div class="ag-courses_item">
                <a href="organico" class="ag-courses-item_link">
                    <div class="ag-courses-item_bg"></div>
                    <div class="ag-courses-item_title">
                        Organico
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>