<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
        <mat-card>
          <mat-card-title>
            <i class="fa fa-close" (click)="chiudi()"></i>
          </mat-card-title>
          <mat-card-content>
            <img width="100" height="100" [src]="data.image" alt="Logo Sincrono">
            <h3>{{ data.title }}</h3>
            <p>{{ data.message }}</p>
            <button mat-raised-button color="primary" (click)="chiudi()">Ok</button>
          </mat-card-content>
        </mat-card>
</body>
</html>
